[2020-10-23 23:57] lucacasonato opened #1 "Support preact"
I would like to use preact instead of react :-)

[2020-10-24 01:07] ije commented on #1
in fact you can replace the react import url to `preact/compat` in the `aleph.config.js`
[code]
but the SSR and fast refresh may break. i'm planning to use esbuild or swc instead of tsc in **v0.3**, also needs a stable **fast refresh** plugin in the new compiler, **preact** should be supported straightway in the future.

[2020-10-25 17:55] buttercubz opened #2 "Uncaught TypeError: relative import path"
i getting this error when i'm trying run aleph start

![app - Visual Studio Code 10_25_2020 1_51_22 PM](https://user-images.githubusercontent.com/47539192/97114867-6396d900-16c9-11eb-9884-c0d93faf3f87.png)

trace:

[code]

to reproduce:

- aleph init app
- aleph start

[2020-10-25 18:17] ije commented on #2
i think it's caused by different `path separator` between windows and posix since i used the std path mod, i will fix it ASAP, thanks

[2020-10-25 20:53] ije opened #3 "not work in legend Edge"
The browser can load modules but not render pages.

**Microsoft Edge 42.17134.1.0**
Microsoft EdgeHTML 17.17134

[2020-10-25 21:06] ije commented on #2
@buttercubz i just released a fix patch, can you please try again when you are free? thanks!
[code]

[2020-10-25 22:21] ije commented on #2
also **fix** the HMR in windows port.

[2020-10-25 22:25] ije opened #4 "HMR not working in windows"
same issue with #2 , need to replace the **path separator** `\` with `/`

[2020-10-25 22:26] #4 closed

[2020-10-26 10:24] ije opened #5 "v0.3.0"
Here's the roadmap for **v0.3.0** updates.

## Features

- [x] ~~**Scripts** component to add custom scripts(like *ga.js*, etc)~~
- [x] ~~**useEnv** hook~~
- [x] postcss processor
- [x] postcss config (`postcss.config.json` or *postcss* in `aleph.config.js`)
- [x] plugin system
- [x] ~~new jsx transform~~
- [x] inline style

### New jsx transform

~~with new jsx transform, now we can use jsx witho

[2020-10-26 17:10] lucacasonato commented on #1
Awesome. FYI preact has a hot refresh plugin too: https://github.com/JoviDeCroock/prefresh

[2020-10-26 17:11] lucacasonato commented on #5
Are the urls not going to be versioned?

[2020-10-26 18:17] ije commented on #5
@lucacasonato `https://alephjs.org/mod.ts` may map to the cli version during the compilation, it's a vague idea

[2020-10-26 18:18] ije commented on #1
i see, thanks

[2020-10-26 19:13] lucacasonato commented on #5
Interesting. I would be careful about magic resolving like that though. It will break all kinds of tooling (deno info, deno cache, deno vscode extension).

[2020-10-28 03:20] ije opened #6 "SSR interference"
add build(SSG) workspace to avoid SSR interference
- serverHeadElements
- serverScriptsElements
- serverStyles

[2020-10-28 15:55] #6 closed

[2020-10-28 15:56] ije commented on #4
fixed

[2020-10-28 15:56] ije commented on #6
fixed

[2020-10-29 23:20] #2 closed

[2020-11-02 21:13] shadowtime2000 commented on #5
As of v1.5.0 `Deno.bundle` supports tree shaking so you could also look into that as an alternative to `system.js`.

[2020-11-02 21:17] shadowtime2000 opened #7 "Add Preload Link Tags To Head"
Because this project does not bundle the output of a build it is importing from links at runtime. We should probably add `<link rel="preload" />` tags in the header for the static output so the browser knows to start fetching those files.

[2020-11-02 21:20] shadowtime2000 opened #8 "Give an Option for Bundling"
Some people (like me) would prefer to have the files bundled together instead of having `import` statements in the final build. It would be great if there was an option to use something like [denopack](https://github.com/denofn/denopack) or `Deno.bundle`.

[2020-11-03 00:04] ije commented on #7
that makes sense

[2020-11-03 00:13] ije commented on #8
can't use *denopack* or *deno.Bundle*, since we need to split code for **pages**, i have a plan to bundle all the deps in `-` directory

[2020-11-03 00:17] ije commented on #7
you can check #5 optimize section, this is in the plan

[2020-11-03 00:59] ije commented on #8
and this will be a part of the new compiler written in rust (i am focusing this currently)

[2020-11-03 01:02] shadowtime2000 commented on #7
👍 I will take a go at it.

[2020-11-03 15:25] hazae41 opened #10 "Dynamically change body style"
Hello, I'm trying to modify the `body` background when the user clicks a button.

However, it seems I cannot use the `document` keyword nor the `findDOMNode` method.

Is there a way to dynamically change the `body` background?

[2020-11-03 15:32] hazae41 commented on #10
Maybe we could have a React portal `<Body></Body>`

[2020-11-03 15:47] ije commented on #10
you can using `window.document.body.style.backgroundColor = 'black'` or `window.document.body.className = 'dark'` just ignore the vscode error hits, or strip window types:
[code]
or add dom lib:
[code]

[2020-11-03 16:16] ije commented on #10
there is **a theme using example**, you can add it in you `app.tsx`:
[code]

[2020-11-03 18:15] hazae41 commented on #10
Thanks, I've done the following

[code]

Maybe we could create a `<Body> </Body>` portal in order to do this quicker and safer?

[2020-11-03 18:31] ije commented on #10
i think `useTheme` is the right way, `<Body>` sort of complex

[2020-11-03 21:27] #10 closed

[2020-11-03 21:53] hazae41 commented on #10
So I exported useTheme to another file and Deno linter throws no-explicit-any

It works fine in app.tsx but not in any other file ❓

Anyway, I added the following workaround

[code]

[2020-11-06 15:30] ije opened #11 "Support AMP"
please check https://amp.dev

[2020-11-06 22:13] jackleslie opened #12 "Change srcDir or provide alternative"
# Issue

Really excited about this project, it looks so cool - already starting to use it for a personal project to try it out!

I was wondering about the use of `/` as the default `srcDir` - in Next.js you are able to use both `/` and `/src`, even with `pages`:

https://nextjs.org/docs/advanced-features/src-directory

The benefits of using `src`, in my experience, is noticeable when projects star

[2020-11-06 22:16] shadowtime2000 commented on #12
I think this is a good idea.

[2020-11-06 22:54] ije commented on #12
make a lot of sense, or handle this within `aleph init` command, a simple *UI* to initiated some basic options like `srcDir`

[2020-11-06 23:07] ije commented on #12
hi @jackleslie can you make a pull request? i think `srcDir: existsDirSync('/src/pages') ? '/src' : '/'` is good, more friendly, then let's improve the `init` command!
thanks.

[2020-11-06 23:32] jackleslie commented on #12
Sure @ije! Would you like me to add some tests? Or perhaps edit one of/all of the examples so that they use `src`?

[2020-11-06 23:49] ije commented on #12
the `srcDir` should work i already tested before, i will add an example later. thanks!

[2020-11-07 01:28] ije commented on #12
done, thanks @jackleslie

[2020-11-07 01:28] #12 closed

[2020-11-07 02:11] Jack-Works opened #14 "Self recommendation of transformer related libraries"
Hi! This library is cool, thanks for your work! When I view the source code, I found I can provide some better alternatives to some TS transformers.

React Refresh TS transformer: [react-refresh-typescript](https://www.jsdelivr.com/package/npm/react-refresh-typescript) [(PR to React)](https://github.com/facebook/react/pull/19914)

`react-refresh-typescript` is provided in both [ESM](https://cdn.js

[2020-11-07 02:31] ije commented on #14
this is fabulous!!! the `react-refresh` transform in Aleph.js is not stable currently, your library definitely is the thing i was looking for!

[code]

this should work, i will test it later, great work thanks a lot!

[2020-11-07 02:39] ije commented on #14
currently i'm focusing on Aleph.js's new compiler with [swc](https://swc.rs/) in Rust to get better prefs since **tsc** is slow, also needs a stable fast refresh plugin for the new compiler, would you be interested in the plugin in swc(Rust)?

FYI please check the [swc branch](https://github.com/alephjs/aleph.js/tree/swc)

[2020-11-07 02:47] Jack-Works commented on #14
I know swc but never write a plugin for it. I may have a try 👀

[2020-11-07 06:05] ije commented on #14
@Jack-Works i just tested, something unexpected was going to happen.

**compile.ts**
[code]
**logo.tsx**
[code]

i got an unfinished result:
[code]

should be:
[code]

anything i missed?

[2020-11-07 06:14] Jack-Works commented on #14
Hooks signature are missing, strange, I'll investigate it later

[2020-11-07 06:15] ije commented on #14
cool, thanks

[2020-11-07 07:14] Jack-Works commented on #14
Sorry I cannot reproduce that. My result for your example code is:

[code]

[code]

[2020-11-07 08:25] ije commented on #14
@Jack-Works i changed the transformers order(seems **react-refresh-typescript** should be the first one), it works now!

[code]
what a feat! thanks!

[2020-11-07 12:23] etcumvt opened #17 "Please considering rename aleph.js"
This is **not** a technical topic.

The name aleph matches Cult(アレフ) in Japan.
https://en.wikipedia.org/wiki/Aleph_(Japanese_cult)

Japanese people are a bit afraid to talk about it.
Concerns about the name have already erupted from the Japanese community.
https://twitter.com/search?q=aleph.js%20lang%3Aja&src=typed_query&f=live

[2020-11-07 16:32] kebot opened #18 "Question: how to check it's on server side or client side?"
A lot of existing libraries design for Nodejs checking whether it's server side or client side by running `typeof window === 'undefined'`. But in Deno, `window` is not `undefined`.

For example when trying to use [typestyle](https://github.com/typestyle/typestyle/), server will crash with this error message:
![image](https://user-images.githubusercontent.com/289392/98446615-e898de00-211e-11eb-9f49

[2020-11-07 17:21] ije commented on #18
this is an issue since deno is not **production ready**, the promising compatibility with browser is not **100%**, but you still can use it because Aleph.js provides a virtual `document` object for you components during the **ssr/ssg** .

[2020-11-07 17:24] ije commented on #18
can you show me your code? i think **typestyle** can works fine in Aleph.js

[2020-11-07 17:34] ije commented on #17
sorry to hear that, **Aleph** was coming from one of my favorite books [The Aleph  (by Jorge Luis Borges)](http://www.phinnweb.org/links/literature/borges/aleph.html), it means *endless* in the book, i like the idea and it's easy to create an identity.

[2020-11-07 17:43] ije commented on #17
anyway i want Aleph.js(for now) is **OS Community** powered, let's discuss about the project name here, you are welcome to give any idea about it, thanks

[2020-11-07 17:45] ije commented on #18
ok, i will check it, thanks

[2020-11-07 18:26] etcumvt commented on #17
Thank you for your consideration.
First of all, please let me make it clear that there is nothing incriminating about community members or the books.

I saw a tweet that said, "This name 'aleph(アレフ)' might be hard to accept in Japan." I agree with this. In Japanese society, pronouncing the word 'aleph(アレフ)' can be a bit intimidating or frightening. People may be surprised to hear it in the streets

[2020-11-08 06:25] ije commented on #18
@kebot fixed, now you can use `typestyle` no errors throw, but the **ssr** can not work:

[code]

[2020-11-08 07:50] pedox opened #19 "SWR doesn't work"
Hi, im trying to using swr using the example from documentation [here](https://alephjs.org/docs/basic-features/import-from-npm) with little bit modifications

[code]

when i trying to visit that page for the first time, gives me error message, and suddenly commands killed.

[code]

using Axios works pretty well, i think it because they trying to access navigation object through server side, that s

[2020-11-08 09:34] ije commented on #19
you can use Axios with useSWR Hook now, but will get a warning text:

i just created a pull request to swr, hope it can fix this.

[2020-11-08 09:40] ije commented on #19
please upgrade the cli command:

[code]

[2020-11-08 10:32] #18 closed

[2020-11-08 10:37] #14 closed

[2020-11-08 14:10] mohsenkhanpour commented on #5
Aleph.js looks very promising. I have some suggestions:
1. Designing a plugin API so the community can also contribute to ecosystem.
2. Using a monorepo, so the code related to core and plugins, and examples are separated.
3. Use a folder named `static` for holding static files and build output to `public` rather than `output`. This is usually the convention and hosting services have defaults for

[2020-11-08 14:22] ije commented on #5
thanks for your kind suggestions!
1. Aleph.js already has a plugin system, pleas check [plugins](https://github.com/alephjs/aleph.js/tree/master/plugins) and [example](https://github.com/alephjs/aleph.js/tree/master/examples/with-plugins).
2. Aleph.js works in Deno, `monorepo` is just Url prefix, will do in the future on-demand.
3. this repository is a library, directory `public` and `dist`(SSG ou

[2020-11-08 14:53] mohsenkhanpour commented on #5
@ije
1. Yes, I checked plugins and examples. What I meant was like a more elaborate API, for example Gatsbyjs provides some hooks to Gatsby lifecycle like `onPreBuild`,`onPostBuild` ...
also as I see now plugins don't accept options.
For example config for plugin could be:
[code]
also having a naming convention for plugins would be very helpful, Gatsby uses like :
`gatsby-plugin-*` : For general p

[2020-11-08 15:04] mohsenkhanpour commented on #5
@ije
Also supporting CSS modules:
[code]
and
[code]

[2020-11-08 15:22] ije commented on #5
@mohsenkhanpour
1. the plugin system is vary simple, currently only support **module import resolve** and **transform code**, since we don't use webpack/rollup/babel.
3. oh sorry! i think `static` should be a sub-folder of the `public` folder, Aleph.js server will serve the `public` dir as root directly. All files in `public` folder will be copied to `output` dir by **SSG**
**for example**, you wa

[2020-11-08 15:23] ije commented on #5
@mohsenkhanpour **CSS modules** will be supported directly in the future.

[2020-11-08 15:28] pedox commented on #19
no problems, that looks good!

[2020-11-08 15:28] #19 closed

[2020-11-08 16:25] hazae41 opened #21 "Can't export an arrow function as default from a page"
The default syntax is

[code]

but when I use an arrow function

[code]

I get a blank page with `400 - Module "undefined" should export a React Component as default`

However, it works when declaring then exporting

[code]

or when using `forwardRef`

[code]

It would be great if we allowed arrow functions as well as regular functions, what do you think about it?

[2020-11-08 17:05] ije commented on #21
sorry, alephjs will check the module's export default ensure it's a validate component:
- must a function component or class component extends React.Component(don't support fast refresh)
- function component must be named with `/^[A-Z]/`

best practice with arrow function is:
[code]

[2020-11-08 19:14] #21 closed

[2020-11-09 02:37] webdeb commented on #17
@etcumvt maybe this group will rename them self again at some point to "gugl", and then?

[2020-11-09 02:39] khromov opened #22 "Equivalent of Next.js getServerSideProps in Aleph?"
I was reading the documentation about the [useDeno](https://alephjs.org/docs/advanced-features/use-deno-hook) hook and it says:

After reading the examples, it appears you can only use the `getStaticProps` approach from Next (ie. fetching data at build time), but that there is no way to use the `getServerSideProps` approach?

A common use case for this that I don't understand how to solve in Aleph

[2020-11-09 03:44] ije commented on #22
i'm planning to improve the `useDeno` hook in **v0.3.0**, will support dynamic SSR that can fetch data on each request.
like you say, currently alphejs will bundle the `useDeno` code even it's *dead-code* in browser, but this can be optimized by the new comilper in **v0.3.0** .

[2020-11-09 04:22] ije commented on #17
@etcumvt i found there is a food company which name is 「株式会社アレフ」 in Japan.

<img width="326" alt="Screenshot 2020-11-09 at 12 21 47" src="https://user-images.githubusercontent.com/2883484/98499980-26644680-2286-11eb-80f8-97ebed931493.png">

https://www.aleph-inc.co.jp/

[2020-11-09 11:42] etcumvt commented on #17
@ije
As you point out, it matches the name of the company.

There seems to be a spike in visits and inquiries to the website after execution of Death Penalty.
https://www.j-cast.com/2018/07/06333206.html

A staff said.
'It's annoying because impressions are important in the restaurant industry. If we could get rid of it, we'd take steps.

[2020-11-09 12:00] mohsenkhanpour opened #23 "Fix Discord invite link"
Thanks for creating the Discord server, I saw the README.MD update with the link.

However the link you have used is for a channel inside the server, so if someone is not part of server and they click on it, they cannot see channel.

You should create an invite link and set expire date to never so you can use it as a permalink to invite members. In order to do so:
1. Click on "Create Invite" icon:

[2020-11-09 12:05] mohsenkhanpour commented on #11
Taking a look at Next.js implementation could help:
https://nextjs.org/docs/api-reference/next/amp

[2020-11-09 12:59] mohsenkhanpour commented on #22
It would be good to provide docs for class based components too.
`getStaticProps`, `getServerSideProps` would work in class based components too.
`useDeno` is a great idea, and less confusing than Next.js implementation.

[2020-11-09 15:43] ije commented on #23
oh, i'm sorry, will update it later, thank you so much!

[2020-11-09 15:57] ije commented on #22
@mohsenkhanpour i almost forgot how write a class component...but you are definitely right, should provide the `gerStaticProps` and `getServerSideProps` compatibility, and easier to migrate the next app to aleph. thanks 👍

[2020-11-09 19:10] ije commented on #23
updated, https://discord.gg/pWGdS7sAqD

[2020-11-09 20:20] #23 closed

[2020-11-10 02:58] jksy commented on #17
I just happened to find it and would like to comment on it.
I'm Japanese and I know of a religious group called Aleph.

In my opinion, just because the name Aleph is frowned upon in Japan, doesn't mean we should change the name used in other countries.

Even if the Japanese don't use it because this name, it's up to alephjs to decide, not us to change it.
I don't mind, though.

If you need it, you

[2020-11-10 05:10] Ovis commented on #17
I'm Japanese, and I am aware of Aleph and the terrorist organization it was based on.
But I don't think we need to change the name.

There are many languages in the world and they have meaning. This is diversity and should be respected.
If the purpose of naming it is to make fun of it, it's a problem. But otherwise, I don't think it needs to be changed.
There are some words in Japanese that are pr

[2020-11-10 05:16] engnakagawa commented on #17
例えばv9.1.1のブロダクトがあったとします。アメリカ人はこれを「同時多発テロを想起させる」として避けるのでしょうか？私はそうは思いません。

例えば、誕生日が9月11日の娘がいたとして、同様の理由で、誕生日パーティーを開催することを禁止するのでしょうか。私はそうは思いません。

私はこの問題は同種だと考えています。
9月11はただの日付です。alephはただの単語です。

また、「日本人」は主語として大きすぎます。

よって私はこのissueの方針に反対です。

[2020-11-10 05:29] kosaki commented on #17
+1.
I don't think we need to change.

I am Japanese and I agree "for Japanese" is too much strong.

[2020-11-10 08:56] na4zagin3 commented on #17
Another Japanese here too.
Whenever I say alephs in mathematical or linguistic contexts, I don’t think of the cult formerly called Aum, with which I think it is more popular because that was the original name they used when they committed the acts of terrorism.

[2020-11-10 17:08] buttercubz opened #24 "use import maps"
how can i use import maps with aleph?

[2020-11-10 20:37] khromov opened #25 "Cannot resolve module 'head' error when importing Tailwind"
I'm trying to [add Tailwind](https://alephjs.org/docs/basic-features/built-in-css-support) to `app.tsx`:

`app.tsx`

[code]

but I'm getting:

[code]

[2020-11-10 21:29] buttercubz commented on #25
@khromov import css in `style/index.less`

[2020-11-10 21:42] khromov commented on #25
@buttercubz Thanks, it works as a workaround, but I was under the impression that with module import you could have it bundled with your JS (which is what I want), not as an external dependency.

[2020-11-10 22:11] shadowtime2000 commented on #25
@khromov I believe that bundling was on the `v0.3.0` roadmap (#5) so you may be able to do something like that after.

[2020-11-10 22:39] ije commented on #25
i think this is a bug, i will figure it out. and i'm considering a pugin for tailwind to support **tree-sharking**.

[2020-11-11 00:08] shadowtime2000 commented on #25
@ije How exactly would that work? Something like CSS modules?

[2020-11-11 00:28] ije commented on #25
@shadowtime2000 maybe use postcss plugin: https://tailwindcss.com/docs/installation#process-your-css-with-tailwind

[2020-11-11 00:29] ije commented on #24
@buttercubz  please check https://alephjs.org/docs/basic-features/import-maps

[2020-11-11 01:35] buttercubz commented on #24
oh thanks, i didn't see this

[2020-11-11 01:35] #24 closed

[2020-11-12 05:10] #25 closed

[2020-11-12 05:10] ije commented on #25
fixed

[2020-11-13 23:16] kebot opened #27 "Error when trying to import ReactDOM with SSR enabled"
just import it will crash the whole page

![image](https://user-images.githubusercontent.com/289392/99129560-3bd2cb00-260e-11eb-83ac-fb0f94e9faa3.png)

Demo:
[code]

# Update
Workaround: disable SSR

[2020-11-13 23:55] shadowtime2000 commented on #27
@kebot Just asking, why are you importing ReactDOM?

[2020-11-14 01:16] ije commented on #27
@kebot Portals are not currently supported by the **SSR**, please use it in **SPA** mode.

To enable the SPA mode, disable SSR in the `aleph.config.js`:

[code]

[2020-11-14 18:06] ije commented on #27
@kebot please upgrade to v0.2.25, that fixed

[code]

[2020-11-14 22:34] JLarky commented on #17
I'm proposing `dext.js` :) as in "deno" instead of "node" :)

[2020-11-14 22:42] webdeb commented on #17
omg, aren't there some bugs to fix of some features to contribute?

[2020-11-15 01:21] #27 closed

[2020-11-15 01:34] ije commented on #17
@JLarky interesting, in fact there is another module named *dext* in [deno.land](https://deno.land/x/dext).
Admittedly, Aleph.js(for now) is inspired by **next.js**, but i hope the project name is meaningful with strong identity.

[2020-11-15 01:42] ije commented on #17
@webdeb i guess need to wait, since Deno is not production ready and Aleph.js is in alpha stage, but welcome to contribute!
FYI please check our **v0.3 roadmap**(#5).

[2020-11-15 01:59] ije commented on #17
there some ideas for voting:

- aleph.js (**aleph**, currently)
- postjs (**post**, origin project name [repo](https://github.com/ije/postjs), inspired by *postcss*)
- dxjs (**dx**, deno + jsx)

*(other names are accepted)*

[2020-11-15 02:31] shadowtime2000 commented on #3
Maybe I am not fully understanding the problem here but this could get fixed with bundling (#8)?

[2020-11-15 02:35] ije commented on #3
bundling shall fix this, but dev mode still has this issue

[2020-11-15 03:31] shadowtime2000 commented on #3
@ije I think it is safe to assume that developers would use modern browsers which support ES modules. That should probably be written that as a note in the docs.

[2020-11-15 04:40] ije commented on #3
that is make sense

[2020-11-15 06:12] masataka opened #29 "Import-map that defines a local path alias does not resolve."
When using Aleph's routing, if I refer to components from files under the "/pages/" folder, the URL will become dirty as the folder layer gets deeper. Therefore, I want to replace the project root folder with "@ /". This is possible with simple Deno projects but Aleph.js can't compile them.

Is there a solution?

#### ./import_map.json

[code]

#### import in a page file

[code]

#### error messag

[2020-11-15 06:27] ije commented on #29
@masataka will fixed this in **v0.3**, thanks!

[2020-11-15 06:39] masataka commented on #29
@ije Good news. I look forward.

[2020-11-15 09:31] masataka opened #31 "Lack of URL encoding processing"
Due to the lack of URL encoding processing, requesting a URL with spaces / unicode strings / more for the pages / APIs / static files will result in a 404 error.

#### File structure
- "public"
     - "a b"  <- with space!
        - "c.txt"

#### Request
[code]

-> 404 - Page Not Found

[2020-11-15 09:41] ije commented on #31
i will figure it out, thanks @masataka

[2020-11-15 09:54] masataka commented on #31
@ije Thanks a lot! your project excited me.
(I saw /alephjs/aleph.js/blob/master/server.ts.) And...I think static files should be resolved faster than page services and API services. This is because pages and APIs are dynamically routeable and can unintentionally handle requests for static files.
Since the API is placed in a special api path, it would be better to solve it in the order of 1) stati

[2020-11-15 10:05] ije commented on #31
@masataka  glad you like Aleph.js and thanks for your issues to make the framework better.

i think should put APIs routes before static files, **for example**, you want to render images using api then you should ensure the `/api/*.jpg` does not exist in the `public` folder if you change the order to static file as first:

- /api/avatar.jpg.ts
- /public/api/avatar.jpg (conflict)

[2020-11-15 10:08] ije commented on #31
but we can improve the routing prefs in the future.

[2020-11-15 10:35] masataka commented on #31
@ije I think static files are very intentionally placed because of static one. It's a very special and intentional case If you create an api folder directly under /public. But in the future, the dynamic routing specification is extended to do the following, that special case would be useful as well.

- /api/avatar[ID].jpg.ts <- an extended specification (I dream), doesn't work today.
- /public/api

[2020-11-15 12:17] emmadal opened #32 "No compile Error in the page"
If it's possible to make and compiling error in the page like in the console this is will be good. Each time that we got a compile error we must see in the console. it's not good for the user experience

[2020-11-15 13:02] ije commented on #32
yes, this is a part improvement in v0.3(#5).

[2020-11-15 21:42] emmadal commented on #32
Super. good jobs

[2020-11-16 02:02] shinspiegel opened #33 "A way to get a JSON from a request body"
Hi,

There is a way to get a JSON from a request body?

If not, can I help to improve this project providing a function for this?
Maybe creating a new method in the Request class?

Thanks in advance!

[2020-11-16 02:32] ije commented on #33
hi @shinspiegel , of course you are welcome to imporve the `Request` class, what the method name you perfer? is it `jsonBody`?
FYI please ref https://deno.land/std@0.77.0/http/server.ts#L56

[2020-11-16 11:32] Hunam6 opened #34 "The SASS module doesn't seem to work"
That's my config file:
[code]
It returns an error:
[code]

[2020-11-16 15:40] ije commented on #34
@Hunam6 sorry, this is bug, I've fixed, will release it later.

[2020-11-16 22:06] shinspiegel commented on #33
I created a [pull/request](https://github.com/alephjs/aleph.js/pull/35) with the changed, want to discuss [there](https://github.com/alephjs/aleph.js/pull/35) or here?

[2020-11-17 13:50] masataka opened #36 "Overnormalize the format when Head component prints script tags."
When importing an external script such as JQuery, the script tag is written in the part surrounded by the head tag, but at that time Aleph.js is overnormalized and the browser cannot interpret the HTML.

[code]

Aleph prints a script tag like this.

[code]

This seems correct, but it's actually HTML that the browser can't draw as intended.  we need a below.

[code]

There is a workaround.  I wrote

[2020-11-18 03:09] #36 closed

[2020-11-18 03:10] ije commented on #36
@masataka just fixed it, thanks

[2020-11-18 05:30] ije commented on #34
@Hunam6 i just released a fix patch, please update the `aleph` command:

[code]

[2020-11-18 07:05] #34 closed

[2020-11-18 13:08] #31 closed

[2020-11-18 14:47] alfredosalzillo commented on #22
Something like a withUseDeno hight order component should work.

[code]

[2020-11-18 16:50] Hunam6 opened #40 "The SASS plugin only support the SCSS syntax"
When using the SASS syntax it throws a syntax error.

[2020-11-18 16:55] Hunam6 commented on #40
Working:
[code]
Not working:
[code]

[2020-11-18 16:58] shadowtime2000 commented on #40
All the [SASS plugin](https://github.com/alephjs/aleph.js/blob/master/plugins/sass.ts) does is load a Deno version of [the SASS NPM package](https://www.npmjs.com/package/sass) so maybe it is a problem there.

[2020-11-18 17:00] shadowtime2000 commented on #40
Nevermind we would have to enable [indented syntax](https://github.com/sass/node-sass#indentedsyntax) I think in the plugin. We could possible add it as an option.

[2020-11-18 18:04] shadowtime2000 commented on #40
@ije Thoughts on how to add an option for indented SASS syntax?

[2020-11-18 20:45] yiss opened #42 "Support for Tailwind CSS"
I discovered AlephJs and I really love it, it just works out of box like magic. I'm trying to add support for TailwindCSS but I have no I idea where to start.
The documentation here suggest to use PostCSS but I don't think there is a PostCSS plugin in Deno yet : https://tailwindcss.com/docs/installation

[2020-11-18 21:09] shadowtime2000 commented on #42
@yiss Yeah, there isn't an official way to use PostCSS with Deno but @ije created [a CDN which converts NPM packages to Deno compatible packages](https://esm.sh). I think Aleph already uses that but I don't think it is possible to configure that. Once configuration is allowed, it would probably pretty simple to use Tailwind.

[2020-11-18 23:52] ije commented on #22
hi @alfredosalzillo, I like the *HOC* idea, are you interested in implementing it? or i will add it later, also `withRouter` for `useRouter`, thanks

[2020-11-19 03:37] akash-joshi opened #43 "Invalid Hook Call on importing ant components"
Hey guy ! Been trying aleph since I really like the concept. However, I faced some issues while importing the default ant components. The thing threw the "Invalid Hook Call" error even though I hadn't defined any hooks.

You can check out `pages/index.tsx` in this repo https://github.com/akash-joshi/my-own-writing-app/tree/aleph-dev

Thanks for the help in advanced.

[2020-11-19 04:10] shadowtime2000 commented on #43
I believe [this line](https://github.com/akash-joshi/my-own-writing-app/blob/aleph-dev/app.tsx#L2) should be a problem because I believe Aleph doesn't support using `import "something.css"` currently.

[2020-11-19 04:20] ije commented on #43
@akash-joshi thanks, i will run your example to figure it out what happened.

[2020-11-19 04:40] ije commented on #42
@yiss, sorry i'm not user of tailwind, you can try to import tailwind via CDN:

[code]

but this does not support tailwind's build features, likes tree-shaking, theme, directives, etc.

[2020-11-19 04:44] ije commented on #42
as @shadowtime2000 mentioned, aleph support **postcss** with `autoprefixer` plugin *out-of-the-box*, but i'm not sure TailwindCSS can be configured in `postcss.config.json`:
[code]

[2020-11-19 06:04] ije commented on #43
@akash-joshi sorry i can not repeat the error, can you post the log messages?

![localhost_8080_(Desktop HD)](https://user-images.githubusercontent.com/2883484/99627811-f54af980-2a6f-11eb-843e-4e3c767e8c38.png)

[2020-11-19 06:38] #40 closed

[2020-11-19 06:39] ije commented on #40
@Hunam6 fixed, will be applied to next release, thanks @shadowtime2000

[2020-11-19 08:44] shadowtime2000 commented on #42
We could do a `postcss.config.(js|ts)` instead:
[code]
or whatever else is the format for adding plugins to PostCSS (I haven't used it that much).

[2020-11-19 08:51] shadowtime2000 opened #44 "Dev & Production Server Not Working"
I created a basic project with `aleph init` and the development server is basically not working. If I go to `localhost:8080` I just get `404 page not found`. This is the same case for the production server. The only thing that is working for me is `aleph build` which seems to be building properly.

[2020-11-19 08:53] shadowtime2000 commented on #44
[Reproduction repo](https://github.com/shadowtime2000/playing-around-with-aleph).

[2020-11-19 08:56] shadowtime2000 commented on #44
This is probably a problem with my system and not with Aleph so here is some of my environment information:
OS: Windows 10 10.0.19041
if other pieces of information are necessary I can give them.

[2020-11-19 09:29] ije commented on #44
can you please post the terminal log messages?

[2020-11-19 09:40] ije commented on #42
@shadowtime2000 ` "plugins": ["tailwindcss", "autoprefixer"]` means aleph will import those plugins automaticlly from ems.sh where the `postcss` module is from, `autoprefixer` plugin can work well but the `tailwindcss` i'm not sure.

[2020-11-19 09:49] yiss commented on #42
@ije @shadowtime2000
I was thinking of doing something like this :
`plugins/postcss.ts` would be the same as `sass-loader` plugin.
and in the plugins we can do :
[code]
I'm not sure what do you think ?

[2020-11-19 10:11] ije commented on #42
@yiss i want to support **postcss** out of the box, no extra plugins needed, if you want to configure the postcss plugins you can do like:
[code]

[2020-11-19 10:33] yiss commented on #42
@ije Seems reasonable since most people would want to use PostCSS and might not want any other plugins. I have a question though, is there a way to specify plugins in the project folder?
For example let's say that my app is called `my-awesome-aleph` if I created a file `my-awesome-aleph\plugins.ts` with my plugins would that work?

[2020-11-19 11:12] ije commented on #42
`postcss.config.(js|ts)` could be an option(currently not support):
[code]

[2020-11-19 16:43] akash-joshi commented on #43
So an update, it did work. I had to clear the aleph cache by running `rm -rf .aleph` to make it work.

Thanks a lot for your help :). I was going to make a video on Deno + React and Aleph is going to play a central role in it.

[2020-11-19 16:43] #43 closed

[2020-11-19 17:02] alfredosalzillo commented on #22
I'd like to contribute :)

[2020-11-19 17:37] shadowtime2000 commented on #44
@ije These are the logs, which I believe are normal.
![image](https://user-images.githubusercontent.com/66655515/99702542-c4a49900-2a4a-11eb-90da-fe149caea483.png)

[2020-11-19 20:59] ije commented on #43
cool, maybe the `reload` flag can help you to clean up the build cache next time:
[code]

[2020-11-19 21:13] ije commented on #44
please try `v0.2.25`, I'm not sure it is caused by #39
[code]

[2020-11-19 21:16] ije commented on #44
yeah, strange...anyway i will try it on windows port, thanks

[2020-11-20 00:25] italodeandra opened #46 "Necessity of VSCode-specific files"
### Off-topic

Hi guys, first of all congratulations on the library it seems really promising. It actually got me into deno again, I'll be trying it in some hobby projects and maybe in the future contribute for it to get production-ready.

This "issue" is actually a discussion, but as the discussion feature is not available I think it might not be bad submitting an issue, you guys can close and su

[2020-11-20 00:39] ije commented on #46
hi @italodeandra, thanks for your suggestion, yes you are right i have a plan to provide an *UI* for the `init` command that let people customize them started app in **v0.3**(#5). if you are interested in it welcome to contribute, thanks

[2020-11-20 02:02] italodeandra opened #48 "Material-UI implementation"
Hi,

I'm currently trying to implement the usage of [Material-UI](https://material-ui.com/).

Any component that I try to import and use throws me this error: `TypeError: window.getComputedStyle is not a function`.
I checked the place where this error in thrown, and even though `window` exists, the `getComputedStyle` isn't defined. Maybe something related to SSR but I also tried disabling SSR and

[2020-11-20 02:04] shadowtime2000 commented on #48
That is strange because [getComputeStyle](https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle) is supported on most browsers according to MDN.

[2020-11-20 02:21] ije commented on #48
https://github.com/alephjs/aleph.js/blob/master/project.ts#L597 here we can implement a virtual `getComputedStyle` function for SSR.

[2020-11-22 16:54] mohsenkhanpour opened #49 "🔍 SSG/SSR software feature comparison"
| Framework | [Aleph.js ](https://alephjs.org/) | [Next.js](https://nextjs.org/)/[Nuxt.js ](https://nuxtjs.org/) | [Gatsby.js](https://www.gatsbyjs.com/)/[Gridsome ](https://gridsome.org/) | [Sapper](https://sapper.svelte.dev/) | [eleventy](https://www.11ty.dev/  ) |
|-|-|-|-|-|-|
| Templating | Alef/React/Preact/Markdown | React/Vue | React/Preact/Vue | Svelte | HTML/Markdown/JavaScript/Liquid/Nu

[2020-11-22 17:23] ije commented on #49
this sheet is vary clear and useful, thanks @mohsenkhanpour

[2020-11-22 17:25] ije commented on #49
i pined this issue, let's keep updating, thanks!

[2020-11-22 18:31] shadowtime2000 commented on #49
Doesn't Aleph [already have a Link preloading component](https://github.com/alephjs/aleph.js/blob/master/link.ts)?

[2020-11-22 18:42] ije commented on #49
yes, we have Link reloading when mouse over or specify `preload` prop.

[2020-11-22 19:52] mohsenkhanpour commented on #1
@ije
It's interesting that the first issue (#1) with Aleph.js is `preact` support. I sometimes feel SSR frameworks build React too much into the framework than when it is replaced by Preact some functionality would not work as expected.

According to Dan Abramov:

There are many frameworks that do the same thing but just with another templating library. Take Next.js, Nuxt.js and Gatsby/Gridsome an

[2020-11-22 20:05] mohsenkhanpour commented on #49
Added Link component

[2020-11-23 05:29] ije commented on #1
@mohsenkhanpour interesting, it's a big challenge to implement SSR/SSG/Routing/HMR for hybrid frameworks. Aleph's goal is to implement **production-ready** full-stack framework with `jsx` in Deno, **preact** can be compatible easy but **vue** or other frameworks are not in the planning. i understand it is pain to bring Node ecosystem to Deno, but i need to focus on minimal implement for the framwo

[2020-11-23 06:13] mohsenkhanpour commented on #1
Yes, exactly.
I don't mean that Aleph.js should support vue out of the box.
What I am saying is if Aleph.js provides the right abstractions, and hooks into its lifecycle it would make it easier for the community to write up their own plugin to support other libraries.

SSG with these libraries is mainly focused on "render to string" method which most libraries already have.
SSR is static generatio

[2020-11-23 16:27] shynome opened #50 "how to get url query params"
I want to get url query params,but I can't get it by using `useRouter`
[code]

[2020-11-23 16:59] alfredosalzillo commented on #50
Should be
[code]
query is of type [URLSearchParams](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams)

[2020-11-24 00:35] #33 closed

[2020-11-24 01:52] purpledrosophila opened #51 "Documentation"
Hi everyone!
I'm a technical writer, and I'm contributing to a ghostwritten article about Aleph.js features. I can't tell you where it is because of company NDAs, but rest assured that it's positive and should make more people interested in the framework. Anyway, doing the article really piqued my interest, so I did a deep dive into your docs. I was wondering, since I've been writing software docu

[2020-11-24 01:55] shadowtime2000 commented on #51
@purpledrosophila You can contribute to the documentation [here](https://github.com/alephjs/alephjs.org).

[2020-11-24 03:07] ije commented on #51
hi @purpledrosophila, you are welcome to imporve our documentation! please follow the docs repo link @shadowtime2000 metioned, thanks!

[2020-11-24 03:31] shynome commented on #50
thanks, it's woring

[2020-11-24 03:31] #50 closed

[2020-11-27 19:32] nikitalk commented on #17
Maybe dext.js (**de**no + ne**xt**)?

[2020-11-27 20:26] shadowtime2000 commented on #17
@nikitalk This was already said previously in this issue that their is already a module called [dext](https://deno.land/x/dext@0.9.4).

[2020-11-30 19:03] #51 closed

[2020-12-01 14:16] ije opened #53 "[RFC] Alef Component Concept"
Since a lot people have interest in other framework like vue in Deno, I don't think Aleph.js should support them. Aleph's goal is to bring producation ready web framework with **JSX** syntax in Deno.

But let me tell you someting new, a new component system will ship after **v0.3** done, I want to create a new web framework in Deno with **JSX** syntax which should be fast, simple and typed. Some i

[2020-12-01 16:23] shadowtime2000 commented on #53
I like how it uses more implicit sections like Marko instead of explicitly being separated into different parts. @ije Do you have an idea of what the compiler output may look like for it?

[2020-12-01 18:45] shadowtime2000 commented on #53
@ije I'd recommend you create the compiler and such in a different repo called `alef` or something to allow others to more easily use it without Aleph.

[2020-12-01 20:36] mojtabakaviani commented on #42
Can add this issue to v0.3.0 roadmap?

[2020-12-01 23:10] shadowtime2000 commented on #53
I like it's conciness though compare it with React

[code]

[code]

[2020-12-02 03:27] ije commented on #53
@shadowtime2000 yes, i will create a repo to implement this.

[2020-12-02 03:30] ije commented on #53
@shadowtime2000  or no fragment

[code]

[2020-12-02 03:31] shadowtime2000 commented on #53
Wow, even better!

[2020-12-02 03:32] shadowtime2000 commented on #53
@ije I am not an expert on web performance and bundle size, but wouldn't having no runtime cause a big bundle size with stuff like reactivity, actually rendering stuff, and memoization?

[2020-12-02 03:38] ije commented on #53
huge application may have this issue, most applications should be lighter than react

[2020-12-04 22:51] adamsir opened #54 "Fix typo in cli help menu"
https://github.com/alephjs/aleph.js/blob/6d46e39876d5dfc1f1600d9296444c84d83813b3/cli.ts#L11

`appliaction` should be `application`

[2020-12-05 03:34] #54 closed

[2020-12-05 20:53] shinspiegel commented on #5
What is needed for the API functions to be available in the Vercel?

[2020-12-05 20:56] shadowtime2000 commented on #5
@shinspiegel If you take [a look at the serverless functions Vercel docs](https://vercel.com/docs/serverless-functions/introduction) it seems like only NodeJS is supported for serverless functions. Once Deno is supported, it should be able to work fine, though it may need some communication with the team on serverless functions for Vercel.

[2020-12-05 22:10] shadowtime2000 commented on #5
@ije For full testing do you think we could use Deno's unstable test coverage feature with a CI for test coverage?

[2020-12-05 23:08] ije commented on #5
@shinspiegel @shadowtime2000 this https://github.com/TooTallNate/vercel-deno can help, we should fork it to support aleph's routing

[2020-12-06 08:32] mohsenkhanpour commented on #5
I have tried serverless with Deno, Vercel definitely supports it. Vercel also support Python, Ruby and Go.
Netlify Functions currently support JavaScript (with the option to bundle npm dependencies from package.json) and Go.
@ije @shadowtime2000 @shinspiegel
As far as I know serverless functions are not dependent on the client side library. You send a request and you receive a response.
Routing is

[2020-12-06 08:48] ije commented on #5
@masataka The `APIRequest` of Aleph is not a standard `ServerRequest` of **std** which vercel-deno is using, we need to inject router info base on api file path and support dynamic api routes:

[code]

This can not work in Vercel with **vercel-deno**.

[2020-12-06 09:37] mohsenkhanpour commented on #5
@ije I see. I confused it with client side routes, however you are refereeing to API routes.
It's like server routes of Sapper, and Dynamic api routes of Next.js.
So these API dynamic routes will also work for dev server, and production server (for example if you want to self host, Aleph).

[2020-12-06 09:50] mohsenkhanpour commented on #5
Forking it would be a great idea. I suppose people who use other frameworks could also benefit from using Deno on the serverless side.

@ije  BTW have you thought of how to implement custom server (oak)? I see it is in the check list, but there isn't much discussion about it.

How does Sapper's custom server and custom API routing work?

This is the custom server of default Sapper template:
https:

[2020-12-08 05:29] iFwu commented on #53
I think https://github.com/BuilderIO/jsx-lite and https://github.com/ryansolid/solid can be considered.

[2020-12-08 05:31] shadowtime2000 commented on #53
@iFwu What exactly do you mean by that? [The compiler I believe will already use **something** like what SolidJS does](https://github.com/alephjs/alef/issues/1#issuecomment-739128530), except I think in some cases it won't even do that.

[2020-12-08 05:49] iFwu opened #56 "Fetching API Routes with `useDeno` causes infinite loop"
[code]

[code]

When request `http://.../api/test` it will send `{ data: "test" }` but after requesting the index page, the server pend all requests.

[2020-12-08 06:35] ije commented on #56
@iFwu thanks, I will try you example later.

[2020-12-08 06:44] ije commented on #53
hey @iFwu, as @shadowtime2000  mentioned, the AOT compiler will transpile JSX to native Dom operations, no need to compile template in browser like solid do

[2020-12-08 06:56] iFwu commented on #53
Thanks for replying. I got the difference now.
At first look, I thought the concept is fairly alike to SolidJS. But I didn't see how the reactivity will be like in an AOT compiler. I will check Svelte for the details. If fine-grained reactivity with JSX can be implemented without templates, I'll be very excited.

[2020-12-18 17:11] shadowtime2000 commented on #53
@ije After v0.3.0 will we start slowly dropping React support or something? Or will React still be supported?

[2020-12-18 17:50] ije commented on #53
@shadowtime2000 React is ever the first framework in Aleph.js, and i wish we can import react component in Alef Component in the future.

[2020-12-18 18:17] pita238 opened #58 "Can't remove aleph logo from title"
Hi,

I removed logo from index.tsx and app.tsx but aleph logo is still present in title of webpage.

[2020-12-18 18:19] shadowtime2000 commented on #58
It is probably because you have to remove the `favicon.ico` from the `public` folder, because i know Chrome will automatically fetch it unless it is specified in one of the `<head>` tags.

[2020-12-19 09:07] ije commented on #58
hi @pita238, like @shadowtime2000 said, you can remove the `favicon.ico` file, but it may still present because browser cache. you can add below `<head>` tags to force refresh the favicon:

[code]

[2020-12-19 09:07] #58 closed

[2020-12-19 09:34] pita238 commented on #58
Hi, I am using firefox, I deleted favicon.ico from pulic folder earlier but situation is the same.
Now I tried solution rom Mr. ije and it's working, the logo icon from title is gone. Tanks guys.

[2020-12-20 06:42] shadowtime2000 opened #59 "Use Official PostCSS Deno Pkg"
It seems like [PostCSS has an official Deno package](https://deno.land/x/postcss@8.2.0), but it is currently [lacking Typescript support](https://github.com/postcss/postcss-deno/issues/1). We could do some sort of type casting to get some types, or we could wait until it gets Typescript type support.

[2020-12-20 07:49] leopku opened #60 "Will aleph support twin.macro in upcoming version?"
I'm working with taildwind and [twin.macro](https://github.com/ben-rogerson/twin.macro) to build re-usable components easily.

Will aleph support twin.macro or something like emotion or styled-components etc to make component building easier in upcoming version?

Or there are better way to build re-usable components by tailwind and aleph?

[2020-12-20 07:54] shadowtime2000 commented on #60
Kind of ties in with #42. I don't think there are any CSS-in-JS libraries which support Aleph or Deno, mainly because to become faster they have their own Babel plugin, but Aleph/Deno uses [swc](https://swc.rs).

[2020-12-20 07:59] shadowtime2000 commented on #42
I think there are already enough things that sill need to be done for v0.3.0, we could try to get it done by then, but I think it would best fit on the roadmap for v0.4.0/future.

[2020-12-20 08:01] shadowtime2000 commented on #59
Might be worth looking into possible incompatibilities with [esm.sh](https://esm.sh) and the PostCSS Deno plugin, but if [esm.sh](https://esm.sh) is working properly (and it probably is) they should be close to entirely compatible.

[2020-12-20 08:19] ije commented on #59
that makes sense to use `deno.land/x/postcss` since alephjs works on Deno, the problem is that many plugins are not compatible with deno, for example if we import **autoprefixer** from 'https://esm.sh/autoprefixer' it will import the dependent post-css again.

[2020-12-20 08:22] ije commented on #59
and esm.sh also provides the types declaration from `https://esm.x-static.io/v11/postcss@8.2.1/lib/postcss.d.ts`

[2020-12-20 08:29] shadowtime2000 commented on #59
Would an NPM package redirect option for `esm.sh` work? `https://esm.sh/autoprefixer?redirect-postcss=https://deno.land/x/postcss/mod.ts`

[2020-12-20 08:42] ije commented on #59
good idea, i will extend the `external` option to support this:

[code]

[2020-12-20 08:51] ije commented on #60
@leopku  i want to support styled-component in the future, and next release will support **inline-style** out-of-the-box:

[code]
but it is hard to support **babel-macro** since we dont' use the babel transformer.

[2020-12-20 09:28] pita238 opened #61 "/About example is not working"
I tried example for pages/about.tsx but it is not working, when I go to "localhost:8080/about" it redirect me to localhost:8080.
I copied the same code from example at https://alephjs.org/docs/basic-features/pages but nothing, in terminal also there is no errors.
In firefox in transfer column I get NS_BINDING ABORTED. In terminal: modify /pages/about.tsx

[2020-12-20 09:37] ije commented on #61
@pita238 are your working in windows? if so, i guess it's path separator issue same with #44. I will fix it ASAP.

[2020-12-20 09:44] pita238 commented on #61
Yes, windows 10, firefox, visual studio code

[2020-12-20 09:53] ije commented on #61
thanks for the information, I will try it on windows later.
btw, are you an architect? i saw the cad/revit haha.

[2020-12-20 09:56] pita238 commented on #61
I am mechanical engineer.

[2020-12-20 10:01] ije commented on #61
cool, i ask that because i worked as architectural design in the early years.

[2020-12-20 10:56] pita238 commented on #61
Big transition from architectural design to coding, extra. I am working as maintenance engineer in thermal power plant and I am very interesting in coding, I am playing with sql databases, javascript and web programming.

[2020-12-20 12:05] leopku commented on #60
@shadowtime2000 @ije Thanks.

I had may component building and composing with class names from tailwindcss like:

[code]

Maybe I should find another way to build reusable component using tailwindcss.

[2020-12-20 13:56] ije commented on #61
me too, my favorite languages are typescript, golang, rust. and l like postgres, but hate sql, so i created https://github.com/postui/postdb haha..

[2020-12-20 16:24] soilSpoon commented on #49
[Next.js](https://nextjs.org) optimizes the image using [next/image](https://nextjs.org/docs/api-reference/next/image).

[2020-12-20 19:00] pita238 commented on #61
I was working in Node little but then Deno attracted my attention, I am using sql lite with deno for some data extraction and it is ok for me. I am interested in coding because I can relieve my work with my team on the work and also I would like to work online in coding field (as beginer and as second job in the begining). I am quick learner and I am ready if someone needs profile like me.

[2020-12-22 08:59] mohsenkhanpour commented on #49
Thanks @soilSpoon , I added it to the table.

[2020-12-22 09:01] ije commented on #49
thanks @soilSpoon

[2020-12-22 09:04] ije opened #64 "Support React Server Components"
## What is React Server Components?

Please watch this [talk](https://reactjs.org/blog/2020/12/21/data-fetching-with-react-server-components.html) introducing experimental Server Components. The talk includes a walkthrough of the demo code and highlights key points of how Server Components work and what features they provide.

## React IO in Deno
React IO Library for experimental **React Server Co

[2020-12-22 09:04] shadowtime2000 opened #65 "Optimized Image Component"
It would be great to have an optimized image component.

Refs:
[NextJS Image implementation](https://github.com/vercel/next.js/blob/canary/packages/next/client/image.tsx)

[2020-12-22 09:06] ije commented on #65
let's implement this in **v0.4**.

[2020-12-22 10:07] shadowtime2000 commented on #7
Continuing a conversation from Discord, the preloading of scripts/modules should be improved to preload the actual scripts which are used from the `<script>` tags. The rust compiler #28 could output a dependency graph which could be used for stuff like this. We will also need to change this for production when it will bundle the dependencies.

[2020-12-23 05:19] CoolDeveloper101 opened #66 "Option to change hostname?"
Currently, the aleph.js cli only provides the option to change the port number.

![image](https://user-images.githubusercontent.com/49064764/102961925-a5969c80-450b-11eb-84d3-c9cf70ffe22f.png)

However sometimes, a user may also want to change the hostname.

For example -
`aleph dev --host 0.0.0.0 --port 8080`

Should I implement this feature or this unnecessary?

[2020-12-23 05:25] shadowtime2000 commented on #66
@CoolDeveloper101 Just asking, why would a user want to change the host name of the development server? I don't know much about backends and servers, but I think this would be possible and it probably would be a good addition to the production `aleph start` command.

[2020-12-23 05:37] shadowtime2000 commented on #5
@mohsenkhanpour

I don't believe so, Vercel runs on AWS Lambda and is purely serverless hence the cheaper pricings with frameworks like NextJS and BlitzJS (and soon AlephJS) with stuff like API routes

[2020-12-23 06:29] CoolDeveloper101 commented on #66
Yeah you are right. I will soon open a pull request implementing the `--host` flag for the start command.

[2020-12-23 06:59] mohsenkhanpour commented on #5
@shadowtime2000 It might be that https://github.com/thgh/vercel-sapper converts the custom server to serverless friendly code.

How do you think Aleph can implement custom server (eg. oak) in a serverless compatible way?

[2020-12-23 07:02] shadowtime2000 commented on #5
@mohsenkhanpour That is probably what is going on, NextJS says you can't get the advantages of a serverless architecture when using a custom server implementation, I think it is best to go with that for now... we can probably implement conversion or something in v0.4.

[2020-12-23 07:10] ije commented on #66
@CoolDeveloper101 thanks

[2020-12-23 08:30] leopku commented on #61
It sounds great. I like it.

[2020-12-23 09:52] #66 closed

[2020-12-23 17:42] shadowtime2000 opened #68 "Use Rhum for Testing"
[Rhum](https://drash.land/rhum/v1.x/#/) is a testing framework built on top of `Deno.test` created by the team behind the [Drash REST API framework](https://drash.land/drash/v1.x/#/). This is only necessary when we have more tests, so I am marking it as future for now.

Refs:
1. [Documentation site for Rhum](https://drash.land/rhum/v1.x/#/)
2. [v2 issue for Rhum (drashland/rhum#75)](https://github

[2020-12-23 23:20] hazae41 opened #69 ""Buffer.from is not a function" when using ESM package"
Hey, I'm trying to use [web3](https://github.com/ethereum/web3.js/) from ESM

[code]

But when loading the page I'm getting this error

[code]

[2020-12-23 23:53] shadowtime2000 commented on #69
I am going to close this issue because this is not the repo for esm.sh, please open issues related to esm.sh [in the esm.sh repo](https://github.com/postui/esm.sh)

[2020-12-23 23:53] #69 closed

[2020-12-24 01:12] ije commented on #68
centainly we need full testings! what different `rhum` between `Deno.test`? why we should use it?

[2020-12-24 06:24] CoolDeveloper101 opened #70 "Custom 404 error response for apis?"
Currently the 404 error response for api's has been hardcoded.
![image](https://user-images.githubusercontent.com/49064764/103066352-b401b880-45de-11eb-8e28-3c27e40ecbda.png)
Will it be feasible to allow a custom /api/404.ts for errors or will that be unnecessary?

[2020-12-24 06:51] shadowtime2000 commented on #70
I don't think it is that necessary but could possibly instead open it up to a custom message in `aleph.config.ts`. @CoolDeveloper101 Do you think that would fit your needs and stuff?

[2020-12-24 07:17] CoolDeveloper101 commented on #70
@shadowtime2000
Well now that I thought about it, this is very stupid feature and unnecessary. However can you take a look at [this](https://github.com/alephjs/alephjs-templates/issues/2#issue-774188890) issue I opened? It discusses improving the hello-world template.

[2020-12-24 07:17] #70 closed

[2020-12-24 13:27] CoolDeveloper101 opened #71 "Allow https in aleph"
I saw the the v0.3.0 roadmap and it includes adding SSL/TLS support which is very important for production.
It will probably be not that hard to implement since Deno already has the serveTLS API to create https web servers.
However, instead of crowding the command line with more options, I think the some options like these should be used in the aleph.config.js
[code]
Should I try to implement it?

[2020-12-28 13:16] knightf opened #74 "`aleph dev` got `Uncaught (in promise) ReferenceError: Cannot access 'fromFileUrl14' before initialization`"
MacOS 10.15.7, env:
* aleph.js 0.2.27
* deno 1.6.2
* v8 8.8.278.2
* typescript 4.1.3

When running `aleph dev` after `aleph init`, got this error:
[code]

And by looking into https://esm.x-static.io/v12/_node_fs.js file, variable `fromFileUrl14` does appear before it is declared.

Anyone experiencing the same issue?

[2020-12-28 13:48] ije commented on #74
@knightf i just update the ems.sh server, now it should work.

`aleph dev --reload`

[2020-12-29 02:25] knightf commented on #74
um... don't know if it is my network enviroment or something else, still got some errors:

[code]

it is either `typescript.d.ts`, or `https://esm.x-static.io/v13/@types/marked@1.2.1/index.d.ts`, or `https://esm.x-static.io/v13/@types/react@17.0.0/index.d.ts` that fails...

[2020-12-29 11:07] ije commented on #74
@knightf you can try to remove the total deno cache dir in `deno info` and `_aleph` dir，esm.sh may be vary slow in china  since it is using the CDN of cloudflare, but will download js/dts files from CDN of Aliyun, I will add a standalone server in HK for china mainland in the future.

[2020-12-31 21:20] FallingSnow opened #75 "Doesn't work with Microsoft's FluentUI"
Component:
[code]

Console:
[code]

Browser:
[code]

If you use `"ssr": false, // SPA mode` you still end up with the same browser error message. But no console error message.

[2020-12-31 22:14] shadowtime2000 commented on #75
@FallingSnow Is the component a page or just a component which is used in a page? If it is a component which is used in a page could you share the page it is used in?

[2020-12-31 22:40] FallingSnow commented on #75
It was used in a page. I've created a minimal repo where there is only 2 additions, the import and usage.

https://github.com/FallingSnow/aleph.js-issue-75/blob/6d9e20809ce3c2d7031a541dd945225b765b60d2/app.tsx#L3

[2020-12-31 23:55] shadowtime2000 commented on #75
It seems to be that the reason that the SPA mode is failing is because `useDeno` is being used, but I don't think that is supported in SPA mode because it is meant for build time in SSR/SSG. I am going to look more into why `useDeno` is failing in SSR/SSG and I think the `insertBefore` problem is with `insertBefore` not being implemented in [the Deno DOM Virtual Element class](https://github.com/a

[2021-01-01 12:40] ije commented on #75
maybe we can add **ssr** support in `app.tsx`, please ref https://github.com/microsoft/fluentui/blob/2858fcaf942682621467b87aaef5d1be47f8ce47/packages/utilities/src/dom/setSSR.ts

[2021-01-03 11:55] alfredosalzillo commented on #56
I have got this error too.

[2021-01-03 12:10] alfredosalzillo commented on #56
I think it's because the API and the pages are served from the same `for await` loop.

This prevents the API to be served before the page is rendered, causing a waiting loop locking the execution.

The page is waiting for the response of the API that will be executed after the page is rendered.

[2021-01-03 18:41] shadowtime2000 opened #78 "Env Plugin"
A plugin to replace `.env` variables in a certain manner. Initially proposed in #77. Initial design used regex to replace anything surrounded by handlebars. I think we should use `deno_swc` which will allow us to instead replace `Deno.env.` anything. We could possibly look into requiring `ALEPH_PUBLIC_` prefix to `.env` variables unless it is accessed inside a `useDeno` hook.

[2021-01-03 19:11] shadowtime2000 commented on #78
@ije Thoughts? @alfredosalzillo Are you still interested in creating such an env plugin?

[2021-01-04 00:09] FallingSnow commented on #75
Oh you're right, if you remove `useDeno` there is a new error
[code]

Could this be caused because there are two different reacts imported when doing
[code]

[2021-01-04 00:20] shadowtime2000 commented on #75
@FallingSnow Yeah, it is probably because of 2 different React's being pulled in. @ije and I discussed this in #59, and we decided that a `?external=some-library@some-other-library-link` would best fit. I can't remember off the top of my head if having the library use the same version of React would fix this problem though.

[2021-01-04 00:28] FallingSnow commented on #75
I don't think it does. I'm using the following and the error remains.

[code]

[2021-01-04 00:29] shadowtime2000 commented on #75
@FallingSnow I don't believe `?external` has been implemented yet, I was just pointing out that once that is implemented it could be a possible solution.

[2021-01-04 00:42] FallingSnow commented on #75
Oh, I see. Thanks for pointing that out.

For what it's worth, I tried loading with jspm and got the same error.

Skypack gave me this error, which seems completely off (`BaseExtendedPeoplePicker` in `dateMath.js`...)
[code]

[2021-01-04 03:03] ije commented on #78
maybe too much to import the `deno_swc` for the `env` plugin, **0.3** will include a new compiler using swc i can implement this function without plugin imported.

[2021-01-04 03:14] ije commented on #75
[code]
does this work?

[2021-01-04 03:15] ije commented on #75
since aleph uses react 17.0.1 as default.

[2021-01-04 03:20] ije commented on #75
and please try to delete the `_aleph` folder to avoid esm.sh CDN conflict because i updated the esm.sh server yesterday.

[2021-01-04 03:56] shadowtime2000 commented on #78
@ije Makes sense!

[2021-01-04 08:45] ije commented on #78
i perfer a new concept **swc-marco** can be a solution:

[code]

it will be transpiled to below code:

[code]

and the **macro** will export the `deno.env` as `__ALEPH_ENV`.

what do you think? @shadowtime2000 @alfredosalzillo

[2021-01-04 08:50] ije commented on #78
with that, people can write their own macro that gives more power to define your code syntax.

[2021-01-04 11:07] alfredosalzillo commented on #78
I agree. I prefer this solution too.

[2021-01-04 14:37] ije commented on #78
for example, we can transform graphql string to AST at the build time with macro:

[code]

real code:

[code]

[2021-01-04 16:17] shadowtime2000 commented on #78
I like the idea of an SWC macro, it could possibly then help us with #60.

[2021-01-04 16:29] shadowtime2000 commented on #78
@ije How exactly would this be written? Will we write it within the new compiler after it is merged or will we another repo for this project or something? I think SWC macros could be useful just all around in a ton of places.

[2021-01-04 16:48] FallingSnow commented on #75
Easy peasy lemon squeezy, works! Wow that was rather painless and simple. Thanks!

[2021-01-04 16:48] #75 closed

[2021-01-04 17:01] ije commented on #75
cool!

[2021-01-04 17:20] FallingSnow commented on #75
Should point out that while in SSR mode, you still get the following in the console. It also flashes in the browser when first loading the page, then disappears and displays normal.

[code]

Nether is experienced when using `"ssr": false, // SPA mode`.

[2021-01-04 17:37] ije commented on #75
maybe you need the **[Asynchronous Import](https://alephjs.org/docs/advanced-features/asynchronous-import)** .

[2021-01-04 17:58] ije commented on #78
it seems like:

[code]

[2021-01-04 18:52] shadowtime2000 commented on #78
@ije Thx, but I was actually asking about how the compiler which expands the macros will be organized. I don't think we should have an `inject` method which injects that into the main file, I think it would be better if we just did something like this:

[code]

[2021-01-04 19:01] ije commented on #78
@shadowtime2000 the `transform` should return a js code fragment that why i added the `inject` method(it's optional) to inject deno runtime variables. i will add the feature in the new compiler, no extra dependency needed.

[2021-01-04 19:45] FallingSnow commented on #75
Does this mean I'd have to use `<Import>` on everything component uses a `@fluentui/react` component?

[2021-01-04 19:50] shadowtime2000 commented on #78
Tbh, I feel like macros purely for a framework like this is a little overkill and we could look into creating a library for these macros that doesn't require Aleph to be used.

[2021-01-04 22:14] shadowtime2000 commented on #78
@ije I don't think it is a good idea to dump everything in `Deno.env` into a global namespace because there could be unused `.env` variables for stuff like API keys which could be used in the `/api/` routes, which makes that a security concern. I think this should be good enough:

[code]
So `env("foo")` will be replaced with `"bar"`.

[2021-01-05 00:20] ije commented on #78
@shadowtime2000 you are right it's a bad idea to inject `deno.env`!

[2021-01-05 00:32] ije commented on #78
i feel that the maco function is very easy to implement in the new compile with swc, if there is a statement like `import macroFn from "./xxx.macro.ts"`, the **macroFn** will be treated as a macro. if we decide to implement it in a library then we need an ast compiler that is heavy.

[2021-01-05 01:07] shadowtime2000 commented on #78
@ije Good point, it would be easier to make it a library once there is a more standard form for ast modification and compilation and stuff.

[2021-01-05 02:36] ije commented on #78
@shadowtime2000 for sure

[2021-01-07 05:25] shadowtime2000 commented on #68
@ije `rhum` allows us to more easily organize and compose our tests. Here is part of the example they give on the front page:
[code]
idk how much code we have but i think we have like 5k so i think it would be best to organize our tests like that.

[2021-01-07 10:56] JLarky commented on #42
I tried to setup http://twind.dev/ with alepth, but it requies some stuff for it to work in SSR :)

[code]

works kind of :) since it's client-only (but causes markup to flicker, official solution to set `hidden` for `html` tag

[2021-01-07 11:20] ije commented on #42
@JLarky this is vary interesting! i will try it, thanks!

[2021-01-08 01:21] yoshixmk opened #81 "By incompatible, TypeError: Argument of type 'TransformerFactory<SourceFile>'"
using Deno 1.6.3:
[code]

Error log:
[code]

This is my project, [https://deno.land/x/piny](https://deno.land/x/piny)
Is there a solution, such as explicitly specifying the version for CDN?

[2021-01-08 01:23] shadowtime2000 commented on #81
seems to just be a type checking problem with the current compiler which is basic `tsc`, #28 could possibly fix this. I will look deeper into this later.

[2021-01-08 01:26] yoshixmk commented on #81
Grate, thx!

[2021-01-08 03:02] ije commented on #81
please use aleph v0.2.27 that should work

[2021-01-08 13:28] yoshixmk commented on #81
I was able to confirm that it was fixed

[2021-01-08 13:28] #81 closed

[2021-01-10 22:25] shadowtime2000 commented on #71
@CoolDeveloper101 Hi, sorry for taking such a long time to respond, I think it would be great if you could implement it yourself. I don't know much about SSL/TLS but don't many hosting providers automatically create certificates or something?

[2021-01-10 22:34] shadowtime2000 commented on #5
We could look into using an adapter system kind of like SvelteKit where you plug an adapter into the `aleph.config.(ts|js)`. It could be possible to have Vercel support with the [File System API](https://vercel.com/docs/more/adding-your-framework#file-system-api) though that sadly only supports Node. We could also just do it without the file system API. This requires some further research

[2021-01-11 00:38] shadowtime2000 commented on #64
It seems that NextJS + Vercel kind of [has server component support](https://next-server-components.vercel.app/) [repo](https://github.com/vercel/next-server-components).

[2021-01-11 00:44] shadowtime2000 commented on #17
It doesn't seem like there was much support for changing the name, with it seeming like 3 ppl supporting it while there are like 6 ppl talking about how just for Japanese is "too strong". imo it shouldn't be changed. Also we are already creating a Svelte like framework called [Alef](https://github.com/alephjs/alef-component) with the extension `.alef` which sounds kind of like Aleph so I don't thi

[2021-01-11 04:00] CoolDeveloper101 commented on #71
Yes, that is true, however we shouldn't probably rely on that. It is not guaranteed that a hosting provider would provide a certificate.

[2021-01-11 05:28] shadowtime2000 commented on #71
@CoolDeveloper101 Makes sense, I think it would be better to determine if SSL is on or off based on the existence of the related attributes, and then allow forcing it to not be on with `"ssl": true`.

[2021-01-11 06:14] satanya-zero opened #82 "error in production mode"
deno console:
[code]

browser console:
<img width="543" alt="圖片" src="https://user-images.githubusercontent.com/16162768/104151165-40054400-5417-11eb-9826-cb2883f015b6.png">

OS: macOS 11 Big Sur

the hello project can work when run `aleph dev`

[2021-01-11 08:08] ije commented on #82
fixed, please upgrade the aleph cli and try again, thanks!

[code]

[2021-01-11 10:41] satanya-zero commented on #82
thanks.
btw, I am facing a new problem that how to use [Dynamic Routes](https://alephjs.org/docs/basic-features/routing).
I don't know how to read the parameters from the URL that the user inputs.
for example the server host:
`pages/blog/[slug].tsx`
and user access the server by `pages/blog/:something`

How to let the component exported by `[slug].tsx` knows the parameter "something". I have tried

[2021-01-11 10:55] ije commented on #82
you may need the `useRouter` hook:

[code]

[2021-01-11 10:58] satanya-zero commented on #82
thanks ❤️

[2021-01-11 17:34] shadowtime2000 commented on #59
@ije I see that there is an external thing for other NPM packages so it works for stuff like peer dependencies or something, but is an `?external` option made that allows us to use the Deno PostCSS package?

[2021-01-11 17:38] shadowtime2000 commented on #44
@ije Have you tried it out?

[2021-01-11 20:26] Bestulo opened #83 "JSX element implicitly has type 'any' because no interface 'JSX.IntrinsicElements' exists.ts(7026)"
I followed instructions on the [get-started](https://alephjs.org/docs/get-started) page step by step. I didn't do anything extra. I open index and have this:

![image](https://user-images.githubusercontent.com/23301025/104234146-5b794a80-5429-11eb-8d8c-cb9e706da28e.png)

Specs:
Deno version 1.6.2
VSCode version 1.52.1
Deno extension version 2.3.3

`.vscode` directory was created properly by Aleph'

[2021-01-11 20:37] shadowtime2000 commented on #83
@Bestulo Hover over the imports and have the Deno language server fetch and cache the modules. It needs to do that to detect React's types I think.

[2021-01-11 20:54] Bestulo commented on #83
I `aleph dev`, which installed a big bunch of dependencies. However, even though it installed many things from `cdn-esm-sh`, which can be seen below, it's still highlighted as before and reads `Cannot find module 'https://esm.sh/react' or its corresponding type declarations.ts(2307)`

![image](https://user-images.githubusercontent.com/23301025/104236861-8ebdd880-542d-11eb-9413-461ecc0089a4.png)

A

[2021-01-11 23:14] Soremwar commented on #83
@Bestulo The old extension sometimes has problems loading the types for the recently fetched files, usually a restart of VSCode or closing/opening again solves that problem

[2021-01-11 23:46] ije commented on #59
not yet, the week will update it.

[2021-01-11 23:55] ije commented on #83
seems your deno extension is down.
![image](https://user-images.githubusercontent.com/2883484/104251724-53fa8580-54ab-11eb-8015-495c0257ca51.png)

[2021-01-12 04:47] #82 closed

[2021-01-12 05:57] shadowtime2000 commented on #44
Nvm, I figured it out. Something else was blocking port 8080 and changing the port made it work.

[2021-01-12 05:57] #44 closed

[2021-01-12 07:02] ije commented on #44
@shadowtime2000 do you think we should change the default port **8080** port?

[2021-01-12 16:30] shadowtime2000 commented on #44
@ije No not really, it was just a problem on my computer.

[2021-01-14 00:09] FallingSnow commented on #83
If you're using deno lsp, jsx is not supported yet. https://github.com/denoland/deno/issues/8993

If you're not using lsp, I believe it solves many of the import issues.

[2021-01-14 00:28] FallingSnow opened #88 "Source map url improperly encoded for dynamic routes"
When loading a dynamic route, the source map that attempts to be loaded is already url encoded.
![Screenshot from 2021-01-13 16-26-04](https://user-images.githubusercontent.com/2512197/104528442-23eed780-55bc-11eb-9d93-07d41bff2ccc.png)

404 - `http://localhost:8080/_aleph/pages/pipeline/view/%5Bname%5D.js.map`
200 - `http://localhost:8080/_aleph/pages/pipeline/view/[name].js.map`

[2021-01-14 02:19] hazae41 opened #89 "Circular imports do not build"
Hey, when building a project where two files import each other, the build fails

pages/index.tsx

[code]

components/component.tsx

[code]

We get the following error

[2021-01-14 03:42] shadowtime2000 commented on #89
This will most likely fix with the new compiler #28 but I don't know for sure. Would circular imports work with something like NextJS tho?

[2021-01-15 05:18] shadowtime2000 commented on #78
We should probably allow returning an AST or something for more organized complex macros.

[2021-01-16 02:09] shadowtime2000 opened #90 "CSS-in-JS Support?"
A ton of people like CSS-in-JS and I think we should add support for it. We have to figure out how we will do it. I see 3 options:

1. Write our own using SWC macros once released #78
2. Add support for something like `styled-components`, though we would have to write our own SSR compiler thing

[2021-01-16 02:20] shadowtime2000 commented on #90
An example of it with macros:

[code]
[code]
[code]

[2021-01-19 02:35] shadowtime2000 commented on #53
Will we add a feature like automatic selection of components depending on usage of Alef or React? Like if we import `deno.land/x/aleph/link.ts`, will it automatically import a `deno.land/x/aleph/link/react.ts` or a `deno.land/x/aleph/link/alef.ts` depending on what is importing it?

[2021-01-20 21:56] FallingSnow opened #92 "Deno 1.7.0 incompatibility"
[code]

See https://github.com/denoland/deno/issues/4981#issuecomment-685205034

[2021-01-20 21:57] FallingSnow commented on #92
See for more info.
https://github.com/alephjs/aleph.js/blob/0456c9da64ba09967a1b376358c93e8991bdff97/project.ts#L620

[2021-01-20 22:00] FallingSnow commented on #92
Possibly related changes to `globalThis.location`: https://deno.land/posts/v1.7#add-support-for-codeglobalthislocationcode-and-relative-fetch

[2021-01-20 22:06] shadowtime2000 commented on #92
We have to figure out some way for the SSR part to basically run with `--location`. This will need some more thought.

[2021-01-20 22:43] shadowtime2000 commented on #90
[styled-components/styled-components#3382](https://github.com/styled-components/styled-components/issues/3382)

[2021-01-21 00:47] FallingSnow commented on #92
Okie.

I do feel if this doesn't break anything and does solve the issue, this or another fix should be added. Would be a bummer if someone came along with everything up to date and aleph fails.

[2021-01-21 00:48] FallingSnow commented on #88
This can be resolved by moving `decodeURI` from
https://github.com/alephjs/aleph.js/blob/0456c9da64ba09967a1b376358c93e8991bdff97/server.ts#L67
to
https://github.com/alephjs/aleph.js/blob/0456c9da64ba09967a1b376358c93e8991bdff97/server.ts#L20

[2021-01-21 01:29] ije commented on #90
0.3 will support inline css like:

[code]

[2021-01-21 01:38] shadowtime2000 commented on #90
@ije Cool, but as far as I am aware that is very basic CSS-in-JS. Most CSS-in-JS frameworks support stuff like theming and dynamic styles too.

[2021-01-21 03:58] ije commented on #88
thanks @FallingSnow , can you please make a PR? or I will fix this in swc branch.

[2021-01-21 04:09] shadowtime2000 commented on #92
I don't know for sure but I think the new compiler is changing the way we do SSR

[2021-01-21 04:23] ije commented on #92
@FallingSnow  you are right, i think we can use `Object.defineProperty` hack deno's limit.

[2021-01-21 04:26] ije commented on #92
ensure we can get a right `location` object in SSR, even i don't recommend to access it.

[2021-01-21 04:30] shadowtime2000 commented on #92
It doesn't seem like that is possible

![image](https://user-images.githubusercontent.com/66655515/105280286-46559780-5b5e-11eb-834d-6b08cc7b3d6d.png)

[2021-01-21 05:32] shadowtime2000 opened #94 "React 17 JSX Transform"
v0.3.0 has gone a lot later than we thought and Deno has pushed their plans on this new feature to v1.8.0 which will most likely release in a little over a month because I think they have a release schedule of a minor update every 6 weeks. We have decided to postpone the release of the new JSX transform to a later time when SWC and Deno will also support it. It will most likely either be v0.4.0 or

[2021-01-21 14:20] ije commented on #92
ok, i'm going to remove all the browser polyfill objects: https://github.com/alephjs/aleph.js/pull/28/commits/068062fb94e9b08fafd6d23e42b35ab9d317b0a3

[2021-01-21 17:56] FallingSnow commented on #88
Pull: #95

[2021-01-21 21:35] shadowtime2000 opened #97 "Better CSS Imports"
According to the documentation, currently we just transform CSS files into [JS files which append the CSS to the `<head>`](https://alephjs.org/docs/basic-features/built-in-css-support#how-it-works). This isn't that performant, I think we should look into possibly concatenating the CSS and writing it to a folder.

[2021-01-22 03:07] shadowtime2000 commented on #11
As for as I can see with my limited AMP knowledge, to support it we just need to do three things:

1. Modify HTML page to follow AMP standards
2. Figure out which components are being used and add a `<script>` tags for each accordingly
3. Run [AMP Optimizer](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/amp-optimizer-guide/?format=websites) on it

[2021-01-22 03:45] #3 closed

[2021-01-22 03:45] #8 closed

[2021-01-22 03:54] ije commented on #83
i am going to close this issue since it is not caused by alephjs.

[2021-01-22 03:54] #83 closed

[2021-01-22 03:56] ije commented on #74
this is a esm.sh CDN issue that have be fixed.

[2021-01-22 03:56] #74 closed

[2021-01-22 03:59] ije commented on #68
Rhum is cool, but i think `deno.test` is enough, let's keep the testings as simple as possible.

[2021-01-22 03:59] #68 closed

[2021-01-22 05:22] shadowtime2000 commented on #5
It seems like with the new project restructure the only thing we need JSDoc in now is `redirect`. I guess JSDoc for internal code would be pretty cool because it makes it easier for potential contributors to understand the codebase.

[2021-01-22 06:23] ije commented on #5
@shadowtime2000 good to hear that! writing JSDoc is always hard for me...

[2021-01-22 06:43] #88 closed

[2021-01-22 06:51] shadowtime2000 commented on #78
I think we should maybe instead just invoke a macro if macro data is present on the function.

[2021-01-22 10:57] knightf commented on #74
https://esm.x-static.io/v13/@types/react@17.0.0/index.d.ts, got this:
[code]

[2021-01-22 11:04] ije commented on #74
pls clean the deno cache:

[code]

[2021-01-22 18:46] FallingSnow commented on #97
Is appending CSS to the head less performant than downloading an addition CSS file?

[2021-01-22 19:37] shadowtime2000 commented on #97
@FallingSnow Oh, it actually isn't, but we are kind of resetting the styles on hydration when it is unnecessary so I think that is something to look at.

[2021-01-22 19:47] FallingSnow commented on #97
Would it solve the issue if styles were loaded before content? In that case I don't think you would get any visible style changes during hydration.

[2021-01-22 20:24] shadowtime2000 commented on #97
What I am talking about is the [`applyCSS` implementation](https://github.com/alephjs/aleph.js/blob/659337e33846250e1f0e8e6c4977838caff0e549/framework/react/style.ts#L55). If it is running server side [it will set the styles for SSR](https://github.com/alephjs/aleph.js/blob/659337e33846250e1f0e8e6c4977838caff0e549/framework/react/style.ts#L57) but if not, [it will append a style element to the hea

[2021-01-22 20:53] ije commented on #97
@shadowtime2000  you are right, this should be improved (first `applyCSS` should be ignored)! but we better to write css to js since we need to load page component/styling dynamically, even in production(bundling) mode.

[2021-01-23 03:41] allangomessl opened #101 "Deno 1.7.0 error"
When we create a project on 1.6.3 works, but 1.7.0 cause these errors

How to reproduce:

╰─❯ aleph init hello
╰─❯ cd hello
╰─❯ aleph dev
Check https://deno.land/x/aleph/cli.ts
error: Uncaught (in promise) NotSupportedError: Cannot set "location".
        throw new DOMException(`Cannot set "location".`, "NotSupportedError");

[2021-01-23 03:43] shadowtime2000 commented on #101
This was a previous issue, this has already been fixed and in the next release it will be patched. We haven't released it yet because there are a couple other bugs that need fixing.

[2021-01-23 04:36] ije commented on #101
let's keep it open until next patch date!

[2021-01-24 13:01] forgo opened #102 "Custom Document support."
Everything in the custom `app.tsx` currently gets placed into an html `<main>` tag.

If I want to create a document template with a `<nav>` component, that contains page `<Links>`, it is not semantically correct for this to be inside the `<main>` unless it is a table of contents or tab navigation within the page itself.

I believe this [Custom Document](https://nextjs.org/docs/advanced-features/cu

[2021-01-24 17:56] ije commented on #102
@forgo, thanks for the suggestion, i prefer `<div id="__aleph">` instead of `<main>`.

[2021-01-24 18:05] shadowtime2000 commented on #102
I would like to point it that document is meant for stuff like google analytics and third party scripts, not stuff like actual components. I think it would be semantically correct for it to be inside a `<div id="__aleph">` which is kind of like what NextJS does.

[2021-01-26 04:14] FallingSnow opened #104 "Unable to load on firefox"
The following code snippets have `console.log(url, pathname)` added to `server.ts`.

Chromium:
[code]

Firefox:
[code]

Notice the pathname when receiving a request from Firefox is `/http:/localhost:8080`.

[2021-01-26 04:16] shadowtime2000 commented on #104
This is very strange... firefox seems to be duplicating the URL, or maybe it is something else.

[2021-01-26 04:17] FallingSnow commented on #104
Tracked it down to coming from `https://deno.land/std@0.84.0/http/server.ts`. Seems to be a deno issue.

[2021-01-26 04:35] shadowtime2000 commented on #104
Does sound like a Deno issue. Might be best to open an issue there.

[2021-01-26 04:37] FallingSnow commented on #104
Yeah. Might be parsing a different request headers depending on what's available.

But it could also be a strange issue involving
https://github.com/alephjs/aleph.js/blob/659337e33846250e1f0e8e6c4977838caff0e549/cli.ts#L119
or something with the `import_map.json`.

[2021-01-26 04:49] FallingSnow commented on #104
Things only getting stranger. The following code does not exhibit the same behavior. So not a deno issue???
[code]

[2021-01-26 04:58] FallingSnow commented on #104
Well, changing the port via `--port` to 8081 works. No idea what's going on, might just be my machine.

[2021-01-26 10:25] ije commented on #104
i think it's best to change the default port **8080** since it's too common, I remember @shadowtime2000 have the same issue before, my mistake... what port as default you prefer? how about **2020**? it's the birth year of alephjs.

http://localhost:2020

[2021-01-26 15:52] VaibhavAcharya commented on #101
Hey! New to Deno here, What can I do in the meantime?

[2021-01-26 16:42] FallingSnow commented on #104
I would like to keep 8080. Although it's common I think 8080 has a strong history with web dev. If 8080 is in use the server will not start and they can just change the port using `--port`. In my case, unless this can be reporduced by someone else, the fault lies with my machine.

[2021-01-26 16:52] FallingSnow commented on #101
@ije can we release v0.2.29 with just this patch?

[2021-01-26 18:22] ije commented on #101
please use deno 1.6.3  indeed, i will release a beta version ASAP this week!

[2021-01-26 18:48] FallingSnow commented on #101
If anyone needs to install deno 1.6.3 easily, please checkout https://github.com/justjavac/dvm.

[2021-01-26 19:56] stereosteve commented on #83
In the meantime, this will make deno lsp in vscode happy:

[code]

Taken from [this page](https://servestjs.org/use-jsx)

[2021-01-26 20:18] ije commented on #83
@stereosteve esm.sh will response a `x-typescript-type` header to provide types check.

[2021-01-27 12:53] ZiiMakc opened #105 "Non english urls support"
Is it possible for aleph to accept non english urls like "тест" (%D1%82%D0%B5%D1%81%D1%82)?

In next.js you can do it in config with [rewrites](https://nextjs.org/docs/api-reference/next.config.js/rewrites):
[code]

[2021-01-27 13:43] ije commented on #105
@ZiiMakc thanks, this is in the plan of **v0.3**

[2021-01-27 21:54] FallingSnow commented on #104
I'm going to close this for now. I was trying to debug another issue by using Firefox and ran into this issue. If anyone else has this issue we can take a deeper look.

[2021-01-27 21:54] #104 closed

[2021-01-28 05:10] Krrishdhaneja opened #106 "YT tutorial for Alephjs"
Hey contributors👋, hope so you all are well and good, today I was just seeing my Google Feed and it appeared in that and I was just thinking of using react with deno and this would really help me, so is there any YT tutorial on this cuz i Can't find any so anyone would like to make a tutorial of begginers?

[2021-01-28 07:10] shadowtime2000 commented on #106
A YT tutorial would be nice. I could create one but it probably won't be that good because it would be voiceless for personal reasons and to retain my anonymity. Docs are prob the best way to go rn but I think a YT tutorial is something we should really like into

[2021-01-28 07:28] ije commented on #106
i have a plan to create a tutorial page(may including videos), but i'm too busy currently

[2021-01-28 07:39] Krrishdhaneja commented on #106
Anonymity? I don't think anything wrong would happen u could create a faceless video though cuz most of the people think its hard to understand through docs, though I can create one and I do have one YT channel but till the date I haven't learnt this, I think u can provide me with scripting of videos so that tgere would be no delay?

[2021-01-28 07:40] Krrishdhaneja commented on #106
Btw who created/started this project(Alephjs)?

[2021-01-28 14:23] shinspiegel commented on #106
I could create or improve a tutorial page. Next weekend I'll make a good starting project and show the main features of this project. If that's doesn't bother you guys.

[2021-01-28 14:29] ije commented on #106
@shinspiegel thanks, please go ahead!

[2021-01-28 14:43] shinspiegel commented on #53
I was wondering, we already have a lot of frameworks and ways to implement reactive (and non-reactive) web interfaces, do we need another one?

I think, should be better to implement other frameworks like Vue and Angular, which would fit best?
Or I'm missing something?

[2021-01-28 14:47] ije commented on #53
@shinspiegel i agress with you, the next stage(0.4) the most important idea i guess is to bring Vue to alephjs. Angular i'm not sure since i'm not the user of it.

[2021-01-28 14:48] ije commented on #53
however, the alef component is an experience feature i want to try.

[2021-01-28 18:42] shadowtime2000 commented on #53
I think Angular may not be fit for this because it has a ton of tooling that needs to be set up for it to work. Vue would be pretty nice in setting it up.

[2021-01-28 23:11] RoXuS opened #107 "Import a script inside a component or api cause an error"
Hey!

I'm trying to call a script outside my aleph project (I am on a monorepo project).
[code]

When I do that I get the following error:
![image](https://user-images.githubusercontent.com/3296671/106210057-68868f80-61c6-11eb-90a3-2d78e64a6608.png)

It's normal behavior? We can't call a script outside the component?

[2021-01-28 23:29] shadowtime2000 commented on #107
I would call this normal behavior because you should only be importing stuff from CDNs and from within the project folder. It does make the situation a little ugly for monorepos though, monorepos with deno is something that is still being figured out though anyways.

[2021-01-28 23:48] Soremwar commented on #107
You only use "../" or "./" relative paths when the file exists locally in your machine. If it doesn't then you should be using an URL to import from wherever you have it

[2021-01-29 02:26] shadowtime2000 commented on #106
made by @ije.

[2021-01-29 02:27] shadowtime2000 commented on #105
Rewrites would also be a nice feature.

[2021-01-29 08:56] RoXuS commented on #107
hum my other projects inside the monorepo work well (install, bundle...).
I don't understand why a TS file inside my project works and just above is KO?

[2021-01-29 13:46] ije commented on #5
@mohsenkhanpour @shadowtime2000 **Custom server** is ready in the latest brench.

with deno **std** http server:

[code]

with **oak**:

[code]

[2021-01-29 14:33] mohsenkhanpour commented on #5
Great work.
I will update the website and write docs for it.
What is the default path for custom server?

[2021-01-29 18:22] FallingSnow commented on #107
This might be due to the fact that alephjs movies files around before executing them. I know this isn't an import but this is how I access files.
[code]

[2021-01-29 18:27] Soremwar commented on #107
@RoXuS Can you please show your project structure? I feel like I am giving advise without actually knowing what I'm dealing with

[2021-01-29 18:30] hazae41 opened #108 "Top-level await is not removed"
Hey, when importing a deno std module that uses top-level await, I receive an error

[code]

![Capture](https://user-images.githubusercontent.com/4405263/106313118-f9617780-6267-11eb-933c-66255c5f8006.PNG)

![Capture](https://user-images.githubusercontent.com/4405263/106313229-29a91600-6268-11eb-8632-7fe5aea3aea8.PNG)

The source file: https://deno.land/std@0.85.0/hash/_wasm/hash.ts

[2021-01-29 18:31] shadowtime2000 commented on #108
Thanks for reporting this bug, I think we could solve this with the new compiler.

[2021-01-29 20:44] RoXuS commented on #107
@Soremwar off course.

My structure:
![image](https://user-images.githubusercontent.com/3296671/106324972-5b2add00-627a-11eb-8b77-7d5cffd57c47.png)

My `components/runners.tsx` try to access to `dt-gitlab-wrapper/index.ts` and it doesn't work (with a symlink it is ok).

@FallingSnow it seems hard to do that with a file import like `import a from "../../dt-gitlab-wrapper/index.ts";` no?

[2021-01-29 21:10] FallingSnow commented on #107
Yeah. I don't know if deno supports `require`, I've never tried but that could be a possible solution.

[2021-01-30 01:13] dandv opened #110 "[question/docs] Relationship with React"
Hi, I've been using React for a few years but I'm new to Deno and I've just discovered this project. Looks very promising!

After reading through the website and this repo for a few minutes, I'm unclear as to what the relationship with React is. Is this a port of Rect for Deno? Or is it a React-like framework? What is the extent of compatibility with the React ecosystem components?

Would be great

[2021-01-30 01:17] #110 closed

[2021-01-30 03:05] shadowtime2000 commented on #102
Document support would be pretty nice tho it may not be used much because of the built in features of `<script>` tags and such - so I think this is something we can implement later

[2021-01-30 03:07] ije commented on #107
i seems the `git-wrapper` is out of your aleph app scope that alephjs can't handle it, I will fix this, thanks!

[2021-01-30 03:08] ije commented on #107
please use synlimk as workaround currently

[2021-01-31 15:45] #105 closed

[2021-01-31 16:32] #102 closed

[2021-02-01 15:09] ije commented on #101
i just released an _alpha_ version, now it should work in deno **1.7**.

[2021-02-01 15:11] ije commented on #101
please update the cli command:

[code]

[2021-02-01 15:32] ije commented on #92
i just released an alpha version, now it should work in deno **1.7**:

[code]

[2021-02-01 17:18] FallingSnow commented on #101
0.3.0 fixes the `--location` error.

[2021-02-01 17:21] FallingSnow opened #114 "0.3.0 Fatal javascript OOM"
While starting my app with `aleph dev`, the compiler starts but at some point freezes and no long continues.
[code]

Will look deeper.

[2021-02-01 17:50] FallingSnow commented on #114
[code]

Offending line (cause) is `import * as path from "https://deno.land/std@0.85.0/path/mod.ts";`.

[2021-02-01 18:00] ije commented on #114
@FallingSnow thanks for the details, i will look into!

[2021-02-02 04:08] itmuse opened #115 "0.2.28 run hello example fail"
aleph dev
Download https://esm.x-static.io/v15/terser@5.3.2/esnext/terser.js
Download https://esm.x-static.io/v15/terser@5.3.2/tools/terser.d.ts
Download https://esm.x-static.io/v15/postcss@8.1.4/esnext/postcss.js
Download https://esm.x-static.io/v15/postcss@8.1.4/lib/postcss.d.ts
Download https://esm.x-static.io/v15/marked@1.2.0/esnext/marked.js
Download https://esm.x-static.io/v15/@types/marked@

[2021-02-02 04:51] ije commented on #115
@itmuse  which Deno version you are using?

[2021-02-02 09:51] hokkqi opened #116 "aleph dev startup fail on windows"
Hello, on the latest version of Aleph, after running `aleph init`, i.e. when I then want to run `aleph dev` I get uncaught DomException Error telling me that Aleph is unable to set the `location`.

[2021-02-02 09:57] ije commented on #116
@hokkqi please update the `aleph` command to **v0.3.0-alpha.1** that can work in deno 1.7

[2021-02-02 09:58] ije commented on #116
please check #101

[2021-02-02 10:01] hokkqi commented on #116
While it did start up, I got [this Error Log](https://h.scy.re/gucuhavanu.js) in my Terminal when running `aleph dev` on my other Computer, I'll test if it's working on the one that initially made it error out

[2021-02-02 10:06] ije commented on #116
thanks, this typing error you can ignore since it will not effect the aleph server, but i alreay fixed.

[2021-02-02 10:14] hokkqi commented on #116
2 more things:

- the Hello World counters don't seem to work
- Aleph is unable to build/output the Bundle `Unable to Bundle during Graph::bundle().`

[2021-02-02 11:02] ije commented on #116
- hello world's counter i don't know what happened, any output in the console?
- in v0.3 i am trying to share cache with Deno built-in cache system, that makes `Graph::bundle` error happen when the network is not stable, i will improve this.

[2021-02-02 11:41] hokkqi commented on #116
- There's no output in the console, not sure why
- good to know! 😄

[2021-02-02 11:44] ije commented on #116
@hokkqi thanks, what deno version you are using btw.

[2021-02-02 11:46] hokkqi commented on #116
1.7.0

[2021-02-02 11:49] ije commented on #116
thanks, 1.7.0' bundler has an issue for alephjs, pls upgrade 1.7.1

[2021-02-02 11:50] hokkqi commented on #116
Still getting the same error when trying to run `aleph start` but that's fine for me rn, I just need the dev environment

[2021-02-02 14:28] swork1 commented on #116
I am also getting the same problems.
1. **"aleph dev'** doesn't load bundled js -> error in console is **"Not allowed to load local resource"**
2. "aleph start/build" gives me Graph::bundle error -> I see you are fixing this

[2021-02-02 14:58] ije commented on #116
@swork1 thanks, aleph dev mode doesn't bundle the code, only bundle in `start/build`, where the error printed actually? browser or deno?

[2021-02-02 14:59] ije commented on #116
and i never test it in the windows port.

[2021-02-02 15:06] swork1 commented on #116
This is a console error in the browser. (I'm also using windows which could be the issue?)

[2021-02-02 15:33] ije commented on #114
it's circular imports issue same with #89
[code]

[2021-02-02 15:45] ije commented on #116
@swork1 thanks, not sure i will test on it, now the CI on windows is passed.

[2021-02-02 18:31] ije commented on #108
in production/bundle mode this can be fixed, but in dev we can't resolve it needs the browser support...

[2021-02-02 20:48] shadowtime2000 commented on #116
Seems like this is happening where the browser starts loading bundled files from `file:///` instead of loading unbundled files from the dev server. Possibly a problem with the cache...

[2021-02-02 20:59] shadowtime2000 commented on #116
I looked into it more and seems like it is because of a usage of `std/path` on the links to preload and stuff when we shouldn't be doing that

[2021-02-02 21:15] shadowtime2000 commented on #116
I think figured out where part of the problem is coming from. A couple places in `app.ts` we are appending `file://` at the start of the names of modules which is causing the browser to look in `C:\` or something where it won't be able to find anything because it's not there. It should be using the whole path so that the browser knows where to look, but @ije why aren't we instead importing straigh

[2021-02-03 03:07] ije commented on #116
so it is an issue in windows? can you please post the html by SSR?

[2021-02-03 03:09] shadowtime2000 commented on #116
@ije This is from @swork1 on the discord and I can confirm it is the same

![image](https://user-images.githubusercontent.com/66655515/106692852-22487c00-658a-11eb-835c-09795b5ee49b.png)

[2021-02-03 03:10] shadowtime2000 commented on #116
something in `app.ts` is converting the `/` absolutish imports into file paths which causes the browser to default to `file://`, or on windows somehow we are preppending `file://` to the module names

[2021-02-03 03:12] ije commented on #116
thanks @shadowtime2000

[2021-02-04 12:27] #89 closed

[2021-02-04 12:27] #114 closed

[2021-02-04 13:37] #101 closed

[2021-02-04 13:37] ije commented on #116
**@v0.3.0-alpha.2** is working on windows now.

[2021-02-04 13:37] #116 closed

[2021-02-04 13:38] ije commented on #97
we need the `applyCSS` for HMR and page routing.

[2021-02-04 13:38] #97 closed

[2021-02-04 13:39] ije commented on #61
pls ref #116

[2021-02-04 13:39] #61 closed

[2021-02-04 13:40] ije commented on #46
VSCode-specific files is optional now.
please upgrade to **@v0.3.0-alpha.2**.

[2021-02-04 13:40] #46 closed

[2021-02-04 13:48] ije commented on #17
i am going to close this, you may can call it **alephjs** instead of **aleph**, that means it's technical stuff not any cult.

[2021-02-04 13:48] #17 closed

[2021-02-04 13:48] FallingSnow opened #118 "[0.3.0] module import issue from esm.sh"
[code]

Notice the missing `v` (for version) in the download link. This is added in in the `force download` causing it to access a 404.

[2021-02-04 13:49] ije commented on #7
preload scripts is done in production mode, no need in dev

[2021-02-04 13:49] #7 closed

[2021-02-04 14:24] ije commented on #118
thanks @FallingSnow, i just pushed the correct tag `v0.3.0-alpha.3` and improved the `fetchDependency` method:

```deno install -A -f --location=http://localhost -n aleph https://deno.land/x/aleph@v0.3.0-alpha.3/cli.ts```

[2021-02-04 14:31] FallingSnow commented on #118
Hmmm. Getting a couple different errors.
[code]

Let me know if you need the full log.

When opening in the browser I get a white screen and
![Screenshot from 2021-02-04 06-29-52](https://user-images.githubusercontent.com/2512197/106906840-6f277200-66b2-11eb-8b32-7cbff5bcc2b9.png)

[2021-02-04 14:35] ije commented on #118
ok, i am going to write a standalone cache instead of `Deno.run({ cmd: ['deno', 'cache', url] })`

[2021-02-04 15:13] ije commented on #118
**@v0.3.0-alpha.4** is released, please try again, thanks

[2021-02-04 19:01] FallingSnow commented on #118
Console output looks ok. Now just getting a white page with these errors in the browser.
![Screenshot from 2021-02-04 11-00-47](https://user-images.githubusercontent.com/2512197/106941889-5762e480-66d8-11eb-981b-afac557c2551.png)

[2021-02-04 19:09] ije commented on #118
@FallingSnow thanks, can you please post your component code?

[2021-02-04 19:15] FallingSnow commented on #118
This is `aleph init hello` with a couple lines added to `app.tsx`. It produces a similar error.
https://github.com/FallingSnow/aleph.js-issue-118

[2021-02-04 19:23] ije commented on #118
thanks, please use `https://esm.sh/swr` instead of `https://esm.sh/swr?external=react`, here no need to add the external, the new compiler will handle it to the correct React dep

[2021-02-04 19:28] ije commented on #118
but i guess the 404 error in browser is caused by the `?external=react` part in the import URL, i will try run your case, thank you @FallingSnow , great help!

[2021-02-04 19:28] FallingSnow commented on #118
Got it. Now I'm running into `Uncaught (in promise) SyntaxError: The requested module '../-/deno.land/x/aleph@v0.3.0-alpha.4/mod.js' does not provide an export named 'Link'`. I already removed my references to Import and Head, but this seems like a bit much, has the way these components are referenced changed?

[2021-02-04 19:30] FallingSnow commented on #118
I think the download with `?external=react` is OK. It's the part where the browser is told to access it at `swr_external=react` that seems to be the issue.

[2021-02-04 19:33] shadowtime2000 commented on #118
Use `<a>` instead it will automatically resolve to `<Link>` if it is relative I think @FallingSnow

[2021-02-04 19:39] ije commented on #118
@FallingSnow as @shadowtime2000 mentioned, the new compiler also will transpile the native `<a>` tag to direct between pages, no need to import `Link` Component at all.

[2021-02-04 19:42] ije commented on #118
### Smart JSX Transform

The new compiler will transpile the JSX intelligently, with this you don't need to import Aleph's specific components, like `Head`, `Link`, `Import`, etc. Just use the native JSX elements instead:

[code]

### Inline CSS

Add inline CSS by `style` tag with **SSR** support:

[code]

[2021-02-04 19:49] FallingSnow commented on #118
`<a>` seems to work, thanks! ~~What about CSS imports?~~ Wow you guys are reading my mind now.
When I do it doesn't seem to apply, but no errors.
[code]

[2021-02-04 19:52] ije commented on #118
remote css i didn't test yet

[2021-02-04 19:55] ije commented on #118
i remember it will output a large html with that at build time (SSR)

[2021-02-04 20:23] FallingSnow commented on #118
Hmmm. Ok, I'll look into it some more.

[2021-02-04 20:23] FallingSnow commented on #118
Safe to say the original issue is fixed. Thank you!

[2021-02-04 20:23] #118 closed

[2021-02-04 20:28] ije opened #119 "[0.3.0] module import issue from esm.sh"
[code]
404 error in browser.

ref #118

[2021-02-05 03:34] borsemayur2 opened #120 "HMR not working with Windows 10 WSL (Windows Linux Subsystem)"
I've installed deno and aleph on ubuntu OS (using Windows 10 WSL). HMR is not working for some reason.

[2021-02-05 03:46] shadowtime2000 commented on #120
@borsemayur2 Please provide more details such as Aleph version and Deno version.

[2021-02-05 03:47] borsemayur2 commented on #120
Versions:
1. Deno: 1.7.1
2. Aleph: v0.3.0-alpha.4

HMR works with Windows 10 install but not with WSL

[2021-02-05 04:23] FallingSnow commented on #120
Hmmm, strange. Maybe something having to do with listening for file changes on WSL.

[2021-02-05 05:06] shadowtime2000 commented on #120
@borsemayur2 Are there any errors in the browser console?

[2021-02-05 05:30] borsemayur2 commented on #120
No. Console says "[HMR] listening for file changes..."

[2021-02-05 06:06] ije commented on #120
not sure whether is deno fs watch api problem in WSL, will test on it. @shadowtime2000 can you please look into it?

[2021-02-05 06:07] ije commented on #120
@borsemayur2 thanks for the details, will fix it ASAP

[2021-02-05 06:08] borsemayur2 commented on #120
Okay. Let me know if I can help in fixing this issue.

[2021-02-05 06:16] oyzhen opened #121 "baseUrl doesn't work"
aleph version: 0.3.0-alpha.4

Initialized project by `aleph init` and configured `aleph.config.ts`:

[code]

However, all the static files under baseUrl cannot reach
![image](https://user-images.githubusercontent.com/52534412/106996544-2b209400-67bc-11eb-9f44-45efc0ab6a26.png)
![image](https://user-images.githubusercontent.com/52534412/106996561-35429280-67bc-11eb-9eca-5f079f4210a7.png)

May be yo

[2021-02-05 06:19] shadowtime2000 commented on #121
@oyzhen Thanks for reporting this, it would take me a little more time to look in and verify if trimming the `baseUrl` would solve this, but most likely yes so I guess you can open a PR for this.

[2021-02-05 06:36] ije opened #122 "improve compiler import resolve"
to remove complex compilation sideEffect.

[2021-02-05 06:39] ije opened #123 "Compiling Executables"
compile the alephjs app into a self-contained executable with `deno compile` command.
ref: https://deno.land/manual@v1.7.1/tools/compiler

[2021-02-05 06:41] ije commented on #123
the command seems like:

[code]

[2021-02-05 06:42] shadowtime2000 commented on #123
Since compiled binaries can't use `import` straight for files relative to binary/executable we would have to rewrite our system to read the file and then convert it to base64 and then use `import` but we would still have to wait for base64 importing in binaries [denoland/deno#9397](https://github.com/denoland/deno/issues/9397). There are probably some other things we would need to rewrite for this

[2021-02-05 06:43] ije commented on #123
@shadowtime2000 si

[2021-02-05 15:08] #71 closed

[2021-02-05 15:08] #121 closed

[2021-02-05 17:35] FallingSnow opened #125 "imports_map.json no longer respected"
The hello example no longer works. This may be caused by a cache issue?
Issue is the same with `aleph@v0.3.0-alpha.4`.

[code]

The interesting thing about this is it kind of half worked before I did `rm -rf .aleph`, then all the modules errored (as opposed to like half of them).

[2021-02-05 18:04] ije commented on #125
fixed: `aleph upgrade`

[2021-02-05 18:35] shadowtime2000 commented on #123
We should also look into allowing users to bundle the entire app and the Aleph cli into a binary for cleaner deployment.

[2021-02-05 18:47] FallingSnow commented on #125
Doesn't seem entirely robust.

If you don't add something to `imports_map.json` and end up getting:
[code]

you can't just add it to the map and run `aleph dev` again, it will produce the same error. You need to run
[code]

and then it will download correctly.

[2021-02-05 18:52] ije commented on #125
that is because the previous compilation cache is still in you disk, or you can run the server with `reload` flag that will re-download all the deps:
[code]

[2021-02-05 18:56] ije commented on #125
what content you added in the `import_map.json` actually?

[2021-02-05 19:04] FallingSnow commented on #125
This what I added, not the full map.
[code]

[2021-02-05 19:14] FallingSnow opened #126 "CSS remote imports do not work in Non SSR mode"
Add tailwindcss, then add a class. This class is applied in SSR but not SSG.

Repo: https://github.com/FallingSnow/alephjs-issue

Code:
[code]

SSG:
![Screenshot from 2021-02-05 11-12-16](https://user-images.githubusercontent.com/2512197/107078329-09ff7980-67a3-11eb-810f-fb43db3b79ab.png)

SSR:
![Screenshot from 2021-02-05 11-13-14](https://user-images.githubusercontent.com/2512197/107078409-2996a

[2021-02-05 19:18] ije commented on #125
after you change the `aleph.config` or the import maps you need to restart the server to make it works. i will improve this to restart automaticlly in the future.

[2021-02-05 19:23] FallingSnow commented on #125
I restarted the server and the error persisted. It was only after clearing the cache that it went away.

[2021-02-05 19:29] shadowtime2000 commented on #125
So that means import maps are cached? I don't think that is something that should be done

[2021-02-05 19:34] shadowtime2000 commented on #122
What complex compilation side effect?

[2021-02-05 19:35] shadowtime2000 commented on #120
I don't use WSL (I embrace the full power of the cmd :p) but I will try to set it up to reproduce asap.

[2021-02-05 19:42] ije commented on #125
sorry @FallingSnow, i can't repeat your case. i only got the download message since it not versioned when restarted:

![image](https://user-images.githubusercontent.com/2883484/107081110-28aa5280-682d-11eb-8ff8-b6f85700fd94.png)

[2021-02-05 19:45] FallingSnow commented on #125
Hmm, I'll see if I can reproduce.

[2021-02-05 19:45] ije commented on #125
but yes, when the import maps changed, the relative compilation cache should be cleared!

[2021-02-05 19:48] FallingSnow commented on #125
I was able to reproduce.
[code]

[2021-02-05 19:49] ije commented on #122
@shadowtime2000  please check https://github.com/alephjs/aleph.js/blob/05592c5aae90e06f5a6641fda7ef28c599915e8b/server/app.ts#L1038

[2021-02-05 19:55] ije commented on #122
i want to remove the hash in import urls, because when a module changed, we need to update the dep graph, but if without hash the ssr will use the cached module in deno cache storage not the re-compiled moudle.

[2021-02-05 20:03] Hunam6 commented on #120
Don't worry @shadowtime2000, it's pretty simple to install, even with the manual way.

[2021-02-05 20:11] ije commented on #125
@FallingSnow can you please check the `.aleph/development/api/counter/index.meta.json`
![image](https://user-images.githubusercontent.com/2883484/107083790-1b8f6280-6831-11eb-8a3a-466f0a6d7f90.png)

[2021-02-05 20:36] ije commented on #122
@shadowtime2000  do you know why this can not work:
[code]

[2021-02-05 20:40] FallingSnow commented on #125
This is the current value:
[code]

[2021-02-05 20:42] FallingSnow commented on #125
I reran the test, this is the value without clearing the cache.
[code]

[2021-02-05 20:50] shadowtime2000 commented on #122
Strange, seems to work for me @ije

[2021-02-05 21:14] ije commented on #122
i figured out, if i pass the `--import-map` option, the data url will break...

[2021-02-05 23:55] thegaryroberts commented on #90
I'm using the framework agonistic version of Emotion (CSS-in-JS) in Aleph.js without any effort: https://emotion.sh/docs/@emotion/css

using the esm.sh import in my import_map.json:
[code]

then in my calling code:
[code]

Didn't know where to begin with getting the react version working (https://emotion.sh/docs/@emotion/react) and it's custom jsx transform, without babel. Not sure if the new JSX

[2021-02-06 00:12] shadowtime2000 commented on #90
@thegaryroberts Thanks for sharing how you do it, I think Emotions React pkg has out of the box support with `renderToString` and other React SSR stuff. We should probably add support for `/** @jsx */`, though it is also possible to just call `jsx` because it is compatible with `React.createElement`.

[2021-02-06 00:48] thegaryroberts commented on #90
So the main hurdle i faced without @jsx directive support, is when I tried this (as per emotion documented example):
[code]

the jsx value gets clean up/removed from the import by the deno fmt as it assumes it is not referenced.

[2021-02-06 01:07] thegaryroberts commented on #5
Server choice of std vs oak might be an option that could be picked from when the Init UI (https://github.com/alephjs/aleph.js/pull/47) is in place. Could skip the need for documentation.

[2021-02-06 01:21] shadowtime2000 commented on #90
@thegaryroberts I think you could open an issue for that because afaik `deno fmt` is for formatting, not stuff like this which could fit `deno lint` more.

[2021-02-06 02:46] juanvillacortac opened #127 "Issue using `useDeno` in 0.3.0"
Throws:
[code]

Code to reproduce:
[code]

[2021-02-06 04:25] autsada opened #128 "How to import global types/interfaces?"
Hi,

I am playing around with aleph quite a bit to learn it, and have one question.

My question is how to import global types/interfaces that globally available in react (@types/react (global.d.ts)), for example, "HTMLButtonElement".

[2021-02-06 04:26] shadowtime2000 commented on #128
Please don't use issues for questions, use discussions or the discord instead.

[2021-02-06 04:26] #128 closed

[2021-02-06 12:47] ije commented on #127
@juanvillacortac can you please upgrade to **alpha.7** and try again, i think it has be fixed. Thanks!

[code]

[2021-02-06 12:47] ije commented on #29
**alpha.7** works

[2021-02-06 12:47] #29 closed

[2021-02-06 15:40] #119 closed

[2021-02-06 15:42] ije commented on #115
i am going to close this since 0.2.28 is outdated.

[2021-02-06 15:42] #115 closed

[2021-02-06 17:01] juanvillacortac opened #130 "Missing Styles in Production Mode"
`aleph dev`:

![image](https://user-images.githubusercontent.com/37244056/107124491-a21c6200-687a-11eb-968a-4face80c6a92.png)

`aleph start` | `aleph build`:

![Screenshot 2021-02-06 at 12 51 56 PM](https://user-images.githubusercontent.com/37244056/107124459-697c8880-687a-11eb-9750-b9d08932d3b8.png)

Content of `app.tsx`:

[code]

[2021-02-06 17:47] ije commented on #130
@juanvillacortac thanks, i will check out later !

[2021-02-07 00:12] shadowtime2000 commented on #5
I don't think this is the best way to do this - a custom server is a more "advanced" configuration so users should be able to implement it on their own.

[2021-02-07 03:21] jeffrey-l-turner commented on #101
I'm still getting the same problems on Mac with Deno 1.7.3

[2021-02-07 03:30] shadowtime2000 commented on #101
@jeffrey-l-turner As in the same error? Have you upgraded to the latest version of Aleph?

[2021-02-07 04:41] shadowtime2000 commented on #1
@ije Would this aliasing still work because most of the components such as links and head tag are importing directly from `esm.sh/react`.

[2021-02-07 04:42] shadowtime2000 commented on #1
Also @mohsenkhanpour we are moving to a system like you are proposing where plugins can hook into Aleph to add support for different frameworks - or so I think.

[2021-02-07 05:11] ije commented on #1
@shadowtime2000 nope, the custom React URL has been removed. we should implement the a framework for it.

[2021-02-07 05:27] juanvillacortac commented on #127
Now `useDeno` hook works without crash, but returns `null` always. I'm on **0.3.0-alpha.8**

[2021-02-07 05:35] juanvillacortac commented on #130
I'm deleted the `.aleph` folder and the problem is solved. I think is a problem with caching in SSR, I don't know.

[2021-02-07 05:54] shadowtime2000 commented on #130
Majority of the problems seem to be solved when deleted the `.aleph` cache - possibly with cache not changing on version updates or something?

[2021-02-07 06:31] juanvillacortac commented on #127
I'm debugging and I found that SSR generated keys are inserted on server `globalThis`, but not on browser `globalThis`.

[2021-02-07 06:31] juanvillacortac commented on #127
I'm debugging and I found that SSR generated keys are inserted on server `globalThis`, but not on browser `globalThis`.

[2021-02-07 06:33] shadowtime2000 commented on #127
@juanvillacortac Ooh thanks. I think that helps us a lot. btw deleted a comment by you because it must have been a github glitch or something and the helpful information you were giving got duplicated into 2 messages.

[2021-02-07 06:35] juanvillacortac commented on #127
Sorry, the messages are sended twice because my internet are unstable and Github bugged. PD: Sorry for my english.

[2021-02-07 07:03] ije commented on #127
thanks @juanvillacortac , we should use `window` instead of `globalThis` since deno also support it, my mistake

[2021-02-07 07:22] shadowtime2000 commented on #127
@ije I don't think the problem lies in that - `globalThis` is supported in most browsers too, seems to be more of the problem of them only being injected on server side while not being injected on the browser side.

[2021-02-07 07:25] shadowtime2000 commented on #127
[`globalThis` on Can I Use](https://caniuse.com/mdn-javascript_builtins_globalthis) - has support in all modern browsers

[2021-02-07 07:35] juanvillacortac commented on #127
Yes, `globalThis` is supported in both, but I don't think that its props are shared between browser and server, but I don't know if `window` object is also shared between both contexts.

[2021-02-07 08:47] ije commented on #127
in the client, the **useDeno** data will be inject to globalThis before page rendering.

[2021-02-07 08:48] ije commented on #127
@juanvillacortac can you please post the source code?

[2021-02-07 08:50] ije commented on #127
@shadowtime2000 yeah, will add the **globalThis** polyfill for _IE11_.

[2021-02-07 11:14] KylinLee opened #131 "Can't use markdown file as page"
Aleph.js v0.3.0-alpha.1

I use `aleph init` to create my project, and create a markdown file in `pages` dir.

like this

[code]

when I run `aleph dev` to start the server, I got such message, when I visit `/about`, it returns 404, when I visite `/about.md`, it throw an Error.

<img width="654" alt="2021-02-07_19-04-40" src="https://user-images.githubusercontent.com/44860097/107144734-1c7edc00-697

[2021-02-07 11:42] ije commented on #131
@KylinLee, please note that we already removed the builtin markdown page routing in **0.3**, i will update docs later.

[2021-02-07 11:44] ije commented on #131
but a plugin will be added to support markdown pages in the future.

[2021-02-07 12:26] KylinLee commented on #131
Thanks

[2021-02-07 12:26] #131 closed

[2021-02-07 14:21] hazae41 opened #132 ""assert" module throws SyntaxError"
Hey, I just upgraded to Aleph 3.0 alpha 8 and Deno 1.7.2 (was on 1.6.3)

But when entering "aleph dev", the following error is thrown by the "assert" module (which is imported by a library I use):

        return n ?? r.has(n) && !e.has(n);

![Capture](https://user-images.githubusercontent.com/4405263/107149184-863abe00-6957-11eb-806c-a788fe067581.PNG)

I don't know if it's related to esm.sh or al

[2021-02-07 14:29] hazae41 commented on #123
Would this allow us to deploy an Aleph website without using a Deno-compatible docker image?

[2021-02-07 14:31] hazae41 commented on #108
Maybe we could have a mode that behaves like "dev" but is widely compatible like "production"?

[2021-02-07 14:46] hazae41 commented on #132
Just downgraded to Deno 1.6.3 and Aleph 0.2.28, the error is gone

[2021-02-07 14:52] ije commented on #123
@hazae41 yes, it's just an execute file finally.

[2021-02-07 14:56] ije commented on #132
@hazae41  which lib you are using? i guess it's swc's issue, 0.2.28 is using the tsc.

[2021-02-07 15:10] hazae41 commented on #132
@ije It seems to be imported by https://esm.sh/@ethersproject/providers

[2021-02-07 15:11] ije commented on #108
chrome 89+ will support it:
![image](https://user-images.githubusercontent.com/2883484/107150632-b0ad6b00-6999-11eb-9162-050ede9b2f4f.png)

[2021-02-07 15:12] ije commented on #132
thanks, i will look into it!

[2021-02-07 15:15] ije commented on #108
we are using es module in dev mode that is vary simple and good for compilation, it is bad to bundle code in dev.

[2021-02-07 15:32] juanvillacortac commented on #127
@ije Yes, please inspect this repo: [https://github.com/pixelwall/xd-dogs](https://github.com/pixelwall/xd-dogs)

[2021-02-07 15:49] juanvillacortac commented on #127
I'm testing, and in SSG mode `useDeno` values are filled correctly. In production mode with `aleph start` doesn't work like in `aleph dev` mode, only in SSG.

[2021-02-07 15:50] juanvillacortac commented on #127
PD: I'm deleteting `.aleph` folder for force new cache.

[2021-02-07 15:55] ije commented on #127
@juanvillacortac i saw your project, it is cool! good job. my question is the `ALEPH_ENV` key you are using is existing in your system env?
![image](https://user-images.githubusercontent.com/2883484/107151875-f40ad800-699f-11eb-9645-d6de6cda128c.png)
![image](https://user-images.githubusercontent.com/2883484/107151864-e6555280-699f-11eb-8f4a-f37b777e8c92.png)

[2021-02-07 17:30] juanvillacortac commented on #127
@ije Yes, I fill the env variables with the Makefile (and the dev and deploy workflow are managed with `make`). The `useDeno` values works in server environment, but if you try to access those values on browser are always null, but, the SSG mode is the only way that `useDeno` works as expected.

[2021-02-08 02:01] borsemayur2 opened #133 "Auto Refresh not working in 0.3.0-alpha.8"
I'm required to refresh the page manually on win 10 (was working previously) after upgrading Aleph (from v0.3.0-alpha.4 to v0.3.0-alpha.8)

[2021-02-08 02:13] borsemayur2 commented on #133
Auto refresh works with Deno 1.7.2 and Aleph v0.3.0-alpha.4

[2021-02-08 02:54] borsemayur2 opened #134 "TypeError: Cannot destructure 'applyCSS(...)' on WSL"
Not able to run the demo app on WSL while the same code runs on win 10
![image](https://user-images.githubusercontent.com/47341981/107170698-0e1bd900-69e7-11eb-9f9c-a606509d36c6.png)

[2021-02-08 03:01] borsemayur2 commented on #134
Versions:
Deno: 1.7.2
Aleph: v0.3.0-alpha.8

[2021-02-08 05:26] ije commented on #134
@borsemayur2 didn't test on WLS...will do it later, thanks 👍

[2021-02-08 23:49] Hunam6 opened #135 "ISR support"
https://nextjs.org/blog/next-9-5#Stable-incremental-static-regeneration

[2021-02-09 17:28] hazae41 commented on #132
Nevermind, it seems the bug was coming from a module I was importing using ES2020 target (added automatically by VSCode auto import?)

The following (es2020) throws an error

[code]

The following (es2018) does not

[code]

The following does not

[code]

[2021-02-09 17:28] #132 closed

[2021-02-09 18:03] hazae41 opened #136 "Wrong import.meta.url when caching"
Hey, I try use a module that dynamically imports a .wasm file

https://deno.land/x/ed25519_dalek@1.0.2/legacy.ts

The problem is that the module uses import.meta.url to import the relative .wasm file

[code]

But when Aleph caches that module, the wasm file is not cached

When using the module, the module fails to find the .wasm file (404)

[code]

![Capture](https://user-images.githubusercontent.

[2021-02-09 18:39] hazae41 opened #137 "Problems with React.forwardRef"
Hey, I face multiple errors when I use React.forwardRef

Here is my code

[code]

The first error is that the compiled .js file modifies the "ProfileModal" variable, which is a const

![Capture](https://user-images.githubusercontent.com/4405263/107407431-f12bf680-6b09-11eb-9404-e92faaa2eff2.PNG)

I modify the script to use "let"

[code]

But then another error occurs, from the component that inclu

[2021-02-09 19:45] hazae41 commented on #126
Same issue, it seems <link/> are not applied when using SPA mode (SSR false)

[2021-02-09 19:46] hazae41 opened #138 "Cannot build: Unable to output bundle during Graph::bundle()"
My app works flawlessly using "aleph dev", but when I try "aleph start" or "aleph build", I face this error

INFO   {} polyfill (ES5) • 8KB
INFO   {} deps • 3.2MB
Bundle .../.aleph/production/shared.bundle.entry.js
error: Unable to output bundle during Graph::bundle().

I've tried to clear the .aleph cache, the error still happens

[2021-02-09 23:47] shadowtime2000 commented on #1
@ije Do you think we should start working on a framework system? Also, I think we could allow frameworks to allow passing options to them, so like with React we could allow changing the URLs of the libraries, or we could instead add aliasing to the compiler/bundler.

[2021-02-10 02:42] ije commented on #138
@hazae41 can you please check the  `.aleph/shared.bundle.entry.js`, thanks

[2021-02-10 02:50] hazae41 commented on #138
.aleph\production\shared.bundle.entry.js

[code]

[2021-02-10 02:54] ije commented on #138
@hazae41 i will fix it ASAP

[2021-02-10 03:12] borsemayur2 opened #139 "How to access query params passed to api action (dynamic routes)"
I'm writing Todos APIs. I need to pass `id` of the todo record for `retrieve`, `update` and `delete` action.

How Should I pass the `id` ?
`/todos/retrieve/1 ` or `/todos/retrieve?id=1`

How can I access the passed `id`?
request.params contains `{action: 'retrieve'}` only

[2021-02-10 03:28] shadowtime2000 commented on #139
Please use discussions for questions. You can use the `useRouter` hook to collect information from queries and other stuff.

[2021-02-10 03:28] #139 closed

[2021-02-10 03:32] shadowtime2000 commented on #136
Instead of trying to cache the WASM file too we could just replace `import.meta.url`

[2021-02-11 04:55] shadowtime2000 commented on #126
Does using a static `import` work?

[2021-02-11 12:22] cemoktra opened #141 "Access localStorage"
Hi i have a problem accesing the localStorage:

[code]
This results in:
`Uncaught (in promise) ReferenceError: Deno is not defined`

As far as i understood `useDeno` is made for this, so i changed it to:
[code]

and get:
`500 - Access to "location", run again with --location .`

What do i understand wrong?

[2021-02-11 12:25] #141 closed

[2021-02-12 03:31] jiclivi opened #143 "This page cannot be accessed outside the docker container (http://0.0.0.0:8080/http://172.17.0.2:8080)"
Visiting 8080 in the docker container can output Hello World-Aleph.js
but outside the container (http://0.0.0.0:8080/http://172.17.0.2:8080) this page cannot be accessed

aleph start
INFO Building...
INFO - Bundling
INFO   {} deps • 159KB
INFO   {} shared • 398B
INFO   {} polyfill (ES5) • 8KB
INFO Aleph server ready on http://localhost:8080

[2021-02-12 03:37] jiclivi commented on #143
root@601bcb8deb0d:/aleph$ curl http://localhost:8080
<!DOCTYPE html><html lang="en"><head><meta charSet="utf-8" /><title ssr>Hello World - Aleph.js</title> ......

![20210212113458](https://user-images.githubusercontent.com/14210650/107727544-860b3b80-6d26-11eb-8b7f-390fcd7e5195.png)

[2021-02-12 10:53] jiclivi opened #144 "👑 [suggest] i18n easy to use"
I think i18n (https://github.com/ant-design/ant-design-pro/tree/master/src/locales) is very convenient to use

[2021-02-12 10:57] #144 closed

[2021-02-12 13:40] hazae41 commented on #126
No, the page don't even load, I get a blank page with this in the console

![Capture](https://user-images.githubusercontent.com/4405263/107774999-0b4f1a00-6d40-11eb-99f7-10194b398cff.PNG)

(Yes I deleted the .aleph folder)

[2021-02-12 13:42] hazae41 commented on #126
It also fails in SSR mode (SSR true)

    at file:///.../.aleph/development/app.ab9f7c998.js:8:0

[2021-02-12 16:24] ije commented on #126
i'm writing the loader system, will fix this next patch

[2021-02-12 20:03] DryDemon opened #147 "Accessing user cookie data from the pages"
On a project I need authentification from user. I use jwt cookies to do so.
I know I can use the api to verify the cookie and send data but that is 2-3 times slower to send the page, wait for the user to load him and then let him send a request to the api.
Fetching the data in the SSR time and directly integrating in the pages in much faster.
Is there any way to check the cookie value during SSR?

[2021-02-12 20:05] #147 closed

[2021-02-12 20:35] juanvillacortac commented on #127
Hello again. I notice that `useDeno` retrieve the correct value only when is used in a view component under `pages` folder, and also work in `app.tsx` file if we are viewing a page with `useDeno` inside, but if we doesn't have used `useDeno` in a route (and viewing that route) `useDeno` doesn't work correctly inside `app.tsx`.

[2021-02-13 02:27] shadowtime2000 commented on #143
I know nothing about docker containers and stuff like that (im a full on jamstack person :P) so I guess this something that could be fixed/solved by someone with more experience in this.

[2021-02-13 02:43] jiclivi commented on #143
@shadowtime2000
Need to modify the localhost to 0.0.0.0
aleph start -hn 0.0.0.0 -p 8080

[2021-02-13 07:09] ije commented on #127
@juanvillacortac yes, i also figured out, currently only use `useDeno` in page components will generate the ssr data, i will fix it ASAP. thanks

[2021-02-13 16:44] juanvillacortac opened #150 "[0.3.0-alpha.8] Error on bundle from static build"
Web app prerenderize correctly, but javascript doesn't load, and this is the error throwed on dev tools:

![image](https://user-images.githubusercontent.com/37244056/107855476-e1a5f980-6df8-11eb-8ace-7c8512ea4756.png)

I think that there is not a chunk module generated for `app.tsx` file, but app still need import this file, and throws a 404 error.

[2021-02-13 16:50] juanvillacortac commented on #150
File structure from generated build:

- Under `_aleph`:

![image](https://user-images.githubusercontent.com/37244056/107855576-a7892780-6df9-11eb-82a7-36dafef7e62c.png)

- Under `_aleph/pages`:

![image](https://user-images.githubusercontent.com/37244056/107855595-c5568c80-6df9-11eb-90b0-5a930ae4298e.png)

- Under `_aleph/data`:

![image](https://user-images.githubusercontent.com/37244056/10785560

[2021-02-13 18:14] ije commented on #150
@juanvillacortac thanks, i'm rewriting the loader and bundling system to make it more stable.

[2021-02-14 02:06] forgo commented on #5
[code]

Will this be expanded to allow for `.scss` and `.sass` extensions when using the sass plugin?

I currently use the [`Import` component](https://alephjs.org/docs/basic-features/built-in-css-support#the-import-component)  to avoid the "Could not find module" error with the TS import of a `.scss`.

It seems awkward switching conventions using both CSS and SCSS if these smart transforms are go

[2021-02-14 02:26] forgo opened #151 "v0.3.0 Smart Transforms with Sass Plugin"
[code]

Will this be expanded to allow for `.scss` and `.sass` when using the sass plugin?

I was previously using [`Import` component](https://alephjs.org/docs/basic-features/built-in-css-support#the-import-component)  to avoid the "Could not find module" error with the TS import of a `.scss`, but I'm not even sure where to get the `Import` component from anymore. Is it removed?

Is it still poss

[2021-02-14 02:28] shadowtime2000 commented on #5
I think that's a good idea. I believe @ije is rewriting the loader system right now so they could probably have the loader system hook into the smart JSX transforms.

[2021-02-14 07:30] shadowtime2000 commented on #123
We could allow kind of programmatically invoking the CLI then users could have a file which calls Aleph with the config and then that file could be compiled into a final executable - though not as sure.

[2021-02-14 08:03] ije commented on #151
did you add the sass plugin？

[2021-02-14 08:08] ije commented on #143
@jiclivi so basically we should change the default hostname to 0.0.0.0 can fix this？https://github.com/alephjs/aleph.js/blob/fd347a7cb5c4614101911dd2b97dea06e676516c/cli/start.ts#L26

[2021-02-14 08:15] shadowtime2000 commented on #143
Not a docker expert at all but if that can fix it maybe it would be possible to create our own docker file config thingy based off of @hayd's one and have it by default set the hostname to 0.0.0.0

[2021-02-14 08:20] jiclivi commented on #143
@ije Yes it is
Need to modify localhost to 0.0.0.0

[2021-02-14 08:28] ije commented on #143
@jiclivi great! thanks! can you please make a pr? or I will do it later, thanks

[2021-02-17 06:31] Stvchm9703 opened #152 "[0.3.0-a.8] fail run in development / build mode, by "FATAL 'pages' directory not found.""
# environment
OS : MacOs 15.5.7

deno : 1.7.4
aleph.js : v0.3.0-alpha.8

# how it case
I just init the project by running `aleph init`

it comes out the project structure
<img width="190" alt="Screenshot 2021-02-17 at 2 30 40 PM" src="https://user-images.githubusercontent.com/15327054/108164988-c4409a80-712c-11eb-9015-0096e1a6f586.png">

then I run `aleph dev` / `aleph build`
it show the `FATAL 'p

[2021-02-17 19:11] ije commented on #152
did you change to the `aleph-static` dir?

[2021-02-18 02:39] borsemayur2 commented on #133
Fix isn't working for me

[2021-02-18 05:10] ije commented on #133
will release the patch later, sorry i just came back from vacation

[2021-02-18 07:26] oyzhen opened #153 "[0.3.0-alpha.8] "Minified React error #321" while running `aleph build`"
![image](https://user-images.githubusercontent.com/52534412/108320036-400a1800-71fd-11eb-84eb-bb723ee4ddd2.png)

React error #321 refs:
https://reactjs.org/docs/error-decoder.html/?invariant=321

![image](https://user-images.githubusercontent.com/52534412/108320352-a98a2680-71fd-11eb-9250-0bfe524a10db.png)

[2021-02-18 07:33] shadowtime2000 commented on #153
@oyzhen Can you share a reproduction repo? It could be because you are importing a lib from esm.sh which uses React 16 when we use React 17.

[2021-02-18 07:43] oyzhen commented on #153
The project was just generated by `aleph init`.
And the 'import_map.json' is:
[code]

My deno version is 1.7.1

I tried 'deno run --reload -A https://deno.land/x/aleph@v0.3.0-alpha.8/cli.ts build', still error.

[2021-02-18 07:45] shadowtime2000 commented on #153
@oyzhen Was it just the basic default template?

[2021-02-18 07:45] oyzhen commented on #153
Yes.

[2021-02-18 08:15] ije commented on #153
@oyzhen please try `aleph build --reload`

[2021-02-18 08:20] oyzhen commented on #153
@ije Great! Thanks a lot!

[2021-02-18 08:20] #153 closed

[2021-02-19 02:55] shadowtime2000 commented on #137
Possibly a problem with the esm.sh conversion of React but I am not sure.

[2021-02-19 03:54] borsemayur2 opened #154 "NPM package import from skypack, jsdelivr, jspm fails (only esm.sh works)"
For material ui package.

Deno: 1.7.4
Aleph: v0.3.0-alpha.8

[2021-02-19 03:55] borsemayur2 commented on #154
Using import-map

[2021-02-19 03:56] shadowtime2000 commented on #154
@borsemayur2 Can you provide reproduction steps or a reproduction repository? And how is the fact that only esm.sh works with it an issue?

[2021-02-19 05:40] ije commented on #154
since alephjs use esm.sh import react lib, if you use some packages in skypack that depend on react will import a different react instance

[2021-02-19 06:48] shadowtime2000 commented on #94
@ije [swc-project/swc#1408](https://github.com/swc-project/swc/pull/1408) got merged. That's the PR for the React 17 JSX transform. Would we still need to wait until 1.8.0 of Deno is released or could we add it in once the next version of SWC is released?

[2021-02-19 07:08] #136 closed

[2021-02-19 07:18] ije opened #155 "importmap command"
add a `importmap` command to manage the `import_map.json`:

[code]

[2021-02-19 07:23] ije commented on #154
i will imporve the compiler to support those CDNs in the future, for now please use esm.sh

[2021-02-19 07:25] shadowtime2000 commented on #155
This could definitely become it's own `/x/` package because of usefulness, but prob best to start off of small by keeping it here.

[2021-02-19 08:15] ije opened #156 "polyfills usage"
parse AST at compilation phase to create a minimum polyfills by usages.

[2021-02-19 08:24] shadowtime2000 commented on #156
@ije Are the polyfills in the compiler folder just injected into it?

We could just write some polyfills inside the `compiler/polyfills` folder and have the compiler transform object accessors and stuff rewrite to usages of imports of them.

[2021-02-19 10:42] ije commented on #156
i think the compiler should return a polyfills usage list to the bundler, then bundle the polyfills to a js fill.

[2021-02-19 10:43] shadowtime2000 commented on #156
@ije Couldn't we also use the SWC crates that have been published for stuff like this?

[2021-02-19 11:04] ije commented on #156
which crate?

[2021-02-19 11:45] ije commented on #154
the main problem is those CDN dont provide dev build that is alephjs required to support fast-refresh and full console log output.

[2021-02-19 17:40] Stvchm9703 commented on #152
did you change to the aleph-static dir? << nope , all I run is as same as 'get start' in tutor

[2021-02-20 02:07] shadowtime2000 commented on #156
@ije I think we could use [swc_ecma_transforms_compat](https://crates.io/crates/swc_ecma_transforms_compat).

[2021-02-20 02:22] shadowtime2000 commented on #156
@ije Do you think we could use [swc_bundler](https://crates.io/crates/swc_bundler) instead of using `Deno.run` and `deno bundle`?

[2021-02-20 09:34] ije commented on #156
@shadowtime2000 no, we should use Deno.run instead of swc_bundler wasm, unless the deno plugin op is stable

[2021-02-20 09:38] shadowtime2000 commented on #156
@ije What do you think about instead using `Deno.emit`? Still trying to piece together how the rust wasm compiler is organized but i think we could use `swc_ecma_transforms_compat`.

[2021-02-20 09:38] ije commented on #156
@shadowtime2000 the bundler is using `swc_ecma_transforms_compat` now, but some polyfills should be added like `fetch`, `Array.prototype.includes`, `Promise.All`, etc...
FYI https://github.com/alephjs/aleph.js/blob/master/compiler/src/swc.rs#L16

[2021-02-20 09:40] ije commented on #156
the `deno bundle` is the best way i tried

[2021-02-20 10:21] ije commented on #156
for now it is, maybe in the future we can use the deno plugin op instead of wasm that can access the file system and support multi-thread.

[2021-02-20 11:10] #143 closed

[2021-02-20 13:23] #127 closed

[2021-02-20 13:56] ufoo68 opened #157 "vscode setting is wrong"
In aleph project `.vscode/setting.js` is following.

[code]

However, referenced [deno vscode extension](https://marketplace.visualstudio.com/items?itemName=denoland.vscode-deno) ,
the following seems to be correct.

[code]

[2021-02-20 14:20] jiclivi commented on #143
I just learned deno, the environment I use is docker ubuntu vim to write alephjs

[2021-02-20 14:24] ije commented on #143
@jiclivi cool, i will release a patch later

[2021-02-20 14:25] jiclivi commented on #143
@ije Can you get such an admin?
https://preview.pro.ant.design/dashboard/analysis?fixSiderbar=true&colorWeak=false&pwa=false

Base Layout：
![20210219195418](https://user-images.githubusercontent.com/14210650/108598758-6df08780-73ca-11eb-9c5d-3e1d6b54f7c0.png)

[2021-02-20 14:37] jiclivi commented on #143
ant design pro , The layout is fixed, not very friendly to custom layouts

A plugin like this is pretty good

![20210220223118](https://user-images.githubusercontent.com/14210650/108599443-210db080-73cc-11eb-8592-9e2c19970d8e.png)

[2021-02-20 14:48] Hunam6 commented on #157
This can be closed now

[2021-02-20 15:34] #157 closed

[2021-02-21 03:34] shadowtime2000 commented on #135
@ije I believe you were working on this? Just checking so I can assign the issue for organization

[2021-02-21 17:20] thegaryroberts commented on #90
It turns out it was my IDE (VS Code) removing it. The directive is not removed if it is the very first line in the file. However this just led onto other issues getting emotion/react to work. Tried using the esm.sh import bundle options, but is still delivering emotion with inbuilt react version which leads to multiple react version warnings (and probable errors). Anyway giving up and sticking to

[2021-02-21 19:01] Zizico2 opened #159 "ReScript support"
Are there any plans to support [ReScript](https://rescript-lang.org/)?
ReScript React bindings already exist. Could we have ReScript as a an officially supported language? React bindings already exist and Aleph bindings shouldn't be too hard to muster up.

[2021-02-21 19:05] shadowtime2000 commented on #159
I have never used ReScript so idk most of the stuff.

But it seems like ReScript requires an NPM package?

This would be a very large feature and would probably require Deno support from ReScript.

[2021-02-21 19:18] Zizico2 commented on #159
Ah, that is true. I completely disregarded that we don't use npm here. I'll bring this fight to ReScript as well. Using ReScript is such a breath of fresh air. I've been avoiding JavaScript for as long as I've been developing for the web. TypeScript is good but it aims to be a superset of JavaScript which holds it back imo. I'm using nextjs+rescript for the website I am currently developing.

This

[2021-02-21 19:22] shadowtime2000 commented on #159
@Zizico2 Once ReScript gets Deno support it would probably be simple to add support, we just need to write a plugin for our loader system then.

I have no idea how ReScript works but I think it is built on OCaml which I think is a native language so yeah, it may take more then creating an esm.sh url to use it in Deno.

If you create an issue there or something for Deno support it would be great if

[2021-02-22 02:09] borsemayur2 commented on #154
@shadowtime2000 `"@material-ui/core": "https://esm.sh/@material-ui/core" `with any of the mentioned CDNs in `import_map.json`. I only wanted to inform about other CDNs not working.

@ije Okay. I'm fine with esm.sh. Just wanted to try out other CDNs.

Thanks

[2021-02-22 02:13] borsemayur2 commented on #133
@ije Okay. Thanks

[2021-02-22 03:19] borsemayur2 commented on #143
@jiclivi  I'm getting `localhost didn’t send any data. ERR_EMPTY_RESPONSE` while running `aleph start -hn 0.0.0.0 -p 8080` in docker container. What am I missing?

[2021-02-22 03:27] jiclivi commented on #143
@borsemayur2  docker run  -p 8080:8080

docker No external port mapping specified

[2021-02-22 03:35] borsemayur2 commented on #143
![image](https://user-images.githubusercontent.com/47341981/108653632-f6ffdf80-74ec-11eb-85b6-499fd39ffd6b.png)
This is the port mapping. Looks fine?

[2021-02-22 03:45] jiclivi commented on #143
Try the container ip: 8080
query docker ip(docker inspect container | grep "Add")

[2021-02-22 04:03] borsemayur2 commented on #143
![image](https://user-images.githubusercontent.com/47341981/108660427-fd905600-74f0-11eb-950d-de67fea1d937.png)
Getting this output.

[2021-02-22 04:07] jiclivi commented on #143
![20210222120605](https://user-images.githubusercontent.com/14210650/108661304-7352ec80-7506-11eb-80c0-5830d9110c40.png)

[2021-02-22 04:09] jiclivi commented on #143
![20210222120753](https://user-images.githubusercontent.com/14210650/108661421-c4fb7700-7506-11eb-9bb4-3a7b21b1120c.png)

[2021-02-22 04:16] jiclivi commented on #143
@borsemayur2
I created the docker environment like this

docker run -it --name=gui-vim-code \
  -p 80:80 \
  -p 8080:8080 \
  -p 5000:5000 \
  -p 8899:8899 \
  --mount "type=bind,src=/home/jclivi/Desktop/works/work,dst=/work-path" \
  --workdir /work-path \
  -v /etc/localtime:/etc/localtime:ro \
  -v /tmp/.X11-unix:/tmp/.X11-unix \
  -e DISPLAY=unix$DISPLAY \
  -e GDK_SCALE \
  -e GDK_DPI_SCALE \

[2021-02-22 04:32] jiclivi commented on #143
@borsemayur2

1. docker mount deno
docker run -it --name=aleph-test \
  -p 80:80 \
  -p 8080:8080 \
  -p 5000:5000 \
  -p 8899:8899 \
  --mount "type=bind,src=/home/user/Desktop/works/deno,dst=/work-path/deno" \
  --workdir /work-path \
  -v /etc/localtime:/etc/localtime:ro \
  -v /tmp/.X11-unix:/tmp/.X11-unix \
  -e DISPLAY=unix$DISPLAY \
  -e GDK_SCALE \
  -e GDK_DPI_SCALE \
  ubuntu /bin/bash

[2021-02-22 22:07] hazae41 commented on #89
The bug still happens in 3.0 beta 8 (Deno 1.7.5)

Same error

[2021-02-23 01:41] borsemayur2 commented on #143
I'll give it a try. Thanks

[2021-02-24 17:55] talentlessguy opened #160 "MDX Support"
Would be awesome to have support for [MDX](https://mdxjs.com/) so you can easily build docs or blog websites

[2021-02-24 23:33] shadowtime2000 commented on #160
We could just add an MDX plugin once MDX get's Deno support.

[2021-02-26 03:30] jcayzac commented on #42
@JLarky how do you use that unnamed import? I tried using twind with aleph but I keep getting an error:

[code]

I just modified `app.tsx` with

[code]

[2021-02-26 04:07] jcayzac opened #161 "Modules with a query string are not stored where the resolver expects them"
If the import URL of a module has a query string, e.g.

[code]

…then the query string is included in the base filename of the module stored on-disk, like this:

[code]

…but the resolver at

https://github.com/alephjs/aleph.js/blob/192885d489b0204838b462c274a16cc95a56cc2f/compiler/src/resolve.rs#L116

…when importing the module, expects a file at:

[code]

…and `aleph dev` produces the following

[2021-02-26 04:24] ije commented on #161
@jcayzac thanks, i already rewritten the loader system that should fix this

[2021-02-26 16:22] JLarky commented on #42
I don't have the project at the moment, but you should check this discussion https://github.com/tw-in-js/twind/issues/70#issuecomment-762184115

[2021-02-27 16:15] kuhlaid opened #164 "cleanPath outputting \\ instead of /"
The cleanPath function seems to be inserting double backslashes instead of a single forward slash in the main html file. For example the server/helper.ts file is generating the modulepreload javascript link using

`<link rel="modulepreload" href=${JSON.stringify(util.cleanPath(v.src))} />`

which outputs as:

`<link rel="modulepreload" href="\\_aleph\\main.[someval].js" />`

which instead should b

[2021-02-27 16:54] oyzhen opened #165 "Asynchronous Import doesn't work"
aleph version 0.3.0-alpha.8
deno version 1.7.5

Module '"https://deno.land/x/aleph@v0.3.0-alpha.8/mod"' has no exported member 'Import'

![image](https://user-images.githubusercontent.com/52534412/109393921-503d9800-795f-11eb-9bd5-faf8d26a050a.png)

[2021-02-27 17:02] #165 closed

[2021-02-27 17:22] shadowtime2000 commented on #164
Yeah, we noticed this some time ago but I don't think we were able to figure out where exactly it was being converted. Possibly from usage of `std/path`.

[2021-03-01 01:27] XDean commented on #164
It's there a quick workaround? I'm suffering this issue too.

[2021-03-01 05:49] shadowtime2000 commented on #164
@XDean Unfortunately, there are no workarounds.

[2021-03-02 23:26] shadowtime2000 commented on #94
1.8.0 got/is getting released today and plans for the new JSX transform have been moved to 1.9.0 so this should be resolved in like 6 weeks.

[2021-03-03 02:05] shadowtime2000 opened #168 "Code Coverage"
In 1.8.0 LCOV got support with code coverage and denos testing thing so I think we should use a code coverage service so we can make sure everything is being tested. We could use coveralls.io or codecov, I prefer coveralls but I have never used codecov.

[2021-03-03 17:21] Hunam6 commented on #168
From what I've seen, Codecov is more modern, it has a cleaner interface and seems to be better integrated with Github but Coveralls is older so maybe they have better support 🤷. But in my opinion, as Codecov seems more modern, it will surely have support for Deno sooner.

[2021-03-03 17:22] shadowtime2000 commented on #168
Yeah, I have only used coveralls in Node projects because of it's weird set up necessary with Travis CI, so I think we could look more into codecov.

[2021-03-03 18:18] shadowtime2000 commented on #168
@Hunam6 actually you can do it already using their GH action that can be added to workflows

[2021-03-04 02:27] borsemayur2 opened #169 "Cannot assign to read only property 'navigator' of object '#<Window>' error after upgrading Deno to 1.8"
Aleph app was working with Deno 1.7.5. Getting mentioned error after upgrade
Versions:
Deno: 1.8
Aleph: v0.3.0-alpha.8

[2021-03-04 02:27] shadowtime2000 commented on #169
@borsemayur2 Can you provide an image of the full error?

[2021-03-04 02:29] borsemayur2 commented on #169
![image](https://user-images.githubusercontent.com/47341981/109901705-82345e80-7cbf-11eb-97c9-c7c83d910a94.png)
Same for WSL and Win 10

[2021-03-04 02:41] shadowtime2000 commented on #169
I think this is happening because WebGPU in 1.8.0 is in the `window.navigator` so they sealed it off from modification, but I am not sure.

[2021-03-04 02:59] shadowtime2000 commented on #169
Looking more into this, it seems `navigator` on Deno only has the webgpu apis so I am going to create an issue in the Deno repo to supply those or allow some modification.

[2021-03-04 03:04] shadowtime2000 commented on #169
[denoland/deno#9676](https://github.com/denoland/deno/issues/9676).

[2021-03-04 20:22] shadowtime2000 commented on #169
It appears that you can still modify `navigator`, just not in the way that is currently used so I will try to submit a simple PR by the end of today to fix this.

[2021-03-05 03:57] borsemayur2 opened #175 "App works in dev mode without errors but crashes in prod and build mode"
I've tried deleting `.aleph` but nothing works.
![image](https://user-images.githubusercontent.com/47341981/110065289-d3625200-7d94-11eb-8456-fc342da45b7c.png)

[2021-03-05 05:36] #169 closed

[2021-03-05 05:52] shadowtime2000 commented on #168
@ije Thoughts on this?

[2021-03-06 04:08] FallingSnow commented on #164
Are you guys running aleph on Windows?

[2021-03-06 04:12] FallingSnow commented on #175
Can you make a minimally reproducible repo, or maybe a list of modules you're importing?

[2021-03-06 04:14] FallingSnow commented on #133
@borsemayur2 is this the same behavior as #120?

[2021-03-06 04:16] FallingSnow commented on #164
Also, is this the same issue as #138?

[2021-03-06 04:28] shadowtime2000 commented on #164
@FallingSnow I don't believe so, this issue is regarding the broken dev mode on Windows - I think this is a duplicate issue though.

[2021-03-06 09:29] ije commented on #164
i added a testing for the cleanPath, seems it passed the test on window...
https://github.com/alephjs/aleph.js/blob/master/shared/util_test.ts#L53

[2021-03-06 10:30] ije commented on #168
yeah, let's try it, but need to add more testings firstly...

[2021-03-06 12:30] RoXuS commented on #107
works as expected on 1.8.0, THX!

[2021-03-06 12:30] #107 closed

[2021-03-06 13:13] kuhlaid commented on #164
No. This is different. This has to do with how the HTML is output with incorrect HTTP paths (which is not Windows or Linux specific).

[2021-03-06 16:23] borsemayur2 commented on #175
[code]

[2021-03-06 16:31] borsemayur2 commented on #120
Updates: The issue is with WSL and not Aleph. File changes for `/mnt` (windows FS for instead of Linux) not supported. The app needs to be setup in Linux path. [HMR not working on WSL 2](https://github.com/microsoft/WSL/issues/4417)

Thus, we closing this issue.

[2021-03-06 16:31] #120 closed

[2021-03-06 16:35] borsemayur2 commented on #133
No. HMR works now, but I still have to refresh the page manually after code change for the latest aleph.

[2021-03-06 16:37] CaiqueR opened #177 "TypeError: Cannot assign to read only property 'navigator' of object '#<Window>'"
When a I run `aleph dev` I get this error:

![image](https://user-images.githubusercontent.com/42003129/110213962-2285b100-7e81-11eb-9da6-745d8fa08377.png)

[2021-03-06 18:34] shadowtime2000 commented on #177
Duplicate of #169. It has already been fixed on master, so will be fixed in next release.

[2021-03-06 18:34] #177 closed

[2021-03-06 18:35] shadowtime2000 commented on #175
@borsemayur2 Can you please provide a minimally reproducible repo because an import map still might not tell enough.

[2021-03-08 03:52] borsemayur2 commented on #175
Strangely, I'm getting `invalid hook error` for previously working code (no changes made) in development mode.
![image](https://user-images.githubusercontent.com/47341981/110271412-fdfb1780-7fed-11eb-84c1-316c4618ddcc.png)

[2021-03-08 03:55] borsemayur2 commented on #175
Here's [Min Repro Repo](https://github.com/borsemayur2/min-repro-aleph-app). I was not able to  test the development mode due to above error.

[2021-03-08 05:22] FallingSnow commented on #175
Ran your repo. It's working for me. What version of deno are you running?

[code]

[2021-03-08 05:23] FallingSnow commented on #175
Oh just saw your issue is production. Lemme test.

[2021-03-08 05:27] FallingSnow commented on #175
Got the error, and yeah. This definitely looks like a bundler error as @ije pointed out.

[2021-03-08 14:49] lcswillems opened #178 "Can I do a dynamic website with Aleph.js?"
On the documentation, it is written that Aleph.js can do SSR. For me, SSR means "server-side rendering", i.e. that the page is rendering on the server before being served. But `aleph build` always generate a static website. Am I missing something? Can I do a dynamic website with Aleph.js?

[2021-03-08 15:55] hazae41 commented on #178
You can do both a static and a dynamic website

Static : aleph build
Dynamic: aleph start

https://alephjs.org/docs/get-started

[2021-03-08 16:52] #178 closed

[2021-03-08 16:54] #154 closed

[2021-03-08 18:12] lcswillems opened #180 "Can't get Aleph.js working"
I am on Kubuntu 20.04.

I executed these commands:

[code]

Then when I execute `aleph dev`. I get this error:

[code]

[2021-03-08 19:24] FallingSnow commented on #180
Use the `--unstable` flag when installing.

[code]

[2021-03-08 19:31] #180 closed

[2021-03-08 20:37] RoXuS opened #182 "aleph 0.2.28 issue with last version of esm.sh"
Hi team,

We have an issue with last version of esm.sh (v16). When we start aleph dev we have the following error:
![image](https://user-images.githubusercontent.com/3296671/110377985-55809e00-8055-11eb-868e-457bcc780d0b.png)

Seems to be linked to https://github.com/postui/esm.sh/issues/27.

[2021-03-09 14:50] 1ak31sha opened #183 "Aleph path variable not working in fish shell"
i use fish shell and wanted to try aleph.js
i brew installed deno, then ran the command `deno install -A -f -n aleph https://deno.land/x/aleph@v0.2.28/cli.ts`
it says it added a path variable but when i type `aleph` its not recognized. le tme know if any more info needed.
i use fish, version 3.1.2

<img width="683" alt="Screen Shot 2021-03-09 at 9 48 01 AM" src="https://user-images.githubuserconte

[2021-03-09 14:56] 1ak31sha commented on #183
ok i got it to work. i had to add it to my config like this
[code]

 would be nice if it was auto

[2021-03-09 14:57] #183 closed

[2021-03-09 15:02] lcswillems opened #184 "Issue with the documentation of Getting started"
Hi,

I opened this issue yesterday: https://github.com/alephjs/aleph.js/issues/180 . It got closed without explanation whereas there is really an issue. Following the "Getting started" tutorial doesn't lead to a working app.

At least, it should be mentionned to add "--unstable" in the command. But this is not sufficient as I still have this error:

[code]

Cf the discussion: https://github.com/al

[2021-03-09 15:10] 1ak31sha commented on #184
ok, ignore what i did above :) i reinstalled deno with unstable flag:
`deno install --unstable -A -f -n aleph https://deno.land/x/aleph@v0.2.28/cli.ts` and now im getting same error as lcswillems

[2021-03-09 15:10] 1ak31sha commented on #184
<img width="606" alt="Screen Shot 2021-03-09 at 10 10 35 AM" src="https://user-images.githubusercontent.com/15619911/110491941-bb097480-80bf-11eb-8b95-ff31117afa3f.png">

[2021-03-09 16:25] #184 closed

[2021-03-12 08:24] lcswillems opened #188 "useDeno content doesn't update"
For example, if I put this in a component:

[code]

The date is always the same when I refresh the page. Deno seems to cache the value but this is unexpected behavior for server-side rendering.

[2021-03-12 11:07] hazae41 commented on #188
The factory function is only executed on initial build, not on every refresh

You can pass "true" to the useDeno hook to fetch client-side on each refresh

https://alephjs.org/docs/advanced-features/use-deno-hook

[2021-03-12 11:49] lcswillems commented on #188
Okay thank you!

[2021-03-12 11:49] #188 closed

[2021-03-13 10:17] #152 closed

[2021-03-13 12:08] semiautomatix commented on #169
[code]

[code]

Seems to still be an ongoing issue.

[2021-03-13 12:14] vincent-olivert-riera commented on #182
For me, it fails even with esm v21. This looks like an important bug since it's breaking the most basic thing. Look:

[code]

[2021-03-13 12:27] vincent-olivert-riera opened #190 ""Get Started" instructions are broken"
I just tried to do exactly what the instructions from https://alephjs.org/docs/get-started say:

[code]

But that resulted on this error:

[code]

[2021-03-13 14:28] RazerMoon commented on #190
I also got the same error

[2021-03-13 16:30] borsemayur2 commented on #169
Not working for me either

[2021-03-13 16:31] borsemayur2 commented on #190
This is related to Deno 1.8.0. Downgrade Deno to 1.7.5 to run the app

[2021-03-13 16:33] borsemayur2 commented on #190
Use aleph version  v0.3.0-alpha.0 instead of v0.2.28 like:
`deno install --unstable -A -f -n aleph https://deno.land/x/aleph@v0.3.0-alpha.8/cli.ts`

[2021-03-13 16:49] ije commented on #182
fixed

[2021-03-13 16:49] #182 closed

[2021-03-13 16:53] ije commented on #190
@vincent-olivert-riera @RazerMoon @borsemayur2  i'm so sorry, currently you should use v0.2.28 + deno **1.6.3**, the alpha versions is super unstable...the next patch (beta.1) i'm working on it should be more stable!
PR: https://github.com/alephjs/aleph.js/pull/176

[2021-03-13 17:06] ije commented on #169
@borsemayur2 @semiautomatix yes, alpha.8 is not working in deno 1.8 (deno 1.7 should be fine), @shadowtime2000 's pr has fixed it but there is no tag created since the bundler is breaking...
I changed a lot code for the new plugin & framework system, and totally rewrited the bundler, those changes are making alephjs has better expansibility so we can support other framework like vue at next stage.

[2021-03-13 17:26] borsemayur2 commented on #169
Great. As you have mentioned vue, do we have any plan for svelte?

[2021-03-13 17:34] borsemayur2 commented on #143
@jicvi #193 This is the reason I'm not able to run app in docker on Win 10 and WSL. Your code works on macOS. Thanks

[2021-03-13 21:57] mellisdesigns commented on #190
I have just recently run into an issue running Aleph JS using the cli for an existing project (and a newly created project to sanity check) on OSX, 11.2.1 (Big Sur)

`aleph --version`
![image](https://user-images.githubusercontent.com/629570/111050841-1b732a00-84a3-11eb-95b0-7381fb780a79.png)

`deno --version`
![image](https://user-images.githubusercontent.com/629570/111050849-26c65580-84a3-11eb-9

[2021-03-14 00:18] shadowtime2000 commented on #156
@ije I believe if we used WASI we could directly access files with WASM

[2021-03-14 08:32] DjDeveloperr opened #195 "bug: Crashes on "aleph dev""
Steps to reproduce:

![img](https://cdn.discordapp.com/attachments/775256647819067404/820562154901078026/unknown.png)

I'm using CLI from `master` branch.

[2021-03-14 08:33] shadowtime2000 commented on #195
@DjDeveloperr What version of Deno were you on?

[2021-03-14 08:37] DjDeveloperr commented on #195
![image](https://user-images.githubusercontent.com/43033058/111062411-90a82480-84ce-11eb-8c92-c44e78eb1545.png)

[2021-03-14 09:17] talentlessguy opened #196 "AssertionError: "data" is unexpectedly null for "/v23/_node.ns.d.ts". when running `pnpm dev`"
## Error stacktrace

[code]

## Reproduction

- `aleph init hello`
- `cd hello`
- `aleph dev`

## Useful info
- Deno version: 1.8.0
- Aleph version: 0.2.28

[2021-03-14 09:19] shadowtime2000 commented on #196
Seems to be a bug with ESM

cc @ije

[2021-03-14 13:47] ije commented on #196
fixed in **v24**

[2021-03-14 13:51] talentlessguy commented on #196
@ije now it throws this:

[code]

[2021-03-14 16:56] shadowtime2000 commented on #196
@talentlessguy That error occurs because Deno 1.8.0 started adding web APIs to navigator forcing us to change how we modified it, try using Deno.1.7.x

[2021-03-14 17:00] #196 closed

[2021-03-14 17:35] talentlessguy commented on #196
@ije will it support Deno 1.8 in the future? I don't want to stick 1.7 forever :(

[2021-03-14 17:36] shadowtime2000 commented on #196
@talentlessguy It's Deno 1.8.0 compatable on `master`, so next release will work with 1.8

[2021-03-16 13:57] mfortunat0 commented on #195
![Screenshot from 2021-03-16 10-54-37](https://user-images.githubusercontent.com/22817703/111321082-5feafb00-8646-11eb-9ce6-d3a9b37e35f4.png)

[2021-03-16 17:05] Carthanial opened #197 "DevTool"
My team and I are looking to make a DevTool for Aleph.js! Is now a good time to do so or should we wait until Aleph is in more of a stable state. If we should wait what aspects of Aleph could we work on to contribute to Aleph's growth that would be most helpful?

[2021-03-16 20:56] AhmetEnesKCC opened #198 "Uncaught TypeError cannot set property navigator of #<window> which has only a getter"
when i tried to > `aleph dev` or `aleph start`

error: Uncaught (in promise) TypeError: Cannot set property navigator of #<Window> which has only a getter
    Object.assign(globalThis, {
           ^
    at Function.assign (<anonymous>)
    at Application.init (https://deno.land/x/aleph@v0.3.0-alpha.8/server/app.ts:410:12)
    at async serve (https://deno.land/x/aleph@v0.3.0-alpha.8/server/server.

[2021-03-16 20:58] shadowtime2000 commented on #198
Duplicate of #169.

[2021-03-16 20:58] #198 closed

[2021-03-16 21:32] konsumer commented on #190
I am trying to get started with aleph, and follow the advice here. My goal is to put all the version-lockin stuff in a Makefile, so we have a known-working combo of versions of things, that is reproducible on every machine.

I use docker to lock-in versions:

[code]

Same with `dev testapp`.

I also tried this, inside the dir it initted before:
[code]

And I get same error. Am I missing some other

[2021-03-16 21:36] shadowtime2000 commented on #190
@mellisdesigns Your error is due to problems in esm.sh, please try again and if it doesn't work open an issue in the esm.sh repo

[2021-03-16 21:54] konsumer commented on #190
My issue seems like #195 so maybe that is a better place to track it.

[2021-03-17 03:14] shadowtime2000 commented on #197
@Carthanial I don't think DevTools are really necessary for Aleph because there isn't really that much information it could provide. At the most it would tell the file that is being used for the route, the framework that is being used on the page, and the SSR hydrated data. I also don't think it is worthwhile to work on at these early stages of Aleph because a lot of things could change. This is s

[2021-03-17 03:33] #106 closed

[2021-03-17 04:09] ije commented on #197
@Carthanial cool, can you please tell what the tool do? what features include? currently alephjs is based on react, the react devtools is enough for me

[2021-03-18 00:23] macorifice commented on #190
I have the same issue
[code]

With this error
[code]

[2021-03-18 00:36] shadowtime2000 commented on #190
@macorifice Try downgrading to Deno 1.6.3 for that.

[2021-03-18 02:29] creepinson opened #200 "Sass error (cannot read property 'indexOf' of undefined)"
It seems to error when I try to use the sass plugin.

Error:

[code]

**aleph.config.js:**

[code]

[2021-03-18 02:32] creepinson commented on #200
This actually might have to do with the Deno or Aleph version, as I can see from other issues. I got another error after removing the sass plugin that is mentioned  in another issue.

[2021-03-18 05:13] shadowtime2000 commented on #200
@creepinson Can you share your Deno and Aleph version? Seems to just be a problem with the conversion from esm.sh

[2021-03-18 08:57] macorifice commented on #190
[code]

![image](https://user-images.githubusercontent.com/2563910/111599155-45448d80-87d0-11eb-9004-7fdc8353e764.png)

[2021-03-18 09:09] konsumer commented on #190
@macorifice same as me. I think it's tracked in #195

[2021-03-18 10:05] macorifice commented on #190
I think it's a little bit different cuz in your case the server started, in my case, it didn't found any files or directories

[2021-03-18 10:12] konsumer commented on #190
@macorifice  Not sure what you mean. I got same error, and it also didn't start. I just gave detailed instructions to test with docker with the suggested versions.

[2021-03-18 10:20] macorifice commented on #190
@konsumer you're right! I only saw the first part of 195 and saw the server started, then I realized that you are referring to the continuation

[2021-03-18 15:51] moracabanas commented on #120
Sorry about to reopen this thread, but i'm trying Parcel with Linux FS instead windows /mnt and still not working.

[2021-03-18 20:42] creepinson commented on #200
Pretty sure I used the latest version from the docs or something. I kept having multiple issues with Aleph so I tried to reinsatll it just now with **both** the  v3 alpha.8 and the v0.2.28 and both of them give this error that was mentioned in other issues.

[code]

[2021-03-18 20:43] creepinson commented on #200
I tried before with deno 1.6.3 but still had similar errors like these that I can't reproduce right now.

[2021-03-18 22:04] Carthanial commented on #197
Thanks for the replies! And apologies for the late one from me! We are looking to sink our teeth into a new technology and provide as much developer support as possible for said technology. We were in the early stages of doing research on Aleph and wanted to see if there was any way to get into the space while offering something worth while. What you said about Aleph being at such an early stage a

[2021-03-19 19:05] FallingSnow commented on #108
Chrome 89 has been release. Can we close?

[2021-03-19 19:07] FallingSnow commented on #125
I'm going to go ahead an close this. If the issue arises again we can reopen.

[2021-03-19 19:07] #125 closed

[2021-03-19 19:08] shadowtime2000 commented on #108
Yeah, this isn't something we can necessarily fix and browsers are starting to support it like Chrome 89.

[2021-03-19 19:08] #108 closed

[2021-03-23 05:22] SuperManfred commented on #48
@italodeandra can you share how/if you got this working?

[2021-03-23 07:15] italodeandra commented on #48
Hi @SuperManfred,

I dropped it. I ended up deciding on waiting for deno/aleph to become more mainstream before trying to implement something as I currently don't have time to contribute myself. Feel free to hijack my issue here or create another one yourself if you're going to keep researching further on this. It's a nice subject and I see there's more people interested based on the likes.

[2021-03-23 07:58] noverby commented on #48
@SuperManfred @italodeandra I will take a look at implementing support for MUI in the weekend (or maybe before).

[2021-03-23 09:16] SuperManfred commented on #48
Thanks... I'm about at that point too.
In discord people say got it working, and antd and [semantic ui](https://gist.github.com/CircArgs/df57d581c76a6ec5eef958db4f897401), but I can't get any of it working. Wait and see

[2021-03-23 14:46] #175 closed

[2021-03-24 01:17] KotlinIsland opened #201 "Windows: os error 123"
Works fine under wsl, but with windows + powershell I get this kind of error.
[code]

[2021-03-24 01:46] borsemayur2 commented on #133
Auto refresh works now. Thanks

[2021-03-24 01:46] #133 closed

[2021-03-24 02:05] KotlinIsland opened #202 "How to enable oak?"
https://github.com/alephjs/aleph.js/issues/5#issuecomment-769813935 is a bit vague.
🙂

[2021-03-24 02:09] #202 closed

[2021-03-24 02:41] borsemayur2 commented on #143
@ije @jicvi Docker works for me with HMR and `aleph dev` with v3.0.0-alpha.12. Thanks

[2021-03-24 03:29] aadamsx commented on #42
I'm new to Deno/Aleph, come from a node/react background.  I've used tailwind on my last project and wanted to carry that over to a new project.  Is there clear way to add tailwind to a Aleph project today?

[2021-03-24 04:27] ije commented on #42
i have a radical idea...i want to add a feature for the compiler (not very difficult) to collect the classnames at the compilation pahse, then create the minimum css by usage! no tailwindcss compiler needed or import a huge css!

[2021-03-24 04:30] shadowtime2000 commented on #42
@ije I think a TailwindCSS implementation called WindiCSS did that and then Tailwind CSS is creating a JIT compiler which does that.

But we could look at generalizing that for just CSS.

Like if we have this in the CSS:

[code]
and we had this code:

[code]
we would just collect that `asdf` class name and decide to include it - but it's not that much different from using purgecss so idk what the

[2021-03-24 07:31] KotlinIsland opened #204 "Request error with Oak"
I'm trying to implement Aleph into an existing Oak server but am blocked by react.development.js requests coming back invalid.
[code]
![image](https://user-images.githubusercontent.com/65446343/112270906-fca43d00-8cc5-11eb-908f-f50e2cba92a0.png)

Looks like the full file isn't being returned for some reason.
Oak on top, std on bottom
![image](https://user-images.githubusercontent.com/65446343/1122

[2021-03-24 08:32] KotlinIsland commented on #204
If I take out the await then react.development.js works, but react-dom.development.js gets a 404.
[code]
![image](https://user-images.githubusercontent.com/65446343/112278790-eb136300-8cce-11eb-95cc-387e6aa3a807.png)

[code]

[2021-03-24 10:58] ije commented on #204
@KotlinIsland thanks, i will look into, no testing with oak as middleware

[2021-03-24 12:14] ije commented on #201
did't test on windows yet, will test it later thanks @KotlinIsland

[2021-03-24 17:40] ije commented on #135
i just added the ISR feature by `useDeno`:

[code]

[2021-03-24 18:22] aadamsx commented on #42
@shadowtime2000

I see the aleph.config.ts with postcss and options for adding plugins, will configuration options be allowed so I can just plug in tailwind into the postcss processor?

[2021-03-24 18:25] shadowtime2000 commented on #42
@aadamsx Correct, you can now configure PostCSS. TailwindCSS doesn't properly convert and we would have to wait until they add Deno support, [postui/esm.sh#10](https://github.com/postui/esm.sh/issues/10)

[2021-03-24 18:36] aadamsx opened #205 "ReactNative template idea"
I saw this the other day and thought, what a template idea this would be for Aleph users, thought I'd share:

https://github.com/tomsoderlund/reactnative-nextjs-template

[2021-03-24 20:57] aadamsx opened #206 "Micro Frontends with Aleph idea"
I've read about this feature think this would be a great feature addition to Aleph:

https://medium.com/the-hamato-yogi-chronichels/lets-build-micro-frontends-with-nextjs-and-module-federation-b48c2c916680

https://github.com/vercel/next.js/issues/6040#issuecomment-490723276

[2021-03-24 23:53] KotlinIsland commented on #204
I was able to work around it for now with
[code]

[2021-03-25 00:00] KotlinIsland commented on #204
A whole bunch of stuff gets garbled when it ends up in the browser.
![image](https://user-images.githubusercontent.com/65446343/112398924-eabbac00-8d50-11eb-9462-d6b6a4509829.png)

[2021-03-25 02:25] KotlinIsland opened #207 "Adding a 'src' folder to the project causes 'No such file or directory (os error 2)'"
[code]

[2021-03-25 03:27] borsemayur2 opened #208 "[v0.3.0-alpha.14] Unsupported module error for local and esm.sh css imports"
Deno: 1.8.2
![image](https://user-images.githubusercontent.com/47341981/112414041-5d278e80-8d47-11eb-8053-de8ad36fb891.png)

![image](https://user-images.githubusercontent.com/47341981/112414072-6fa1c800-8d47-11eb-98ba-ec729eb45266.png)

[2021-03-25 03:34] borsemayur2 commented on #208
I'm not getting above error for new project (`init`) but getting `could not resolve module`  error for `import "https://cdn.esm.sh/antd@4.14.1/dist/antd.css"`

![image](https://user-images.githubusercontent.com/47341981/112415001-1470d500-8d49-11eb-8827-915189776799.png)

[2021-03-25 03:34] #208 closed

[2021-03-25 15:05] vincenzopalazzo opened #209 "Question: Is possible use the hooks useDeno on api class?"
I'm trying to use useDeno hooks in the API code but I start to understand that this is not possible.

I can ask why? or I'm missing somethings?

[2021-03-25 16:59] ije commented on #209
@vincenzopalazzo you can use the `withDeno` hoc or create your own hoc wrapper.
fyi: https://github.com/alephjs/aleph.js/blob/master/framework/react/hoc.ts#L38

[2021-03-25 17:00] #209 closed

[2021-03-25 17:30] ije commented on #207
fixed, pls upgrade to alpha.15, thanks 🙏

[2021-03-25 17:30] #207 closed

[2021-03-26 00:12] vincenzopalazzo opened #211 "Wrong build operation"
I run the build operation and I receive the following error when I tried to build run this on my evn.

![Selection_076](https://user-images.githubusercontent.com/17150045/112558941-2e092f80-8dd0-11eb-93f5-00ecb9d7561e.png)

Deno version:
deno 1.8.2 (release, x86_64-unknown-linux-gnu)
v8 9.0.257.3
typescript 4.2.2

Aleph version
Aleph 3.14159265-1.15-2.1-0.1 (TeX Live 2019/Debian)

If I can help, p

[2021-03-26 01:50] ije commented on #211
try `npx serve`after build since we use absolute path to import script in the built html. thanks @vincenzopalazzo  i will try your example

[2021-03-26 01:57] Lontten opened #212 "v0.3.0-alpha.15 init project run dev err"
win10
deno 1.8.2 (release, x86_64-pc-windows-msvc)
v8 9.0.257.3
typescript 4.2.2
aleph  v0.3.0-alpha.15

aleph init hello
cd hello
aleph dev

[code]

[2021-03-26 01:57] shadowtime2000 commented on #212
The templates are not updated to use v0.3.0-alpha versions yet. We will update them when we get to v0.3.0-beta.

[2021-03-26 02:19] ije commented on #212
@Lontten template has been updated already for 0.3, i saw the output was using v0.2.28, can you please tell what `aleph -- version` print? thanks 👍

[2021-03-26 10:38] vincenzopalazzo commented on #211
@ije I ran your command in the root directory and I receive the same error, and after I moved in the dist directory and I run the command again.

I receive the following error

![Selection_077](https://user-images.githubusercontent.com/17150045/112619536-be269380-8e27-11eb-8da5-d47b242dc5b4.png)

[2021-03-26 19:03] Lontten commented on #212
After run upgrade  , it can run normally.

[2021-03-26 19:03] #212 closed

[2021-03-26 19:34] vincenzopalazzo opened #214 "Error during in the running app"
I receive the following error when I start the app, and I'm not able to see the start screen of the app.

`Uncaught (in promise) Error: Target container is not a DOM element.`

The screen is the following

![Screenshot from 2021-03-26 20-34-02](https://user-images.githubusercontent.com/17150045/112683947-a294aa80-8e72-11eb-9c88-f1c32fd2028a.png)

[2021-03-26 19:44] ije commented on #214
@vincenzopalazzo can you please post the output html?

[2021-03-26 19:47] vincenzopalazzo commented on #214
Here we go @ije

[code]

[2021-03-26 19:56] ije commented on #214
fixed, pls upgrade to `alpha.18`, thanks 🙏

[2021-03-26 19:57] vincenzopalazzo commented on #214
Amazin, I will update now

[2021-03-26 20:00] vincenzopalazzo commented on #214
Fixed https://github.com/alephjs/aleph.js/commit/170a2908e5cff83212a85ec4d9ffda3f885b7643

[2021-03-26 20:00] #214 closed

[2021-03-26 20:21] vincenzopalazzo opened #217 "Wrong or Missing exsternal css in production mode"
I'm running my app in dev mode and I see all the style good, like that

![Screenshot from 2021-03-26 21-18-40](https://user-images.githubusercontent.com/17150045/112688274-e8ed0800-8e78-11eb-9cbf-0cc6f4193a67.png)

But is I mode the app in production mode, I see the following effect

![Screenshot from 2021-03-26 21-19-52](https://user-images.githubusercontent.com/17150045/112688341-06ba6d00-8e79-1

[2021-03-27 01:02] ije commented on #217
any message print？

[2021-03-27 01:02] vincenzopalazzo commented on #217
During the build phases?

[2021-03-27 01:14] ije commented on #217
in Devtools console

[2021-03-27 01:16] vincenzopalazzo commented on #217
no any, you can run the app and make all test, in Italy are 2am and I'm going to sleep, sorry

The app is here https://github.com/clightning4j/ln-sanitycheck

[2021-03-28 01:55] Hunam6 commented on #201
I'm on Windows too and I have the exact same issue.

[2021-03-28 02:08] Hunam6 commented on #5
I disagree, oak is the Deno module (not NodeJS too, only Deno) with the most stars listed on deno.land. It means that many people use it, this choice should be available.

[2021-03-28 03:25] shadowtime2000 commented on #5
@Hunam6 I don't think popularity should be the deciding factor. Just because many people use it shouldn't really mean that the choice should be available. Going for a custom server architecture instead of a basic serverless like option is something that should only done once you have a full grasp because if you mess up the entire app goes down. I think it is a good idea to instead kind of "force"

[2021-03-28 09:21] bergercookie opened #218 "Cannot destructure property 'url' of 'nestedModules.pop(...)' as it is undefined."
I have a file called `user.ts` under the `api/` directory with the following contents:

[code]

I'm making an HTTP GET request to it using [httpie](https://httpie.io/)

[code]

Meanwhile, I can avoid getting a 500 error, only If I put this file under `api/user/[name].ts`, but in this case, it bundles the last part of the url along with the parameters after `?`.

[code]

I suppose this isn't the ex

[2021-03-28 10:57] ije commented on #218
this error means your api endpoint doesn't exist, i already fixed it.

[2021-03-28 11:03] bergercookie commented on #218
But my endpoint does exist since I've put a file under `/api/user.ts` and I'm making a request like the following: `/api/user?action=all`

Is it fixed? The error still persist after `aleph upgrade`:

[code]

[2021-03-28 11:06] ije commented on #218
oh, sorry! seems the api routing is not match the search `?action=all`, i will fix it asap, thanks!

[2021-03-28 11:07] ije commented on #218
try `/api/user/[action].ts` instead

[2021-03-28 11:17] bergercookie commented on #218
Now, having renamed my file from `user/[name].ts` to `user/[action.ts]` when I make an HTTP request (`GET /api/user/1?action=all`) it still doesn't parse the parameters correctly:

[code]

Regarding the request `GET /api/user?action=all` I'm now getting an 404 instead of a 500 error like previously. But still, that's not the expected behavior. I would expect that this request would have been serve

[2021-03-28 12:35] satanya-zero opened #219 "[Bug] cannot compile the template project"
error: Uncaught (in promise) TypeError: Import 'https://deno.land/x/aleph@v0.3.0-alpha.21/plugins/css.ts' failed: 404 Not Found

[2021-03-28 12:43] ije commented on #219
@satanya-zero alpha.21 has removed the css plugin, as instead we support builtin css, please remove the css in your `aleph.config.ts`, i will update the tempalte later, thanks!

[2021-03-28 12:52] satanya-zero commented on #219
thank you.

[2021-03-28 12:52] #219 closed

[2021-03-28 12:54] ije commented on #218
fixed, pls upgrade to **alpha.22**, thanks

[2021-03-28 18:39] aadamsx opened #220 "Error on adding Zustand"
I'm trying out Zustand with Aleph but getting an error:

[code]

[code]

My code: https://github.com/aadamsx/aleph-error

[2021-03-28 18:54] shadowtime2000 commented on #220
Seems it occurs because esm.sh uses React 17.0.1 and Zustand is using React 17.0.2

[2021-03-28 19:23] ije commented on #220
@shadowtime2000  in fact the compiler will fix the react version of esm.sh, @aadamsx  i guess you have old cache that cause this issue, pls run it with command `aleph dev -reload`

[2021-03-28 19:24] ije commented on #220
btw, i already released the **v0.3.0-alpha.22**, some breaking changes included...

[2021-03-28 19:48] aadamsx commented on #220
Some breaking changes, changes that will effect my code you say?

[2021-03-28 19:51] aadamsx commented on #220
Thanks that worked!

[2021-03-28 21:15] #220 closed

[2021-03-28 23:02] aadamsx opened #221 "Warning on using Zustand"
I'm trying out Zustand with Aleph and get this warning on render:

[code]

[code]

My code: https://github.com/aadamsx/aleph-error3

[2021-03-28 23:13] aadamsx commented on #221
Note: Strange to me that I did an ```aleph upgrade``` and an ```aleph dev --reload``` and my in my ```import_map.json``` still shows ```alpha 12``` and ```react 17.0.1```.

[code]

I how does Aleph resolve the issue where Zustand is using React 17.0.2 and Aleph is using React 17.0.1?

[2021-03-28 23:21] shadowtime2000 commented on #221
@aadamsx afaik Aleph isn't going to automatically change the import map, your going to have to do that yourself.

[2021-03-28 23:25] aadamsx commented on #221
Then what did aleph dev -reload do for me to get the inconsistencies between libs straight?

[2021-03-28 23:28] aadamsx commented on #221
Also, I changed the import map to this:

[code]

and afterwards did an ```aleph dev -reload``` and get an error on that command: ```ERROR Fetch module 'https://deno.land/x/aleph@v0.3.0-alpha.22/react.ts': Not Found```

[2021-03-28 23:38] aadamsx opened #222 "Aleph cannot find react.ts in Alpha.22"
I started out on Aleph:
$ aleph --version
aleph.js 0.3.0-alpha.12
deno 1.8.2
v8 9.0.257.3
typescript 4.2.2

With and import map of:

[code]

And [moved](https://github.com/alephjs/aleph.js/issues/221#issuecomment-808975783) to ```alpha.22``` with the following command ```aleph upgrade```.  Since Aleph does not change the import map I manually changed it to:

[code]
When doing a ```aleph dev -reloa

[2021-03-28 23:42] aadamsx commented on #220
@ije you weren't kidding that alpha.22 is breaking: https://github.com/alephjs/aleph.js/issues/222

[2021-03-28 23:53] aadamsx opened #223 "Why does the import_map file not change my react version in transpiled code?"
I started out on Alpha.12 and moed to Alpha.22.  I wanted to change my react version from 17.0.1 to 17.0.2 so I turned to the import_map.json file that looked like this to start in Alpha.12:

[code]

After moving moving to ```alpha.22``` with the following command ```aleph upgrade``` and since Aleph does not change the import map via this upgrade, I manually changed it to the following just target

[2021-03-29 00:17] aadamsx commented on #222
Yeah, I started a new project based on aleph.12 only (not an upgrade from alpha.12):

Now import map:
[code]

but even when I copy this imort map back into my old code here: https://github.com/aadamsx/aleph-error where it started out as alpha.12, the transpiler is still looking for that react file's location like it's stuck on alpha.12:

ERROR Fetch module 'https://deno.land/x/aleph@v0.3.0-alpha.2

[2021-03-29 02:23] ije commented on #222
@aadamsx currently aleph will resolve react to 17.0.1, i will improve this following the import map setting. alpha.22 includes some breaking changes, one is i moved the react.ts to /framework/react/mod.ts

[2021-03-29 02:26] ije commented on #222
since i want to support other lib like vue at next stage, i don't want to put framework code in project root

[2021-03-29 02:35] ije commented on #221
you shouldn't use `useLayoutEffect` in SSR mode
fyi https://gist.github.com/gaearon/e7d97cdf38a2907924ea12e4ebdf3c85

[2021-03-29 03:06] satanya-zero opened #224 "[bug] Can't compile the template project"
[code]

OS: Windows 10

[2021-03-29 04:14] shadowtime2000 commented on #224
@satanya-zero Can you share what commands you ran to get that error and what version of Deno and Aleph you are using, and basically reproduction steps?

[2021-03-29 04:37] ije commented on #224
@satanya-zero sorry, i never tested on windows port, but will do it ASAP, thanks. currently the unit testing was passed on ci/windows but it is weak can not check everything, i will add more tests in the future

[2021-03-29 05:30] satanya-zero commented on #224
deno 1.8.2 (release, x86_64-pc-windows-msvc)
aleph.js v0.3.0-alpha.22

[code]

[2021-03-29 09:48] Hunam6 commented on #224
Duplicate as #201

[2021-03-29 20:04] #222 closed

[2021-03-29 20:05] aadamsx commented on #222
@ije I'm interested in contributing to this project, if that's something you'd be okay with, will you DM (email) me with details on how to start (I see no email for you)?

[2021-03-29 23:49] KotlinIsland opened #226 "Every page is 404 when there is a src folder in the project"

[2021-03-29 23:58] KotlinIsland opened #227 "500 - Cannot read property 'toString' of undefined with <a> tag"
[code]

[2021-03-30 00:01] KotlinIsland opened #228 "Uncaught (in promise) TypeError: Cannot resolve module with `aleph start`"
[code]

[2021-03-30 00:12] shadowtime2000 commented on #227
@KotlinIsland Can you provide more details like what a command you ran, what your import map looks like, what you did before that, operating system, aleph version, deno version, and just reproduction steps?

[2021-03-30 00:21] KotlinIsland commented on #227
[code]
WSL Ubuntu-20.04
this is just `aleph init` and  `aleph dev`

[2021-03-30 00:27] KotlinIsland commented on #227
[code]

[2021-03-30 01:05] shadowtime2000 commented on #226
@KotlinIsland Can you provide reproduction steps and deno and aleph versions?

[2021-03-30 01:17] KotlinIsland commented on #226
[code]

[2021-03-30 02:16] TranquilMarmot commented on #228
Similar issue here...

[code]

Is this just an issue with esm.sh? Going to https://esm.sh/react@17.0.1 does indeed return a `500` and shows me:

[code]

[2021-03-30 02:20] TranquilMarmot commented on #228
Also with `aleph.js` version `0.3.0-alpha.22` I get this:

[code]

... so it does seem like esm.sh is just having issues. Are there any alternatives or is the solution to just wait for it to resolve?

[2021-03-30 02:38] KotlinIsland commented on #228
https://github.com/postui/esm.sh/issues/41

[2021-03-30 03:33] KotlinIsland commented on #228
This is resolved now.

[2021-03-30 03:33] #228 closed

[2021-03-30 03:35] KotlinIsland opened #229 "aleph start produces react error 321"
[code]
[code]
[code]

[2021-03-30 04:01] TranquilMarmot commented on #229
I had to do the following...
- Run `deno install --unstable -A -f -n aleph https://deno.land/x/aleph@v0.3.0-alpha.21/cli.ts` to downgrade to aleph `0.3.0-alpha.21` (it looks like `0.3.0-alpha.22` has breaking changes? https://github.com/alephjs/aleph.js/issues/222)
- Restart my shell to actually pick up the new version
- Start the server with `aleph dev -reload`

However, `0.3.0-alpha.21` does not

[2021-03-30 04:12] KotlinIsland commented on #229
`aleph dev` works fine for me. It seems to only be `aleph start` that is affected.

[2021-03-30 04:16] TranquilMarmot commented on #229
Interesting... I get that error with both on aleph version `0.3.0-alpha.22`

[2021-03-30 04:17] KotlinIsland commented on #229
hmm, I did a reload and now it's working find with `start`.

[2021-03-30 04:17] KotlinIsland commented on #229
maybe it was caching different versions of react.

[2021-03-30 04:17] #229 closed

[2021-03-30 04:43] KotlinIsland commented on #229
@TranquilMarmot try deleting the .aleph folder and reloading everything, deno might be using a cached old version of something.

[2021-03-30 04:48] ije commented on #227
sorry, i did some breaking changes in latest updates of esm.sh, i believe the v33 should work

[2021-03-30 04:49] ije commented on #227
https://github.com/postui/esm.sh/issues/41

[2021-03-30 04:49] KotlinIsland commented on #227
@ije nope, still same thing.

[2021-03-30 04:51] ije commented on #227
please clean deno cache, or `aleph dev --reload`

[2021-03-30 04:51] KotlinIsland commented on #227
Same thing.

[2021-03-30 04:53] KotlinIsland commented on #227
Can you try reproduce?

[2021-03-30 04:54] ije commented on #227
<img width="994" alt="Screen Shot 2021-03-30 at 12 53 34 PM" src="https://user-images.githubusercontent.com/2883484/112935747-fa733000-9156-11eb-9f30-e589461cf72f.png">
is it v33?

[2021-03-30 04:54] KotlinIsland commented on #227
yes
![Uploading image.png…]()

[2021-03-30 04:55] KotlinIsland commented on #227
![image](https://user-images.githubusercontent.com/65446343/112935869-fb608d80-9167-11eb-9844-f7e3f7bf3e20.png)

[2021-03-30 04:57] KotlinIsland commented on #227
It's this line:
[code]

[2021-03-30 05:05] ije commented on #227
seems the `currentQuery` is undefined, what is it for?

[2021-03-30 05:12] KotlinIsland commented on #227
I have no idea :)

[2021-03-30 05:13] KotlinIsland commented on #227
That's from aleph/framework/react/anchor.ts

[2021-03-30 05:25] ije commented on #227
oh, my mistake, will fix it!

[2021-03-30 07:42] KotlinIsland opened #230 "stylesheet gets applied to wrong page"
I'm not exactly sure what causes this to happen, but:

With the hello-world template

edit index.tsx to:
[code]
create a second page 'other.tsx;:
[code]

mess around with the tsx files for a but, eventually the `other` page will load with the `index.css` style sheet.

[2021-03-30 07:46] KotlinIsland commented on #230
1. Open index page
2. Also open 'other' page
3. edit index
4. edit other
5. refresh tab with other page
[code]

[2021-03-30 10:01] vicasas commented on #48
Link is broken 😮

[2021-03-30 10:39] ije commented on #230
@KotlinIsland , it's the SSR proplem, i will fix it! thanks

[2021-03-30 10:41] ije commented on #226
@KotlinIsland thanks, i will look into it.

[2021-03-30 10:41] #221 closed

[2021-03-30 12:12] ije commented on #222
hi @aadamsx,

sorry for the late relay, vary grateful you are interested in this project. Alephjs is a vary young project that has many issues need to be improved. you are welcome to contribute on it.

at beginning i created a clone project of nextjs: https://github.com/ije/postjs, and i use it in my personal projects, it gives me a good view about fullstack framework in JAM-stack context. when de

[2021-03-30 20:30] aadamsx commented on #222
@ije thanks for the feedback, it would be nice to get an idea of the process/event flow as well...

I'll clone and try to run it on a project to start.

[2021-03-30 20:51] aadamsx commented on #221
@ije so what does SSR mode actually mean in the Aleph context?

The library that's causing the ```useLayoutEffect``` error is actually the redux-like state management library [Zustand](https://github.com/pmndrs/zustand) library I'm importing.  I've imported this into the ```/lib``` directory as you can see here: https://github.com/aadamsx/aleph-error3/blob/master/lib/useStore.ts

How do you handle

[2021-03-30 20:58] vincenzopalazzo opened #232 "Hooks can only be called inside of the body of a function component."
With the last version of the library https://github.com/alephjs/aleph.js/releases/tag/v0.3.0-alpha.22 i receive the following error

[code]

I import some dependences that use react but before it works with this dependence, it is possible to avoid bundling different versions of react.js? For example, bundle only the version that this library required?

[2021-03-30 21:38] shadowtime2000 commented on #221
@aadamsx

This is the way most frameworks like Next and Gatsby do to. It isn't something that we can change - your just going to have to look on how you change the loading of the state management library.

[2021-03-31 02:21] KotlinIsland opened #233 "Add a shutdown method to Server / Application"
When using aleph as a middleware on Oak I need to be able to gracefully shutdown the server, could you please provide shutdown methods for this scenario.

[2021-03-31 02:47] aadamsx commented on #221
@ije @shadowtime2000 It's Zustand that's using ```useLayoutEffect``` but they said they're looking for the window object before decding which hook to use: https://github.com/pmndrs/zustand/issues/347#issuecomment-810654489 (useEffect or useLayoutEffect)

What do you make of this?

[2021-03-31 02:59] ije commented on #221
let make PR to zustand to support deno

[2021-03-31 03:01] ije commented on #221
https://github.com/pmndrs/zustand/pull/348

[2021-03-31 03:43] aadamsx commented on #221
@ije looks like that [PR](pmndrs/zustand#348) might not have worked (I tested it).  What to do in this case since Deno has ```window``` defined?  I guess the question is, distinguish if you're on the server or client when Deno as the server?

[2021-03-31 08:24] KotlinIsland opened #234 "How to integrate with deno lock?"
I need to be able to use a dependency cache and lock file, how can I achieve this with aleph?

[2021-03-31 09:13] vincenzopalazzo opened #235 "Dependences missed of the old alpha version"
Hello, I'm working with the old version of the aleph library because it version works for me but today it is I restart my docker container and I receive the following error

[code]

Do you think that cache the build would be a good idea to avoid this problem?

[2021-03-31 14:10] aadamsx commented on #221
@ije how are you debugging Aleph inside Visual Studio code?  I don't have the settings set up for it.  When I try Deno: Run I get:

[code]

[2021-03-31 14:27] aadamsx commented on #221
If I change the launch.json to make the program entry point app.tsx like so:

[code]

I get the following error message:

[code]

This error tells me Deno doesn't understand the entry point: ```error: TS2339 [ERROR]: Property 'document' does not exist on type 'Window & typeof globalThis'.```

[2021-03-31 15:55] noverby commented on #48
@SuperManfred
You can disable SSR to experiment with alephjs:
[code]

[2021-03-31 15:57] SuperManfred commented on #48
oh cool - ill try it

On Thu, Apr 1, 2021 at 1:56 AM Niclas Overby ***@***.***>
wrote:

[2021-04-01 01:36] aadamsx opened #236 "Debugging Aleph apps in VSCode"
How are you debugging Aleph inside Visual Studio code? In the debugger window/tab?

NOTE: I'm referring to debugging my application that's running inside the Aleph framework, not actually debugging Aleph itself (which I'm also looking at now).

when I try ```Deno: Run``` with default Deno settings I get:

[code]

These are the configuration files under the \.vscode directory inside the Aleph proje

[2021-04-01 01:43] #236 closed

[2021-04-01 01:46] ije commented on #235
alpha.23 fixed this

[2021-04-01 01:46] #235 closed

[2021-04-01 01:48] ije commented on #235
oh, sorry! in alpha.22 i removed the css plugin, it supports css out of the box.

[2021-04-01 01:49] ije commented on #235
please remove the css plugin in your aleph.config.ts 🙏

[2021-04-01 01:50] ije commented on #232
alpha.23 fix this

[2021-04-01 01:50] #232 closed

[2021-04-01 03:18] imjwang opened #239 "useEffect React Hook not working"

[2021-04-01 03:20] imjwang commented on #239
This increments correctly in Nextjs, but it's not working for me in Alephjs. What can I do about this?

[code]

[2021-04-01 04:13] shadowtime2000 commented on #239
@imjwang Can you provide more details like reproduction, Deno OS and Aleph version?

[2021-04-01 09:49] hazae41 commented on #239
Try importing React from esm.sh

[2021-04-01 10:32] noverby opened #240 "Add support for exposing environment variables to the browser"
In Next.js environment variables prefixed with `NEXT_PUBLIC_` are exposed to the browser.
It would be neat if aleph.js provided something similar.

[2021-04-01 14:09] imjwang commented on #239
importing from esm.sh did not work for me

[2021-04-01 14:14] vincenzopalazzo commented on #240
+1

[2021-04-01 14:14] vincenzopalazzo commented on #233
An good first issue?

[2021-04-01 14:16] vincenzopalazzo opened #241 "Configure server with nginix"
Hello, any suggestion to configure the server with nginix?

The server makes the request to the localhost and I have this request loop

[code]

[2021-04-01 14:33] ije commented on #240
i think `const value = useDeno(() => Deno.env.get('key'))` is a better way to get sys environment.

[2021-04-01 14:46] vincenzopalazzo commented on #235
@ije  Thanks, it works but now it is broken the API action, I'm not able to make the action with the par `/api/sometings/[actions]`

[2021-04-01 14:53] ije commented on #235
any message prints?

[2021-04-01 14:55] vincenzopalazzo commented on #235
@ije yes the error is only 404 and the object actions is undefined with the version 23

[2021-04-01 14:55] stereosteve commented on #227
FYI using `v0.3.0-alpha.23` ... clicking on a `<a href="/about">about</a>` does nothing.  Suspect it's related!

[2021-04-01 15:16] ije commented on #227
@stereosteve thanks, I will fix it as soon asap!

[2021-04-01 15:29] shadowtime2000 commented on #240
These was talk about creating an SWC macros system #78, you can just use what @ije pointed out macros once they are released.

[2021-04-01 15:29] #240 closed

[2021-04-01 15:33] shadowtime2000 commented on #239
@imjwang The template uses import maps. You should check out the docs on using them then.

[2021-04-01 15:33] #239 closed

[2021-04-01 17:18] ije commented on #227
up to **alpha.24** to fix this! thanks all

[2021-04-01 17:18] #227 closed

[2021-04-01 17:19] ije commented on #226
@KotlinIsland  i just fixed this, please upgrade to alpha.24, thanks 🙏

[2021-04-01 17:19] #226 closed

[2021-04-01 17:21] ije commented on #223
i updated the react version to **17.0.2**, but yes it should follow the import_map, i will improve this later, thanks

[2021-04-01 17:30] ije commented on #240
@shadowtime2000 i almost forgot that conversation, too many things need to be done...but yes we will implement the macro feature!

[2021-04-02 15:45] bionicles opened #244 "please provide an example of aleph + rust"
How would one route to Aleph from a rust API server using something like actix-web, tide, warp, rocket etc?

This would make an extremely solid option for Rust projects to do front end, because we could avoid having to deploy the front end and the rust api separately (and route to them, load balancing, dns etc etc)

[2021-04-02 15:51] deathemperor opened #245 "ERROR Fetch modules when with hello project"
First of all: thank you for your great works! I'm super excited with Deno and will be following its growth along with projects like these. I've just started my first experiment on Deno with aleph. Got this error trying to run `aleph dev` on 0.3.0 alpha 24

[code]

The logs

[code]

I also get these VSCode errors, any hint for fixing? I couldn’t find any solutions googling.

![vscode](https://user-

[2021-04-02 18:18] noverby opened #246 "The default value of query returned from useRouter() is undefined"
The default value of query returned from useRouter() is `undefined`.
In the Next.js router the default value of query is `{}`.

[2021-04-02 18:37] noverby commented on #246
Example where it results in an uncaught exception.

## Stacktrace
[code]

##  https://deno.land/x/aleph@v0.3.0-alpha.22/framework/react/anchor.ts:44
[code]