[2021-04-02 18:41] shadowtime2000 commented on #244
@bionicles afaik this is isn't even possible with our current system, and I don't see it as something that is really necessary for the near future.

[2021-04-02 19:30] ije commented on #246
up to alpha.24 that fixed this, but there is a breaking change, i combined `params` and `query` to `params` as a   `URLSearchParams` object

[2021-04-02 19:32] ije commented on #245
does the import maps exist?

[2021-04-02 19:35] ije commented on #244
@bionicles alephjs is a javascript (typescript) framework in deno, rust is not in the context.

[2021-04-02 19:35] #244 closed

[2021-04-02 19:37] ije commented on #244
@bionicles try yew!

[2021-04-02 22:37] arctix-tk commented on #190
hey guys,
I'm getting following error using aleph.js 0.3.0-alpha.22:  os error 123 "The filename, directory name, or volume label syntax is incorrect", also tried using deno: 1.8.2 -> same error, OS= Win10, I also followed the docs, (deno:1.6.3 and alpeh v0.2.28) didn't seem to work either -> same error as described in the first comment. Any help would be greatly appreciated.
![image](https://user

[2021-04-03 01:18] borsemayur2 commented on #190
I'm getting the same error with both (alpha.22 and alpha.24) on Win10. But Able to run the app in WSL2. The Error seems to be related with Deno runtime API.

[2021-04-03 01:20] shadowtime2000 commented on #190
@borsemayur2 @arctix-tk The error you are experiencing is #201.

[2021-04-03 03:25] deathemperor commented on #245
No config in export maps

[2021-04-03 03:32] shadowtime2000 commented on #245
@deathemperor Were you using the template that comes with `aleph init`?

[2021-04-03 07:31] deathemperor commented on #245
I dont think so. I followed the Getting Started guide here: https://alephjs.org/docs/get-started.

hmm. I've just started everything from scratch while writing this and it works. I believe the error was because I created the project with aleph@v0.2.28, ran with errors then upgrade aleph to latest (0.3.0 alpha 24) => run yarn dev and got this issue. Think you may wanna update the https://alephjs.or

[2021-04-03 07:31] #245 closed

[2021-04-03 08:33] shadowtime2000 commented on #245
@deathemperor We are going to update the website docs once we are able to actually use 0.3.0-alpha for the website.

[2021-04-03 09:33] noverby commented on #246
Yes the problem is solved with alpha.24

[2021-04-03 09:33] #246 closed

[2021-04-03 11:05] noverby opened #247 "Root directory import_map entries does not work for subdirs"
The following `import_map.json`:
[code]
Results in the following errors:
[code]

Using `/` instead of `./` works, but then VS Code cannot find the sources.

[2021-04-03 16:38] shadowtime2000 commented on #247
I don't think this is actually a bug for us, seems to be a bug with the VSCode extension. I don't know for sure though.

[2021-04-03 16:49] #241 closed

[2021-04-04 16:17] ije commented on #201
fixed in **alpha.25**, pls upgrade the alephjs: `aleph upgrade`

[2021-04-04 16:17] #201 closed

[2021-04-05 12:42] vsDizzy opened #252 "Debug support for vscode"
I know this is alpha, but... Breakpoints are not being hit.
Placing `debugger` statement stops in `C:\*` instead of `${workspaceFolder}\*`
I tried `sourceMapPathOverrides` but had no success.

launch.json:
[code]

[2021-04-05 18:17] vsDizzy commented on #252
![image](https://user-images.githubusercontent.com/5798340/113609299-3ecd6700-9654-11eb-8958-8358402d663d.png)

[2021-04-05 18:48] danaugrs opened #253 "Starter program crashes on `aleph start` with TypeError: An unsupported media type was attempted to be imported as a module"
Problem:
[code]
aleph.js `0.3.0-alpha.25`
deno: `1.8.3 (release, x86_64-pc-windows-msvc)`
v8: `9.0.257.3`
typescript: `4.2.2`

[2021-04-06 01:15] ije commented on #253
@danaugrs it's esm.sh bug by the latest updates, I will fix it ASAP, thanks!

[2021-04-06 05:05] KotlinIsland opened #254 "TypeError with `aleph start` acorn.js' does not provide an export named 'default'"
aleph init default project
[code]

[2021-04-06 05:37] shadowtime2000 commented on #254
cc @ije

Seems to be a problem with esm.sh

[2021-04-06 18:13] vsDizzy commented on #252
Source locations are different between debuggers:
![image](https://user-images.githubusercontent.com/5798340/113758730-edd57580-971c-11eb-9577-f533114ec924.png)

Is it related to `vscode` plugin?

[2021-04-06 19:59] noverby opened #255 "import not found: elementType utils.development.js"
Version: `aleph@v0.3.0-alpha.25`
I don't know if this is a regression.
If not, then the error message should be clearer about the underlying issue.
[code]

[2021-04-06 20:01] noverby opened #256 "Default aleph init project does not run"
Version: `aleph@v0.3.0-alpha.25`
Running `aleph init && aleph dev` results in the following error and a 404 page:
[code]

[2021-04-06 20:08] ije commented on #256
sorry, i can't repeat this, try to clear the cache?

[2021-04-06 20:10] ije commented on #254
fixed in esm.sh **v37**, pls clear the cache and try again, thanks

[2021-04-06 20:13] ije commented on #253
i can get it works now, pls clear the cache and try again, thanks

[2021-04-06 20:16] ije commented on #252
i have a plan to improve this but don't have time yet.

[2021-04-06 20:17] ije commented on #252
maybe after 0.3 beta.

[2021-04-07 02:16] KotlinIsland commented on #256
I can reproduce this. I think you are running aleph from outside the project folder.
try running `aleph init hello && aleph dev hello`

[2021-04-07 02:17] KotlinIsland commented on #254
Thanks! fixed.

[2021-04-07 02:17] #254 closed

[2021-04-07 05:47] KotlinIsland opened #257 "HMR WebSocket doesn't respect Application.config.baseUrl"
framework/core/hmr.ts
[code]

[2021-04-07 08:47] noverby commented on #256
@KotlinIsland  Whoops my mistake you are correct. A warming could be useful, though.
At least people can look up this issue now, if they get the error.

[2021-04-07 08:47] #256 closed

[2021-04-07 19:19] danaugrs commented on #253
It works now! 🎉

[2021-04-07 19:19] #253 closed

[2021-04-07 20:28] shackra commented on #81
I can reproduce this bug:

[code]

[2021-04-07 20:31] shackra commented on #81
I tried with `0.2.28` first and then with `0.2.27`

[2021-04-07 22:22] shackra commented on #81
same error? different version of aleph cli (`0.2.28`)

[code]

[2021-04-08 00:39] KotlinIsland commented on #204
I just figured out how to fix this `ctx.respond = false;` must be specified from Oak.
[code]

[2021-04-08 01:00] ije commented on #204
@KotlinIsland thanks, i think we should provide a oka middle directly to handle this, i will look into it

[2021-04-08 01:11] ije commented on #81
@shackra try alpha.25 instead, i will release a beta version and update the docs this week

[2021-04-08 01:13] ije commented on #257
@KotlinIsland thanks, will fix it

[2021-04-08 01:14] ije commented on #255
more details?

[2021-04-08 01:16] ije commented on #247
should be `./`

[2021-04-08 01:55] aadamsx commented on #204
For high performance situations, is it appropriate to run Aleph as a SSR server and Web API?  Or should we break out the data access into its own Web API and let Aleph just deal with SSR?

[2021-04-08 01:57] shadowtime2000 commented on #204
@aadamsx Can you clarify what you mean by "Web API"?

[2021-04-08 02:01] aadamsx commented on #204
For example, a Restful web server running Deno + Oak that runs in a container and writes and extracts data from a remote MongoDB database. Basically a CRUD data access layer.

[2021-04-08 02:12] aadamsx commented on #204
But the said data access layer actually has configuration options and needs a front end for other tasks around the Web API.

So I was thinking of using Aleph for both SSR + Web API.  Again the SSR will have both configuration screens for the Web API (kinda like admin screens) AND have an application component where users can upload templates.  So front and back facing screens.  Then the app needs

[2021-04-08 02:24] shackra commented on #81
that did it, thanks!

[2021-04-08 02:30] shadowtime2000 commented on #204
@aadamsx So, we are probably going to support having Aleph for full stack - but it is much more performant and organized to seperate the frontend and the backend. That allows you to modify them seperately without getting bogged down on tooling that combines then and since the frontend would either use static files or serverless functions which are fast, the frontend would be fast and not limited b

[2021-04-08 02:35] aadamsx commented on #204
Thanks @shadowtime2000

But within Aleph we have an /api directory where it processes http requests right?  What is the appropriate use case for this "Web API" in the Aleph context?

[2021-04-08 02:39] shadowtime2000 commented on #204
@aadamsx The /api directory is for serverless functions, like NextJS

[2021-04-08 12:58] noverby commented on #247
@ije so my `import_map.json` is correct?

[2021-04-08 14:47] aadamsx commented on #204
Right, I think serverless is fine (what is serverless in this context but not setting up an express or oak server?), but without CORS support I will not be able to use the api with external sources.  So yeah, I'll need another Deno server.

Thanks again for your feedback @shadowtime2000

[2021-04-09 08:21] ije commented on #247
@noverby yes, i will fix this, thanks!

[2021-04-09 08:35] ije opened #260 "Use import map"
Context: https://github.com/alephjs/aleph.js/pull/258

[2021-04-10 15:02] ije commented on #230
fix, pls try the **alpha.26** branch

[2021-04-10 16:04] stereosteve opened #262 "useDeno hook doesn't track querystring parameter dependencies"
I was using data from the query parameters to fetch data inside of a useDeno hook... but it seems there's no dependency tracking for query params.

Looking here it uses only the pathname:
https://github.com/alephjs/aleph.js/blob/master/framework/react/hooks.ts#L40

I think it would make sense to use the full URL instead.
(the use case is something like search + pagination /search?q=hello&from=10&l

[2021-04-10 17:21] ije commented on #262
fixed the `dataUrl` to full URL in **alpha.28**, thanks @stereosteve

[2021-04-12 02:49] KotlinIsland commented on #230
Thanks

[2021-04-12 02:49] #230 closed

[2021-04-12 07:41] Maxvien opened #264 "Blitz.js Is a Good Example to Learn From"
As the title, I think **[Blitz.js](https://github.com/blitz-js/blitz)** is a good example for us to build **[Aleph.js](https://github.com/alephjs/aleph.js)**.

You guys can see its features here: https://blitzjs.com/

[2021-04-12 07:42] #264 closed

[2021-04-13 16:39] #224 closed

[2021-04-13 16:42] ije commented on #200
i already removed the sass plugin since it can't work in deno fine. will re-add it in the future when it suppports deno.

[2021-04-13 16:42] #200 closed

[2021-04-13 16:45] ije commented on #164
i believe this has be fixed, please upgrade the latest aleph verion, beta is on the way, thanks

[2021-04-13 16:46] #161 closed

[2021-04-13 18:14] ije commented on #257
@KotlinIsland i just fixed, pls upgrade to **alpha.29**, thanks

[2021-04-13 18:14] #257 closed

[2021-04-13 19:02] stereosteve commented on #262
Nice... along with [this commit](https://github.com/alephjs/aleph.js/commit/c19f1518af20b3dc5cb40b98924a9d768faf58c2) looks all fixed in alpha.29.  Thanks!

[2021-04-13 19:43] noverby opened #269 "Support for using arrow functions for React Components"
The following code does not run:
[code]

It results in the error:
[code]

[2021-04-13 19:56] shadowtime2000 commented on #269
Currently our function to detect if a function is a React component doesn't support arrow functions. @ije Do you know any way it could be done?

[2021-04-13 23:56] KotlinIsland opened #270 "hmr doesn't work when using aleph with different version of std server"
[code]

[2021-04-14 02:05] stereosteve commented on #262
I thought issue was resolved but there's still some issues with useDeno with querystring:

All of the `/_aleph/data` urls in `pagedata.ts` and `server.ts` still assume `pathname`
So fetching data from `/_aleph/data/*.json` during client side navigation doesn't work and I have to reload page, at least in dev.

I think eventually it'll make sense to fully support SSR with query params, but admit it'

[2021-04-14 02:38] Type1J commented on #81
With deno 1.9.0, I needed Aleph 0.3.0-alpha.27 (25 and 26 didn't work).

[2021-04-14 05:47] ije commented on #204
an oak mddileware added: https://github.com/alephjs/aleph.js/blob/master/server/oak.ts

[2021-04-14 06:00] ije commented on #262
@stereosteve yes you are right, currently `/_aleph/data/*.json` does not include the query params and the ssr data request also need to add the query. i will fix this ASAP. thanks!

[2021-04-14 06:40] KotlinIsland commented on #204
awesome

[2021-04-14 08:49] noverby commented on #269
Next.js uses `isValidElementType` from `react-is` to verify whether the objects, returned from either type of functions, are React components. [Source](https://github.com/vercel/next.js/blob/0af3b526408bae26d6b3f8cab75c4229998bf7cb/packages/next/next-server/server/render.tsx#L503)

[2021-04-14 08:56] shadowtime2000 commented on #260
Ok, so... I think this is a kind of bad idea.

First of all, it doesn't provide that much benefit to us as developers.

So let's say we are using an import map and I add a dependency. I just add a line to the JSON file then I import it in code.

What if I added a dependency with `deps.ts`?

Just add a couple lines of code to `deps.ts` then import it.

Imports from `deps.ts` should be readable anyw

[2021-04-14 13:04] hyakt opened #271 "The value of the src attribute in the script tag does not compile correctly"
The following script tag
[code]
compile to
[code]

$ aleph --version
aleph.js 0.3.0-alpha.29
deno 1.8.3
v8 9.0.257.3
typescript 4.2.2

[2021-04-14 18:00] snxk opened #274 "Uncaught (in promise) TypeError: TS2345 [ERROR] while running aleph dev"
I am trying to test out aleph and running aleph dev gives and error

[code]

[2021-04-14 20:27] maltejur commented on #274
Seems to be this one #81

[2021-04-15 18:30] ije commented on #269
i don't think so `react-is` can get this, in fact the [isLikelyReactComponent](https://github.com/alephjs/aleph.js/blob/e99b54546b334220fd20243655bc3ed0439e0001/framework/react/helper.ts#L7) function is copied from react repo, and the unnamed arrow function component also don't support fast-refresh. try to use `const` snytax:
[code]
[code]

[2021-04-15 18:36] ije commented on #260
@shadowtime2000 make sense. i removed `deps.ts` because i found the cli bootstrap time is slow since there are lot of deps...maybe we can keep current url importing, it's ok for me.

[2021-04-15 18:37] ije commented on #271
@hyakt thanks, i will look into it!

[2021-04-16 02:54] Gleb-ko opened #278 "Infinite download loop on start / build"
When importing a module within which certain files indirectly import themselves, Deno can handle the import fine; however, `aleph start` or `aleph build` goes into an infinite download loop of these files.

This is the import that is breaking Aleph for me:
[code]

Edit 1: I did some searching through the Aleph code, this is the line of the log that indicates that there is an infinite download loop

[2021-04-16 14:57] Gleb-ko opened #280 "Production breaks on importing entire module"
I am trying to import an entire module which has submodules.
When using `aleph build` or `aleph start` I get this error in the browser console:
[code]

When using `aleph dev` the code works as intended.

---------

### Example

The import is here (specifically the `api` part):
https://gitlab.com/silk-matrix/silk-desktop/-/blob/aleph-issue-280/src/lib/useLogin.ts#L2

Using this code below has the s

[2021-04-16 21:10] ije commented on #280
seems it's swc bundler issue like denoland/deno#9849, i am rewriting the bundler system using esbuild instead, that should work fine.
https://github.com/alephjs/aleph.js/pull/277

[2021-04-16 22:26] Gleb-ko commented on #280
@ije I just tried using the master branch into which you have merged #277 and I am afraid I still get the same issue as well as a new error:
[code]

[2021-04-16 23:26] ije commented on #280
deno 1.9？

[2021-04-17 01:18] Gleb-ko commented on #280
Yes

[2021-04-17 07:38] shadowtime2000 commented on #255
Given that more information wasn't provided like Deno version and stuff, I am going to close this. Feel free to respond on this issue with more information and I will reopen it.

[2021-04-17 07:38] #255 closed

[2021-04-17 07:39] #274 closed

[2021-04-17 09:07] ije commented on #280
<img width="1187" alt="Screen Shot 2021-04-17 at 5 06 00 PM" src="https://user-images.githubusercontent.com/2883484/115107743-60591780-9f9f-11eb-9772-50191d87e5f0.png">

fixed.

[2021-04-17 12:00] ije commented on #280
alpha.30 can work fine in your example on macos

[2021-04-17 12:00] #280 closed

[2021-04-17 12:01] ije commented on #278
please upgrade to **alaph.30** that fixed this

[2021-04-17 12:01] #278 closed

[2021-04-17 14:23] Gleb-ko commented on #280
aleph.30 does fix it, not sure why it didn't work from the master branch yesterday

[2021-04-18 18:40] Gleb-ko opened #283 "redirect doesn't work"
Using redirect doesn't work in alpha 30, for example:

[code]

[2021-04-18 19:25] ije commented on #283
does the url change in address bar?

[2021-04-18 19:30] Gleb-ko commented on #283
yes it does

[2021-04-18 19:49] ije commented on #283
try to set a timeout out of the redirect call, since the router event listener is not ready

[2021-04-18 19:52] ije commented on #283
if you want to rewrited page url, try to set rewriting rules in `aleph.config.ts` instead

[2021-04-18 20:01] Gleb-ko commented on #283
this doesn't work. I should mention that if I reload on that page the redirect works properly.

[2021-04-18 20:02] Gleb-ko commented on #283
I have some logic behind whether it would redirect or not (so the page doesn't necessarily redirect), so I can't do it with a static rule.

[2021-04-19 04:39] KotlinIsland opened #284 "Type error 'ServerRequest | NativeRequest' is not assignable to parameter of type 'ServerRequest'."
[code]
[code]

[2021-04-19 17:40] #284 closed

[2021-04-19 17:40] ije commented on #283
@Gleb-ko fixed, please upgrade to **alpha.31** and try again, thanks

[2021-04-19 17:40] #283 closed

[2021-04-19 17:41] ije commented on #271
@hyakt  fixed, please upgrade to **alpha.31**, thanks

[2021-04-19 17:41] #271 closed

[2021-04-19 17:53] #204 closed

[2021-04-19 17:59] #156 closed

[2021-04-19 18:00] ije commented on #138
now we use esbuild bundle the dist, this should never happen again.

[2021-04-19 18:00] #138 closed

[2021-04-19 18:01] ije commented on #150
now we are use esbuild to bundle the dist, this should be fixed

[2021-04-19 18:01] #150 closed

[2021-04-19 18:04] ije commented on #260
https://deno.land/x/land may is the solution.

[2021-04-19 18:04] #260 closed

[2021-04-19 18:07] ije commented on #211
this is the react-dom and react url did not match by esm.sh update, in latest updates, alephjs will check the dismatch url and fix it automatically.

[2021-04-19 18:07] #211 closed

[2021-04-19 18:15] Gleb-ko commented on #283
@ije I'm afraid the above example still does not work for me

[2021-04-19 18:25] Gleb-ko opened #285 "[alpha.31] Crash on self-import"
Very similar issue to #278 , except it also breaks on `aleph dev`. Example `app.tsx` file:

This time instead of going on forever it crashes with no error / debug message

[code]

[2021-04-20 04:28] hyakt commented on #271
Thank you! It's working as expected.

[2021-04-20 09:32] vincenzopalazzo commented on #211
Thanks, @ije I will punt in my queue task to test the last version of this framework.

[2021-04-21 00:41] tzx opened #287 "Property 'value' does not exist on type 'HTMLInputElement'."
I don't know if this is an issue on my end, but I am doing a simple onChange for an input and I get the error in the title which doesn't make sense I think.

[code]
I am using v0.3.0 alpha 31

[2021-04-21 05:57] KotlinIsland opened #288 "Deno 1.9.1 CompileError: WebAssembly.instantiate(): BufferSource argument is empty"
[code]

[2021-04-21 15:20] vincenzopalazzo commented on #211
ack @ije

[2021-04-22 13:39] #262 closed

[2021-04-22 13:40] ije commented on #288
sorry, i can't repeat this, can you please clean the cache dir and try again?

[2021-04-22 13:42] ije commented on #270
have a plan to remove the **std/server** and use **hyper** instead
https://github.com/denoland/deno/issues/10211#issuecomment-823940500

[2021-04-22 13:45] ije commented on #287
because deno doesn't provide the dom types as default, you can add it like:

[code]

or declear it in `tsconfig.json`.

[2021-04-22 13:45] #287 closed

[2021-04-23 00:29] KotlinIsland commented on #288
true

[2021-04-23 00:29] #288 closed

[2021-04-23 01:46] ije commented on #285
fixed for sure

[2021-04-23 01:46] #285 closed

[2021-04-23 07:01] alfredosalzillo commented on #56
Any news on this?

[2021-04-23 08:56] ije commented on #56
@alfredosalzillo  will test later

[2021-04-23 21:24] Gleb-ko opened #291 "srcDir ignored for the public directory"
If you set the `srcDir` option in `aleph.config.js` the `public` directory is taken from `"./"` instead of the `srcDir`

[2021-04-24 00:06] jheysonsaav commented on #291
generally the public and src folders are used separately, and so it is used by projects like create-react-app or vue-cli, maybe that's why the behavior of alephjs is to wait for the public directory in the same path as the src directory

[2021-04-24 02:15] #197 closed

[2021-04-24 08:37] Gleb-ko commented on #291
@jheysonsaav ah ok, that would make sense. Not too familiar with React but after looking at example projects & `create-react-app` I think that is probably the case so I'll close this issue.

[2021-04-24 08:37] #291 closed

[2021-04-25 11:12] vincenzopalazzo opened #293 "Release more build stack during the Check https://deno.land/x/denoflate@1.1/mod.ts"
When I build the server in release mode I have the stuck state with the check `Check https://deno.land/x/denoflate@1.1/mod.ts`,
after 12 my build is still stuck

[code]

[2021-04-25 14:10] ije commented on #293
i saw the console seems the server was ready, just needed to download the gzip deps, it will not show again at next time of the `start` command

[2021-04-25 18:13] cyclane opened #294 "Crash / infinite loop on remote self-import"
`aleph dev` crashes with no error message on a remote self-import and `aleph start` or `aleph build` enters an infinite loop.

This is not an issue last on alpha.30 but broken for both alpha.31 and alpha.32

Replication:
Put this line in `app.tsx`
[code]

Edit:
Made a much shorter remote module for replication:
[code]

(similar to #285 but the example there does work)

[2021-04-25 18:15] ije commented on #294
@Gleb-ko thanks for the details, i will check out later!

[2021-04-27 17:13] alfredosalzillo opened #295 "Bug building inside github actions"
After upgrading to v0.3.0-alpha.32 the build fails with this error.

[code]
---

Aleph version: v0.3.0-alpha.32
Deno version: deno 1.9.2
OS: Ubuntu 20.04.2.0

[2021-04-28 16:48] #295 closed

[2021-04-29 19:13] Zequez commented on #42
@jcayzac

I've gone on an adventure to hunt down this. I was getting this error too when importing `twind`. It seems to be an issue with the SWC compiler.

The code where the error is found is:

[code]

Which indeed has a syntax error; it should be:

[code]

And if you make the change on the cache directory it actually does work. The [original file where that line comes from at twind](https://gith

[2021-04-30 01:25] ije commented on #42
@Zequez thanks, that is helpful! i will try to upgrade swc again to check out whether it's fixed, or i will make pr to swc project

[2021-04-30 16:54] noverby commented on #269
@ije Next.js automatically transforms unnamed and arrow functions to have a name for fast-refresh support:
https://github.com/vercel/next.js/blob/canary/packages/next-codemod/transforms/name-default-component.ts

[2021-04-30 21:35] jsjoeio commented on #160
Is there somewhere to follow this? I couldn't find anything in `mdx-js/mdx`

[2021-05-01 12:23] gauravnumber commented on #190
You all guys don't you need downgrade Deno. Just upgrade Deno v1.9.2 it worked.
Previously I using Deno v1.6.3 and I got the same error since upgrading deno it work well now.

[2021-05-02 00:20] konsumer commented on #190
@gauravnumber I got it to run `init`, but it failed to run dev. What versions of things are you using?

Here is my test procedure:

[code]

I get this error:

[code]

[2021-05-02 04:52] gauravnumber commented on #190
You may need upgrade Aleph.js.
Try this
[code]

[2021-05-02 05:32] konsumer commented on #190
@gauravnumber That is using latest stable, but I'm fine with alpha, too, though. This does seem to start:
[code]
also leaving out `--init`, neither serves anything on port 8080, though. Am I missing something else? Did you test this?

[2021-05-02 05:37] konsumer commented on #190
Huh, nevermind, maybe it is working. the `--init` thing seemed lock up my terminal on mac, so I killed the docker daemon, and restarted, and ran the same command again. It did seem to get further. I get "Page Not Found", but maybe that is expected? It appears to at least be servicing the error.

[2021-05-02 10:50] hsjoberg opened #297 "Social media meta tags not included in index.html"
Hello, thank you for a great project!

I have some issues regarding meta tags (and other tags for that matter). AFAICT the recommended method is by adding a `<head>` section to a rendered component, and Aleph will take of adding this to the real `<head>` section.

This introduces issues with social media meta-tags however, like those used for Twitter and Facebook, as they require them to be access

[2021-05-02 16:57] shadowtime2000 commented on #297
What do you mean by this?

[2021-05-02 17:43] hsjoberg commented on #297
@shadowtime2000 I don't believe they are executing Javascript, so the meta-tags are never added to `<head>` read.

When I build a production version and check index.html, the tags are not there. But when I then visit my page, they are added, so I assume this was done afterwards by Javascript.

[2021-05-02 18:22] shadowtime2000 commented on #297
@hsjoberg I am fairly sure that we statically add the meta tags and they are added in the SSG process, what you are experiencing might be a bug.

[2021-05-02 19:08] hsjoberg commented on #297
@shadowtime2000 I see.
If it helps I am running with SSR disabled.

I can also put up an exampe repository when I got time.

[2021-05-02 19:17] shadowtime2000 commented on #297
Idk why you are expecting meta tags to be SSRed when you have SSR disabled.

I don't think having an `index.html` is really necessary because SPAs are not built to like be great for SEO, if you want good SEO with meta tags you should use SSR/SSG instead.

[2021-05-02 19:17] #297 closed

[2021-05-02 19:24] hsjoberg commented on #297
@shadowtime2000 The purpose of the social media tags in this context are not for SEO, it is for sharing  on social media sites, where an image, description and other content from the tags will be read and displayed.

Yeah sorry, I was a bit confused about how Aleph.js worked here. But yes this makes full sense now.
This is also why I asked that perhaps the index.html could be editable like with we

[2021-05-06 09:34] hazae41 opened #298 "404 error on new project"
Hey, I just started a new Aleph project, but I get a 404 error

![Capture](https://user-images.githubusercontent.com/4405263/117275947-da721300-ae5e-11eb-8090-84b43a9e20ae.PNG)

How can I get the main page?

[2021-05-06 11:36] hazae41 commented on #298
I just restarted the project with `aleph dev` and now it works

[2021-05-06 11:48] hazae41 commented on #298
I made yet another new project and it works too, weird

[2021-05-06 11:48] #298 closed

[2021-05-06 11:53] hazae41 commented on #5
What's the current state of Vercel API functions? I can help

I'm also watching this https://github.com/TooTallNate/vercel-deno
Maybe we could use it?

[2021-05-06 13:00] hazae41 opened #299 "Disable API"
Hey, I'm trying to use Aleph with Vercel functions as an API

However, both Aleph and Vercel use the "api' folder:
`aleph dev` expects deno functions
`vercel dev` expects node functions

Is there any way to disable the API feature of Aleph, or change the API directory?

[2021-05-06 13:09] hazae41 commented on #299
The only workaround I think of is to change `srcDir` in Aleph config

[2021-05-06 14:06] hazae41 opened #300 "build throws when using custom "srcDir" but "dist" doesn't exist"
Hey, I use a custom `srcDir` and I get this error when I try to build and `dist` doesn't exist

[code]

My Aleph config:

[code]

However, when I create an empty `./dist`, it works

My project structure then looks like

[code]

[2021-05-06 15:55] hazae41 opened #301 "useDeno returns null when using a defined function"
When I use a defined function the `useDeno` hook returns `null`
However, when I use a callback to that defined function, it works

[code]

[2021-05-07 03:04] ajcwebdev opened #302 "Uncaught TypeError in Getting Started guide"
Hello Aleph.js team 👋. I was recently updating my blog post about Aleph and found that I was getting an error when following along with the current Getting Started guide. All three `aleph` commands, `dev`, `start`, and `build` result in the same error.

Commands entered:

[code]

Error output:

[code]

### Aleph version

[code]

### Deno version

[code]

### deno info

[code]

### My system info

[2021-05-07 18:36] shadowtime2000 commented on #302
This isn't a bug looking more into it. afaik 0.2.28 is not compatable with any newer Deno versions and only works with Deno 1.6.x. If you want to use Deno 1.8.0 use the latest alpha version of Aleph.

[2021-05-09 17:01] hazae41 opened #304 "Do not process .css files in public/ folder"
I tried to include [tailwind.min.css](https://esm.sh/tailwindcss/dist/tailwind.min.css), which is very big, in my public/ folder directly instead of using its url

However, `aleph build` hangs when building that file

It would be cool if we could ignore some files from the processing, either manually or when the file is named ".min.css"

[2021-05-09 20:01] augustomallmann commented on #302
I downgraded deno version to 1.6.3 and the error persists:

`augustomallmann in ~
❯ aleph init test
Check https://deno.land/x/aleph@v0.2.28/cli/init.ts
INFO Downloading template...
INFO Saving template...
INFO Done
INFO ---
INFO Aleph.js is ready to Go.
INFO $ cd test
INFO $ aleph dev    # start the app in `development` mode
INFO $ aleph start  # start the app in `production` mode
INFO $ aleph bui

[2021-05-09 20:22] augustomallmann commented on #302
@ajcwebdev did you fix the issue on your side? If yes, could you please share what you've done?

[2021-05-10 04:22] ije commented on #304
yes, the CSS loader should ignore CSS files in public dir, i will improve this!

[2021-05-10 09:06] hazae41 opened #305 "Can't use imports from import_map in aleph.config.ts"
The following config

[code]

throws

[code]

when using `aleph dev` or `aleph build`

[2021-05-10 11:24] ije commented on #305
this is expected since the app.config.ts is imported by aleph client run in deno without import map

[2021-05-10 12:49] hazae41 commented on #305
Can't we change this behaviour?

[2021-05-10 13:21] hazae41 opened #306 "Aleph crashes/hangs on circular imports"
When using circular imports, Aleph.js crashes or hangs **without any error**

**parent.tsx**:

[code]

**child.tsx**

[code]

`aleph dev` crashes without error:

[code]

`aleph build` hangs:

[code]

[2021-05-10 14:08] ije commented on #305
or we can pre transpile the app.config.js to mix import map

[2021-05-10 15:11] #305 closed

[2021-05-10 15:26] hazae41 opened #308 "The <head/> tag doesn't work in app.tsx when using "srcDir""
The `head` tag doesn't work in `app.tsx`, the title is not displayed, and the css is not loaded

I tried with ssr disabled, same problem

**app.tsx**

[code]

However, when moving it to a page, it works fine:

**pages/index.tsx**

[code]

But using this way, the CSS is unloaded then loaded each time I change page

[2021-05-10 15:29] hazae41 commented on #306
in fact, my case uses three components:
A imports B; B imports C; and C imports A

Maybe this case is not fixed

[2021-05-10 17:50] ajcwebdev commented on #302
Hey @augustomallmann, unfortunately I have not had time to debug, been busy with work. I'm not sure if anyone on the Aleph team is in the Deno Discord but you could probably get some assistance there.

[2021-05-10 18:05] hyochan commented on #169
This is still not working in deno `1.9.2`. Hope I can't any updates notified to use recent `deno`.

[2021-05-10 18:07] hyochan commented on #169
Actually, I think I wrote too quickly. Works fine in aleph `0.30.0` and was not working in `0.28.0`.
Deno version is `1.9.2`.

Thanks for the great work!

[2021-05-10 20:06] shadowtime2000 commented on #302
It seems then that this is an issue with esm.sh then, though i don't know for sure (cc @ije)

PS: you can also join the aleph discord server for help, but I am also in the deno discord server if you need help with stuff

[2021-05-11 05:08] Ayushi1910 opened #311 "Getting error in pages/framework upon aleph dev command."
ERROR TypeError: Is a directory (os error 21)

    at file:///SystemPath/aleph/hello-aleph/.aleph/development/pages/index.cc61d1ad7.js:5:0
    at async https://deno.land/x/aleph@v0.3.0-alpha.1/server/app.ts:1611:48
    at async Promise.all (index 0)
    at async Appliaction.renderPage (https://deno.land/x/aleph@v0.3.0-alpha.1/server/app.ts:1621:17)
    at async Appliaction.getSSRData (https://deno

[2021-05-12 05:14] golamrabbiazad opened #312 "Aleph.js needs Deno 1.8.0+, please upgrade Deno"
Getting error message after hit `aleph dev`.

Version info:-

[code]

[2021-05-12 05:19] shadowtime2000 commented on #312
Can you supply full reproduction steps?

[2021-05-12 06:47] alundiak commented on #302
Not sure, but looks duplicate to #190

Anyhow, here is how it works for me:

<img width="407" alt="Screenshot 2021-05-12 at 08 45 47" src="https://user-images.githubusercontent.com/2131633/117930778-b4d18780-b2fe-11eb-8ebf-098b666a0b25.png">

[2021-05-12 12:51] hazae41 commented on #304
It also hangs when using

[code]

in app.tsx

[2021-05-12 12:57] hazae41 commented on #312
I have the same thing when building with Deno 1.10

[2021-05-12 13:01] hazae41 commented on #312
This is basically because Aleph has

[code]

and `minDenoVersion = '1.8.0'`

But it is true when using 1.10+

[code]

[2021-05-13 06:38] kamchy commented on #312
Hi, I stumbled upon this issue today and I propose to use existing solution - [compare-versions](https://deno.land/x/compare_versions@0.4.0 ) - to handle this.

[2021-05-13 09:19] #312 closed

[2021-05-14 18:23] elycheikhsmail opened #315 "alephjs.org getstard need update"
instruction for getting start say
Prerequisites
Deno 1.6.3
but now deno version is 1.10.1 and aleph version is greet than 0.2.28

[2021-05-14 18:36] elycheikhsmail opened #316 "ERROR Aleph.js needs Deno 1.8.0+, please upgrade Deno"
I get this message
ERROR Aleph.js needs Deno 1.8.0+, please upgrade Deno
 when running
aleph dev
but I have deno 1.10.1 installed

[2021-05-14 18:58] elycheikhsmail commented on #316
when I make searche in aleph repo I found "please upgrade Deno"  in one file in server/app.ts line 109, after if (semver.lt(Deno.version.deno, minDenoVersion)) { it may a bug in https://deno.land/x/semver@v1.3.0

[2021-05-14 19:04] hazae41 commented on #316
The patch is not release yet

[2021-05-14 19:05] hazae41 commented on #315
Aleph 0.3 is still in alpha that's why

[2021-05-14 19:16] elycheikhsmail commented on #316
you can give more explication ?

[2021-05-14 20:13] elycheikhsmail commented on #316
I install deno v1.9.0 behind v1.10.1 using dvm and ERROR goes.

[2021-05-14 21:08] guidorice commented on #316
I also got this error using deno 1.10.1.

[2021-05-14 21:10] guidorice commented on #316
Oh  it was resolved here https://github.com/alephjs/aleph.js/issues/312 👍🏽

[2021-05-14 22:51] elycheikhsmail commented on #302
I think it's to strict typescript check, type any not allowed any more then we must type returned value of each function/method

[2021-05-14 22:58] elycheikhsmail commented on #316
I think I think there, may other commit broke it again.

[2021-05-15 00:08] guidorice opened #317 "aleph start fails to read popper.client.js when using material-ui"
I noticed on my project which is including material-ui (https://esm.sh/@material-ui/core@4.11.4/), that `aleph dev` is working, but `aleph start` fails with:

[code]

[2021-05-15 00:12] elycheikhsmail opened #318 "typescript support ?"
vscode with default config done by alephjs reconize the import but don't allow type any I don't know what type for returnd value by react function

[2021-05-15 01:28] shadowtime2000 commented on #316
This is a duplicate issue which has already been resolved on master, the fix will be present in the next release.

[2021-05-15 01:28] #316 closed

[2021-05-15 06:42] shadowtime2000 commented on #318
Sorry, but your description of the problem lacks details that could help us understand the situation. Could you clarify along with including stuff like reproduction steps and like a screenshot of the problem?

[2021-05-15 06:43] shadowtime2000 commented on #311
Closing because no response regarding problem. If someone else is experiencing this issue feel free to comment here with the important information and I will open it up again.

[2021-05-15 06:43] #311 closed

[2021-05-15 06:44] shadowtime2000 commented on #315
Yes, as @hazae41 Aleph 0.3.0 which is built to work with more modern versions of Deno is in beta and so we are currently keeping the getting started instructions to have instructions for 0.2.28 because that is more stable.

[2021-05-15 06:44] #315 closed

[2021-05-15 10:10] elycheikhsmail commented on #318
I create simple hello project with aleph init hello and i run aleph dev then I open hello project in my vscode code I will share with some screenshot and system info deno version etc..

[2021-05-15 12:42] elycheikhsmail commented on #318
I use ubuntu 20.04 deno v1.9.0 this is link to screenshot https://drive.google.com/file/d/1-TzLfB4CoE3i5aYVvIlGshZoI3dX_1f-/view?usp=sharing

[2021-05-15 14:05] hazae41 opened #319 "Crash when importing WalletConnect"
When I import these two modules, Aleph.js crashes on compilation step, similarly to the crash when using circular imports (https://github.com/alephjs/aleph.js/issues/306)

[code]

Here is the debug

[code]

[2021-05-15 15:20] #301 closed

[2021-05-15 15:55] ije commented on #318
try `deno cache https://esm.sh/react@17.0.2` since the deno vscode extension is not stable

[2021-05-15 15:58] #247 closed

[2021-05-15 19:49] ije commented on #319
please try alpha.33 that fixs #306

[2021-05-15 19:50] hazae41 commented on #319
Yes! It's fixed

Thanks

[2021-05-15 19:55] hazae41 commented on #319
I have another problem now

[code]

[2021-05-15 19:57] hazae41 commented on #306
It seems fixed in alpha 33

[2021-05-15 19:57] #306 closed

[2021-05-15 20:08] hazae41 opened #320 "useContext returns undefined"
Hey, since the latest alpha 33, `useContext()` returns undefined even if the context is defined

[code]

My imports map

[code]

[2021-05-15 20:13] hazae41 commented on #320
It does work when using `aleph build`
It seems to only happen using `aleph dev`

[2021-05-15 20:29] ije commented on #320
@hazae41 I have no idea...can you please post the repo?

[2021-05-15 21:35] elycheikhsmail commented on #318
I update alephjs cli from v0.3.0-alpha.32 to v0.3.0-alpha.33 I will see the result and give you  a feedback

[2021-05-15 22:44] AleCandido commented on #217
More or less same problem here:
- both in SSR production and SSG, the style it is not properly managed (while it works wonderfully for `aleph dev`)
- I'm using `styled-components`, but even style rules in standalone sheets seem not to be applied (but they seem to in the example scaffolding `aleph init ...`)
- I also tried to delete `.aleph` like in #130 , nothing changed

[2021-05-16 03:37] ije commented on #217
@AleCandido which version you are use?

[2021-05-16 07:04] AleCandido commented on #217
[code]
Unfortunately with former versions I was not even able to run `aleph start` and `aleph build`, for some reason it was raising errors (I actually investigated a bit and it looked like it was already solved in the unreleased version, so I've just waited).

[2021-05-16 07:57] hazae41 commented on #320
@ije

Here is an example of the bug,

It seems to only happen in certain conditions, when the context, the provider, and the consumer are in different files

Working: https://github.com/hazae41/create-aleph-vercel-app/tree/master/app
Not working: https://github.com/hazae41/create-aleph-vercel-app/tree/bug/app

[2021-05-16 08:02] hazae41 commented on #320
I just moved Context from `libs/context.ts` to `comps/context.tsx` and it works

[2021-05-16 08:16] hazae41 commented on #320
After the move, I added loggers

One in the consume: does nothing, still works

[code]

One in provider, the bug happens if I add the logger

[code]

This is very weird

[2021-05-16 21:56] elycheikhsmail commented on #318
after update cli from v0.3.0-alpha.32 to v0.3.0-alpha.33 ,deno- vscode-plunig work correctly, but some time deno lsp fail to run because some time time vscode show this info. I

[2021-05-17 19:45] noverby opened #323 "Support import_map.json in aleph.config.ts"
Currently, it is not possible to use import_map.json with aleph.config.ts.

It results in an error like the following:
[code]

It would be neat if we could add support for it.

[2021-05-18 10:11] alundiak commented on #312
I do confirm, that this error disappeared. Thanks.

[2021-05-18 10:50] alundiak commented on #92
Just in case, someone will surf for latest 2021 issue... I got deno `v1.10.1` and aleph `v0.3.0-alpha.33` and initial installation was as:

[code]

And then executing `aleph dev` I got:

[code]

Note: localhost:8080 worked/running well.

I got some reading [here](https://deno.com/blog/v1.7#add-support-for-globalthis.location-and-relative-fetch) and this issue last comment got me a hint, so I re-in

[2021-05-19 05:42] ije commented on #323
@noverby will support this in beta.1

[2021-05-19 16:16] shadowtime2000 commented on #92
@alundiak That is already a problem that has been reported, though an issue has not been made. Could you create one so it could be tracked somewhere else?

[2021-05-19 16:24] alundiak commented on #92
@shadowtime2000 I wanted to avoid duplication, I've already seen a few similar issues and PRs. So I will not create a new one. Unless it will appear again with deno `1.11.x` for example in future.

[2021-05-20 01:04] shadowtime2000 commented on #92
@alundiak I mean like, commenting on a dead issue that was resolved months ago doesn't really help avoid duplication lol. but okay.

[2021-05-20 01:33] ije commented on #92
the old aleph `upgrade` command didn't add the `location` flag, i will improve the upgrade command for bootstrap options changes, you can use the `deno run -A https://deno.land/x/aleph/install.ts`

[2021-05-20 01:33] #92 closed

[2021-05-20 10:09] aleksanderbrymora opened #324 "TypeError when starting the project for the first time"
I've just discovered aleph.js and wanted to give it a go, but sadly after reinstalling deno, upgrading everything I could on my computer I can't get it to open because of some TypeError.
I'm running Ubuntu 18.04 with zsh cli. I have deno currently working and most of the aleph.js working, up to the point of running `aleph dev` where this typescript error pops up:
[code]

I'd appreciate any help on

[2021-05-20 10:12] aleksanderbrymora commented on #324
I should explicitly mention that the code, that I'm trying to run, is the one created by the initial aleph.js project set up. I have not touched it at all. Also all of the dependencies are newly installed as I have tried reinstalling deno and all cached deps.

[2021-05-20 23:52] shadowtime2000 commented on #324
@aleksanderbrymora What deno version are you using?

[2021-05-20 23:53] shadowtime2000 commented on #318
I am going to close this since this isn't a problem on our end, but a problem with the deno vscode extension.

[2021-05-20 23:53] #318 closed

[2021-05-21 01:21] borsemayur2 opened #325 "Invalid hook error on running new project"
Aleph.js v0.3.0-alpha.33
deno 1.10.2 (WSL)
I'm getting no error in terminal but browser shows following:
![image](https://user-images.githubusercontent.com/47341981/119068006-efbf7380-ba00-11eb-8adc-6d56582fed9d.png)

[2021-05-21 01:22] shadowtime2000 commented on #325
Can you share more information such as reproduction steps?

[2021-05-21 01:49] borsemayur2 commented on #325
Reproduction steps:
[code]

[2021-05-21 07:20] whyhankee commented on #324
Have the same problem:

[code]

[2021-05-21 07:44] AleCandido commented on #49
If I'm not making a mistake the former `Link` component is now named `Anchor`.

Since it is not present in the [docs](alpehjs.org/docs) (and the docs are even hard to explore, due to missing search function), if this is the case, could you update the table?

[2021-05-21 08:22] hazae41 commented on #49
Anchor is the internal name for <a/>

[2021-05-21 09:10] AleCandido commented on #49
Fine, if it's *only* `<a/>` then it's not `Link`. So where is the claimed `Link`?

If I take a very old commit it was [top-level](https://github.com/alephjs/aleph.js/blob/9f7e65d75df269d6a5fc2db76acb062274ecd01f/link.ts), but now there is nowhere a `link.ts` file.

[2021-05-21 11:01] aleksanderbrymora commented on #324
@shadowtime2000
The output of `deno --version`:
[code]
All of these are default installs, I have not changed a thing about what version is installed

[2021-05-21 11:09] hazae41 commented on #49
It has been removed in favor of Anchor, but you can use it directly, it's the smart transform (https://github.com/alephjs/aleph.js/issues/5) of `<a/>`

[2021-05-21 18:53] jason0x43 commented on #324
I am also seeing the same error on a newly initialized Aleph project with both Deno 1.9.2 and 1.10.2.

[code]

[2021-05-21 19:28] ije commented on #324
@aleksanderbrymora @jason0x43 @whyhankee i'm so sorry, **aleph.js 0.2.28** can not work in deno 1.7+, please try the **0.3 alpha.33** via: `deno run -A https://deno.land/x/aleph/install.ts`

[2021-05-21 20:35] jason0x43 commented on #324
Thanks!

[2021-05-22 08:56] kratapps opened #326 "Server Error cannot resolve module esbuild mod.d.ts"
Hi!

When running `aleph dev` and open the browser I get server error 500.

[code]

In the `.aleph/development/-/deno.land/x/esbuild@v0.11.22/` directory there is no `mod.d.ts` file, only `mod.js` and `mod.meta.json`.

aleph.js 0.3.0-alpha.33
deno 1.10.2
v8 9.1.269.27
typescript 4.2.2
macOS 10.15.7

[2021-05-22 10:19] hagenek commented on #101
Hi. Getting the same error on Deno 1.10.2.

[2021-05-22 11:58] elycheikhsmail opened #327 "refresh component is missing"
I seggest  to create refresh component <br>
`tsx`
[code]

[2021-05-22 12:02] elycheikhsmail commented on #327
and stop waiting for the change when runing aleph dev, not all change need to  be watched.

[2021-05-22 14:26] #326 closed

[2021-05-23 11:07] mohsenkhanpour commented on #49
I updated the table!

[2021-05-23 12:35] aleksanderbrymora commented on #324
Thanks!!

[2021-05-23 12:35] #324 closed

[2021-05-23 12:47] sahilrajput03 opened #328 "aleph dev throws error!!"
![image](https://user-images.githubusercontent.com/31458531/119261032-11804c80-bbf3-11eb-8da4-ce4331bacee5.png)

As you can see all the details you need, please suggest why is it not working..??

[2021-05-23 12:49] sahilrajput03 commented on #328
https://github.com/sahilrajput03/hello
This is the repo link though..

[2021-05-23 15:04] thomascarvalho commented on #328
Hi, Alephjs doesn't work with deno 1.7+ version.

Use the latest alpha version of aleph ( `deno run -A https://deno.land/x/aleph/install.ts`) or downgrade deno.

[2021-05-23 15:39] sahilrajput03 commented on #328
![image](https://user-images.githubusercontent.com/31458531/119267192-1fda6280-bc0b-11eb-8e96-df9f813d4133.png)

I changed my deno installation as you can see that!! But how do I remove aleph and again install aleph if thats what I am missing now..?

[2021-05-23 15:40] sahilrajput03 commented on #328
@thomascarvalho ?

[2021-05-23 16:17] thomascarvalho commented on #328
I am using deno 1.10.2, I don't know how to specifically respond to this error.

What I advise you (this is the first solution that I proposed to you) is to keep Deno in version 1.10.2 and install the last alpha version of alephjs.

All you have to do
`deno upgrade`
and
`deno run -A https://deno.land/x/aleph/install.ts`

then start a new project with the init command

[2021-05-23 16:20] sahilrajput03 commented on #328
I will be back with a try of this solution as well..!.

[2021-05-23 16:55] sahilrajput03 commented on #328
![image](https://user-images.githubusercontent.com/31458531/119269514-b3b12c00-bc15-11eb-8ad7-815aae432f47.png)

Okay, its still very same.. !
:( what is wrong with my machine or deno or alephjs. ..?
@thomascarvalho

[2021-05-23 16:58] sahilrajput03 commented on #328
![Uploading image.png…]()

[2021-05-23 17:07] thomascarvalho commented on #328
I don't know why you have this error.

Try with --reload flag
`deno run --reload -A https://deno.land/x/aleph/install.ts`

[2021-05-23 17:13] sahilrajput03 commented on #328
![image](https://user-images.githubusercontent.com/31458531/119270033-58346d80-bc18-11eb-8875-5294eb6419be.png)
Amazing!!! 🤺︎🤺︎

[2021-05-23 17:14] sahilrajput03 commented on #328
![Uploading image.png…]()

[2021-05-23 17:15] #328 closed

[2021-05-23 18:32] shadowtime2000 commented on #327
We already kind of do this.

[2021-05-23 18:32] #327 closed

[2021-05-24 22:31] talentlessguy commented on #288
Having the same error as well.

I have cleared the `.aleph` folder, deno cache, yet it still repeats:

[code]

[2021-05-24 22:40] talentlessguy commented on #22
IMO `useDeno` hook doesn't provide the main feature of Next.js `getServerSideProps` - access to `req` object

having it would be great

[2021-05-25 13:01] kratoon3 opened #330 "esm.sh imported component failing"
Hi, thanks for awesome framework!

I am trying to load an existing React component library using esm.sh.
Not sure if this is esm.sh or esbuild or alephjs issues.

[code]

[code]

The js file is [here on pastebin](https://pastebin.com/iwUAN5UH)

aleph.js 0.3.0-alpha.33
deno 1.10.2
v8 9.1.269.27
typescript 4.2.2
react 17.0.2

[2021-05-25 16:56] thesabbir commented on #302
Same error on a fresh project:

[code]

[2021-05-27 12:18] thesabbir commented on #302
With 0.33-alpha
[code]

[2021-05-28 06:35] AzrizHaziq commented on #302
Hi, I just tried using this framework in case if you are also in the same boat, please upgrade your `aleph` version to `aleph.js v0.3.0-alpha.33` and then use `$ aleph init my-folder`.

I forgot which command to upgrade my aleph version tho try `$ aleph --help`

[2021-05-28 06:37] AzrizHaziq commented on #302
Hi @thesabbir, have you found a solution for this? Thanks in advance

[2021-05-28 06:39] shadowtime2000 commented on #302
@ije Do you think we could include this in the first 0.3 beta?

[2021-05-29 02:00] jheysondev commented on #308
@hazae41 Could you show the error you get when trying to run the program, or does the program run fine and you don't get any errors?

I have reproduced the problem in my local environment but I would like to know if the problem is the same as you have

[2021-05-29 05:13] scally commented on #302
I found a potential fix for deno 1.10 / aleph 0.3.0-alpha.33 :

I reinstalled aleph 0.3.0-alpha.33 with an additional dummy --location flag, like this:

[code]

And it finally worked -- localStorage is finally operational.

[2021-05-29 06:54] thesabbir commented on #302
Documentation is way behind on things. @scally good job!

[2021-05-29 07:41] shadowtime2000 commented on #302
@thesabbir I would like to point out that the doc is purposely not updated with alpha stuff, well, because its *alpha* and super unstable compared to 0.2.28.

@scally Awesome!

[2021-05-29 12:59] hazae41 commented on #308
No error, it just fails

[2021-05-29 21:35] ajcwebdev commented on #302
I think most people who are going to be finding the getting started guide are going to be on a recent version of Deno and are going to assume that they can just run the commands and get started. If this is not the case there should be more thorough instructions to get your dev environment setup.

[2021-05-29 21:37] shadowtime2000 commented on #302
@ajcwebdev No offense to them, but they are probably rushing then and not paying attention to the documentation since its still clearly listed that the Deno version to use 1.6.3

![image](https://user-images.githubusercontent.com/66655515/120085253-55f46800-c08b-11eb-937a-bd1c88d621ff.png)

[2021-05-29 21:39] ajcwebdev commented on #302
Most Node developers use tools like NVM to handle their Node versioning, is there a similar tool for Deno? How would you get onto Deno 1.6.3?

[2021-05-29 22:19] shadowtime2000 commented on #302
@ajcwebdev You would just downgrade to Deno 1.6.3. There isn't any tool afaik that can do something like nvm, you would just have to downgrade to Deno 1.6.3 if you want to use the latest somewhat stable Aleph version.

[2021-05-29 22:22] ajcwebdev commented on #302
Cool, thanks for the info @shadowtime2000! 👍

 Haven't tried it yet but it looks like there is in fact a [dvm](https://github.com/justjavac/dvm).

[2021-05-29 22:22] #302 closed

[2021-05-30 05:03] FallingSnow commented on #330
Did you try another cdn, such as skypack.dev?

[2021-05-30 09:14] kratoon3 commented on #330
@FallingSnow skypack.dev is working great. Thanks!

[2021-05-30 09:14] #330 closed

[2021-05-31 20:27] talentlessguy opened #331 "Routing with [param].tsx doesn't work"
every page I create has these parameters, no matter if it's a folder, or a file with params.

I tried moving this file to `[coin]/[address].tsx`, to `test/[address].tsx`  and `[address].tsx` but it's all the same:

[code]

yields this:

[code]

it doesn't happen with `test.tsx` though (it maps to `/test` properly)

[code]

[2021-05-31 20:51] douglasduteil opened #332 "Testing environment"
Hi

I would like to know if you have any suggestion on how to add a friendly testing environment.
I found it difficult to take advance of the [existing testing libraries for React](https://github.com/testing-library) in the Deno ecosystem.

I was thinking about sharing some code to test the [examples/hello-world](https://github.com/alephjs/aleph.js/tree/b9c64896fde6b25785a32622197f295e896d8a9b/exa

[2021-06-01 03:31] kt3k commented on #332
I can't completely answer your questions, but I want to share some of my findings.

- jspm version of jsdom seems working with deno

[code]

- I couldn't import `@testing-library/react` from esm.sh, skypack, jspm.io, but `umd` version in the published package seems working. I was able to run the test like the below:

test.jsx

[code]

[code]

I'm not sure if it's possible to make this work with es

[2021-06-01 06:23] thomascarvalho commented on #331
Your import version doesn't match.
Replace your import by `import { useRouter, useDeno } from 'https://deno.land/x/aleph@v0.3.0-alpha.33/framework/react/hooks.ts'`

I don't know in which version it was corrected but with alpha.33 it works

[2021-06-01 06:31] thomascarvalho commented on #331
I advise you to use an import_map.json to make sure you have the same version everywhere.

[2021-06-01 08:46] talentlessguy commented on #331
my bad, i didn't see that the import URL has an old version

[2021-06-01 08:46] #331 closed

[2021-06-01 14:56] douglasduteil commented on #332
That helps a lot @kt3k
Thanks

I'm not sure how one should handle this but having a import map with your recommendations above setup inside `alephjs test` will certainly help going forward with tested projects today :)

[2021-06-01 14:57] douglasduteil commented on #332
In the meantime, I'm committing in the https://github.com/denoland/deno_std to add node builtins missing pieces 👍

[2021-06-01 19:32] shadowtime2000 commented on #332
It probably won't be able to work.

It's probably going to take a while in general to add testing features, because there is no really more standard testing library for browsers.

[2021-06-04 00:53] laurogripa commented on #160
Subscribing to this. Any thoughts on how to implement?

[2021-06-06 19:29] kratoon3 commented on #317
I have the same error.
Maybe a bug in esm.sh? @ije

In the `.aleph/production/` directory there's file called `popper.js.client.js`, not `popper.client.js`.

Simple code to reproduce:
[code]

aleph.js 0.3.0-alpha.33
deno 1.10.2
v8 9.1.269.27
typescript 4.2.2

[2021-06-07 11:53] asbjornu opened #333 "ERROR Load module 'https://deno.land/x/aleph@v0.3.0-alpha.33/mod.ts': Not Found"
Importing `useRouter` from [the example](https://alephjs.org/docs/basic-features/routing) just gives me the following exception when executing `aleph dev`:

[code]

I assume the example is for an older version of Aleph? When changing from:

[code]

to:

[code]

…it stops complaining, but my deconstructed `pathname`, `pagePath`, `params` and `query` variables come up empty.

What I want is as munda

[2021-06-07 15:09] asbjornu commented on #333
This is probably due to me not understanding React well enough, but I finally figured out that I'm able to retrieve the query parameters as such:

[code]

This has thus boiled down to a documentation issue around the `import` statement.

[2021-06-07 19:29] asbjornu opened #334 "Import and dependency problems"
If I add the following entry to `import_map.json`:

[code]

And then attempt to import `react-router-dom` like so:

[code]

…it fails:

[code]

[2021-06-07 19:34] asbjornu commented on #334
If I remove the version number from the URL:

[code]

…the error changes to:

[code]

[2021-06-07 19:35] asbjornu commented on #334
However, if I change the `import` statement to the full URL, it works:

[code]

[2021-06-07 19:45] thomascarvalho commented on #334
Hi, there is no version '17.0.2' for 'react-router-dom', be careful to don't confuse with 'react'.

Also alephjs already integrates a router, all you have to do is using <a href="XXX">xxx</a>, the framework will detect if it's an internal or external link.

[2021-06-07 20:55] asbjornu commented on #334
Thanks! It's awsesome that Aleph provides its own router, but it's still much trouble and hard to decipher error messages related to dependencies. Here's a recent one:

[code]

[code]

[code]

[2021-06-07 23:34] asbjornu commented on #334
And now I'm trying to import `Application`:

[code]

but it too fails:

[code]

[2021-06-08 05:23] thomascarvalho commented on #334
@asbjornu I don't understand why you want to install oak or get Application, alephjs is a Zero Config framework. If you installed your project with the `aleph init app_name` command you don't have to do anything to have a front and a back that works.

`aleph dev` will start the app in development mode and expose api endpoint for all files in the directory /api, same for the frontend for the direct

[2021-06-08 09:11] asbjornu commented on #334
Thanks, @thomascarvalho. I think my reasoning for wanting instances of `Oak` or `Application` is beside the point. I agree that usually, neither of them should be required. But should it be so difficult to `import` dependencies regardless? Oak middleware exists and is desired (see #204), so I can only assume it's meant to be used?

https://github.com/alephjs/aleph.js/blob/2fa032203d75951adc3639b3d

[2021-06-08 13:46] thomascarvalho commented on #334
Yes, the documentation is outdated for the alpha version.

Regarding your import problems, I'm clearly not an expert with deno but you can try something like this I think :

`"oak/": "https://deno.land/x/oak/"

import { Context } from 'oak/mod.ts'
`

[2021-06-08 14:12] asbjornu commented on #334
Thanks @thomascarvalho! I managed to figure out a solution that didn't require Oak (wrt. `useRouter` in #333), though. How about Aleph's `Application` – ideas on how that should be imported and instantiated in alpha 33 of Aleph?

[2021-06-08 14:55] thomascarvalho commented on #334
For the import you can use `import { Application } from "https://deno.land/x/aleph@v0.3.0-alpha.33/server/app.ts";`

But I don't know how using Application like this, I have never tried.

[2021-06-08 19:51] asbjornu commented on #334
Thanks @thomascarvalho, really appreciated. However, that just gives me this error message again: https://github.com/alephjs/aleph.js/issues/334#issuecomment-856328686

[2021-06-08 20:43] shadowtime2000 commented on #334
Can I ask what is the use case for trying to import `Application`? `Application` is meant to be more of a private class used for organizing and structuring the internal code. If you want to use Oak middleware, you can use the custom server feature.

That just isn't relevant because `Application` is an internal class not meant to be used, that is why it isnt really exported @asbjornu.

[2021-06-09 21:19] shadowtime2000 commented on #334
@asbjornu Again, you probably shouldn't try to find an instance of `Application` to poke at. If you want to perform startup tasks, you should probably create a feature request issue because iirc we havent thought of that yet.

[2021-06-09 21:19] #334 closed

[2021-06-11 17:02] talentlessguy opened #337 "Fails to build with pages requesting API functions"
For example I have this page:

[code]

this is what happens when running `aleph build`:

[code]

## info

[code]

[2021-06-12 00:03] ije commented on #337
currently in ssg mode, the APIs code will be dropped, try `start` mode. next we will support apis in vercel and deno deploy

[2021-06-12 02:45] FallingSnow commented on #320
Even `aleph init hello && cd hello && aleph run dev` doesn't work.

[code]

[2021-06-12 09:18] talentlessguy commented on #337
@ije so `build` only support SSG?

[2021-06-12 09:19] shadowtime2000 commented on #337
Yes. `build` is for SSG.

[2021-06-12 09:20] talentlessguy commented on #337
got it, then closing it

[2021-06-12 09:20] #337 closed

[2021-06-12 11:07] hastebrot commented on #206
I see a chance, that something similar to module federation will be much easier and more elegant to implement with Deno and Aleph than with Node, Webpack 5 and NextJS 10.

I wonder if there could be an `export_map.json` in the future, that uses Deno to bundle modules on component-level (React components).

[2021-06-12 16:33] rumlyne commented on #90
Hey @thegaryroberts,

I've been trying to get emotion to work but keep running into the same error when calling css:

[code]

[code]

unsing current deno and aleph.

Is it still working for you?

[2021-06-13 00:12] ije commented on #206
@hastebrot  interest, i think this can be done very easy in deno since we use es modules via url, `export_map.json` looks great! at next stage we are going to support Vue, that can give us a good view about micro frontends

[2021-06-13 06:13] rumlyne commented on #333
Import maps are documented in both [deno](https://deno.land/manual@v1.11.0/linking_to_external_code/import_maps) and [aleph](https://alephjs.org/docs/basic-features/import-maps)

In your import_map.json you'll likely find the following entry:
` "framework/react": "https://deno.land/x/aleph@v0.3.0-alpha.33/framework/react/mod.ts" `
which can then be imported like you did (preferred):
`import { useR

[2021-06-14 16:42] kratapps commented on #317
Related to https://github.com/postui/esm.sh/issues/63

[2021-06-14 16:42] kratoon3 commented on #317
Related to https://github.com/postui/esm.sh/issues/63

[2021-06-16 03:02] anthhub opened #338 "Thanks for aleph"
I develop and deploy a full-stack website by aleph: http://liuma.top

Aleph is awesome!!!

[2021-06-16 05:24] #338 closed

[2021-06-21 19:07] m1cl opened #340 "cannot run new project. deno 1.9.2 aleph 0.2.28"
Check https://deno.land/x/aleph@v0.2.28/cli/dev.ts
error: Uncaught (in promise) TypeError: TS2345 [ERROR]: Argument of type 'TransformerFactory<SourceFile>' is not assignable to parameter of type 'TransformerFactory<SourceFile> | CustomTransformerFactory'.
  Type 'import("https://cdn.esm.sh/v41/typescript@4.2.4/lib/typescript.d.ts").TransformerFactory<import("https://cdn.esm.sh/v41/typescript@4.2.

[2021-06-26 15:24] ije commented on #340
sorry, pls try the **alpha.33**, **0.2.28** only can work in deno 1.6.3. and the 0.3 beta will land in next few days, and i'm updating the docs.

[2021-06-26 20:09] About7Sharks commented on #340
Can confirm that I ran into the same issue today

[2021-06-27 15:42] guiguan opened #341 "Scoped npm package support"
tried `aleph dev -r` with following `import_map.json`:

[code]

then got:

[code]

somehow, the scoped npm package `@emotion/react` version is messed up with `react` and `react-dom`

[2021-06-27 16:57] ije commented on #341
thanks, i just figure out what happend, to respect react version in import maps, i added a logic in https://github.com/alephjs/aleph.js/blob/master/server/config.ts#L213 that got wrong react version, i will fix it at next release, pls try to move `react` after `@emotion/react`

[2021-06-28 08:23] Bili-Jun commented on #340
alpha.xx has a typeError:

deno install --unstable -A -f -n aleph https://deno.land/x/aleph@v0.3.0-alpha.33/cli.ts
aleph init hello
aleph dev

===>

error: Uncaught (in promise) TypeError: Cannot convert undefined or null to object
    at Function.assign (<anonymous>)
    at https://deno.land/x/aleph@v0.3.0-alpha.32/server/helper.ts:24:8
    at <anonymous> (<anonymous>)

[2021-06-28 08:30] Bili-Jun commented on #340
➜ deno -V
deno 1.11.2
➜  hello aleph dev
Check https://deno.land/x/aleph@v0.3.0-alpha.32/cli.ts
Check https://deno.land/x/aleph@v0.3.0-alpha.32/cli/dev.ts
ERROR Aleph.js needs Deno 1.8.0+, please upgrade Deno.

??????

[2021-06-28 11:45] guiguan commented on #341
cool, cherrypicked your change in 136330698b10c37990b104118fa0af9651815e51 to v0.3.0-alpha.33, and then it works! Thank you

[2021-06-28 11:45] #341 closed

[2021-06-28 17:46] #333 closed

[2021-06-30 04:54] shadowtime2000 commented on #340
@Bili-Jun That was already solved from Aleph alpha .32

[2021-06-30 10:46] JuniorDEVed commented on #42
Can we use tailwind yet?

[2021-07-01 07:39] tsukhu commented on #206
if you compare this to single-spa where they also use import-maps for microfrontends.

For example: here the `my-deno-lib` is exposing a component `Thing`

[code]

And can be used like this

[code]

The problem currently is that I cannot get the import-maps to work `dynamically` . This is I should require to `restart` the server to make a change in the import map. Also HMR currently does not pick

[2021-07-02 12:28] halvardssm opened #344 "Aleph Docker image"
Hi! I would love to see an official Aleph Docker image to use for local development and for pipelines (CD/CI). If the consensus is that this is a good idea, I would be happy to contribute to the development of such a Docker image 💪🏻

[2021-07-03 08:12] Sfxrlz commented on #340
It didnt work with either alpha 31/32 or 32 for me I ended up using alpha-30 now its working

[2021-07-12 07:38] codehz opened #347 "support import_maps in @deno-types"
https://deno.land/x/aleph@v0.3.0-alpha.33/server/app.ts#L837
it seems doesn't process the import map

testing code:
[code]
import maps:
[code]
typings/fake.d.ts in root folder
[code]

Result:
no error found in vscode and deno extenison
failed message output invalid prefix `~/`

[2021-07-12 07:47] codehz opened #348 "got invalid cache filename if import url contains query parameter"
poc:

[code]

`aleph dev` got
[code]

but the real filename is `react-flip-toolkit@7.0.bm8tY2hlY2s.13.js`

[2021-07-13 18:23] hsjoberg opened #352 "Victory chart lib not working in v0.3.0-alpha.33"
Hey!
Since alpha 33, the [Victory](https://formidable.com/open-source/victory/) react chart lib is not working properly.

When attempting to render, the following error is thrown:

[code]

![image](https://user-images.githubusercontent.com/3824379/125503973-4e28f64e-a6ae-41fe-baea-8a0a52ae82e9.png)

# How to reproduce

* Start a new Aleph project
* Change the content of `pages/index.tsx` to this:

[2021-07-14 14:10] codehz opened #353 "support tls in dev mode"
some browser feature are only working in secure context (and localhost, but we may debug it in another device, so we cannot use localhost)

[2021-07-14 14:25] guiguan commented on #353
Probably use a caddy proxy https://caddyserver.com/

[2021-07-14 14:54] codehz commented on #353
yeah, it is a workaround, but since the start command has already support tls, i think it is possible to make dev command support too

[2021-07-16 19:26] #348 closed

[2021-07-16 19:32] ije commented on #347
swc doesn't check the types, includes `@deno-types`.
where you got the error message? aleph dev?

[2021-07-16 23:02] codehz commented on #347
ssr mode, since deno check deno-type even in js file...

[2021-07-17 04:04] ije commented on #347
i see, will fix this, thanks

[2021-07-17 04:09] ije commented on #353
will support this in beta.1 #321

[2021-07-17 06:07] hazae41 commented on #320
This is not the same bug

Mine builds but the context is undefined, yours doesn't build

[2021-07-17 19:59] ganondev commented on #302
I know this issue was closed, but I feel like most people would assume that a minor version difference wouldn't cause a breaking discrepancy like this. Is the necessity for the `--location` option something introduced in one of the deno upgrades, or was there some change in aleph.js that made it necessary but can be potentially rectified? Same thing for the compilation error in the OP. I wouldn't

[2021-07-18 03:43] shadowtime2000 commented on #302
@ganondev

The reason you wouldn't expect that is that Maven is (iirc) stable.

Aleph.js is not. We are in the early stages of the project, and so it should be expected that breaking changes will come.

Idk if you would really consider this even technically a bug in Deno because it seems to be kind of expected with requiring a `--location` flag for local storage use.

Lmk what you think though.

[2021-07-18 18:25] ganondev commented on #302
@shadowtime2000

I figured this would come up and I can accept that. However, I really meant for Maven to be the analogue of Deno, while Spring would be the analogue of Aleph.js. I meant to convey that I find it strange that a Deno minor increment would break the 'Getting Started' workflow as documented for Aleph.js.

However, reading through the issues around the `--location` option for Deno, it

[2021-07-30 21:46] shadowtime2000 commented on #59
[postui/esm.sh#89](https://github.com/postui/esm.sh/issues/89)

[2021-07-31 14:36] ije commented on #320
fixed in bad514f0546d57556e82bebc457245aef7a68cac, this is casued by the **HMR**: when you change your code the client hmr will re-import the changed module using a different URL(hash) that may make this problem because the `Context.Provider` and `Context.Consumer` is not a same object at all!

[2021-07-31 18:30] #320 closed

[2021-08-08 21:12] Lite5h4dow opened #354 "404 for dependancy during build"
static building my site fails in my pipeline because a dependency is unavailable and 404'ing
[code]
i cant build and deploy my website till this is fixed however I am unsure as to if this is an issue with aleph's build or the cdn.

[2021-08-09 01:35] ije commented on #354
thanks, i just updated esm.sh that has an issue to transpile cjs code, will fix this ASAP!

[2021-08-09 02:30] #354 closed

[2021-08-09 02:46] ije commented on #354
just updated esm.sh cjs-module-lexer server, pls try again

[2021-08-10 02:24] kittywantsbacon commented on #155
I could get working on this if no one else has started yet.

[2021-08-10 02:55] ije commented on #155
@kittywantsbacon cool, let's do it!

[2021-08-11 03:39] MichailVestnik opened #355 "Install error"
Hi!
1. deno install --unstable -A -f -n aleph https://deno.land/x/aleph@v0.2.28/cli.ts
2. aleph init hello
3. cd hello
4. aleph dev
Result:
![Снимок экрана от 2021-08-11 12-35-26](https://user-images.githubusercontent.com/87961969/128965931-d75f6e60-38ac-4da7-9ebd-85f65bc49746.png)

[2021-08-11 13:25] vincenzopalazzo commented on #355
I suggest to you pull the last version, the version on the site it is a little bit old.

[2021-08-16 20:50] jb-san opened #356 "staticPaths"
I saw that the option to specify [staticPaths has been removed](https://github.com/alephjs/aleph.js/commit/d82ec0b64fcd1f8c4631b5f6cb67b9f17f3c100c) , whats the plan for this or are you open for suggestions ?

I do think the getStaticPaths function that Nextjs provides is a good solution since if you have a [pageId].tsx page and want to build that X nr of that with different pageId it makes sense

[2021-08-17 06:18] ije commented on #356
in https://github.com/alephjs/aleph.js/pull/321 we added a `ssr` options

[2021-08-17 22:25] #356 closed

[2021-08-18 05:13] chasestubblefield opened #357 "TS2416 Error starting new project on deno 1.13.0 + alpha.33"
## Environment
* MacOS 11.4
* deno 1.13.0 (installed with Homebrew)

## Steps to reproduce
* Empty deno cache (`~/Library/Caches/deno`)
* Empty deno installation root (`~/.deno`)
* Install `aleph@v0.3.0-alpha.33` via `install.ts`
* Initialize new app via `aleph init`
* Run `aleph dev` in created directory

## Result
Following error occurs during `aleph init` (command still succeeds), but crashes `

[2021-08-18 05:44] chasestubblefield commented on #357
Apologies, deno 1.13.1 just released yesterday, and after upgrading and going through these same steps, no errors. No problem with aleph it seems. However that internal dependency on an old standard library seems like it could cause problems, but again, I'm new to deno so feel free to disregard. Cheers, can't wait to play with aleph!

[2021-08-18 05:44] #357 closed

[2021-08-19 08:01] vincenzopalazzo opened #358 "Inline style missed"
With the new version of aleph.js I receive the following error, any idea?

[code]

[2021-08-19 08:04] vincenzopalazzo commented on #344
I think have a docker image for each instance of aleph.js is cool, because I can pull directly the image without worry about anything.

The easy deno command, it is cool, but also the image it is cool too.

[2021-08-20 03:03] #355 closed

[2021-08-21 09:10] Lite5h4dow commented on #5
this probably isnt the best place to put this but could anyone give me some pointers on making a plugin for Aleph?

[2021-08-22 19:31] ije commented on #5
@Lite5h4dow the docs updating will land later includes the plugin writing guid!

[2021-08-22 19:32] Lite5h4dow commented on #5
Thankyou 😊

[2021-08-23 14:05] Lite5h4dow commented on #5
also with regards to the request body, is there going to be a way to get the json data from the body or are we stuck parsing a unit8array?

[2021-08-23 15:25] Lite5h4dow opened #361 "deno fmt ignore for generated files"
this isnt that much of an issue, just a nice to have if all the generated files had the `// deno-fmt-ignore` so that it doesn't go around formatting everything that's generated. this is more a problem with deno since it doesn't have a deno ignore file....

[2021-08-23 18:50] #304 closed

[2021-08-23 18:50] #323 closed

[2021-08-23 19:27] ije commented on #5
@Lite5h4dow https://alephjs.org/docs/api-reference/plugin-api it is

[2021-08-23 19:29] ije commented on #42
now we can write plugin for alephjs to support tailwind: https://alephjs.org/docs/api-reference/plugin-api#tailwind-jit-for-jsx

[2021-08-23 19:48] aadamsx commented on #42
Thanks @ije ,but can we get a project repo exaple of tailwind working with Aleph -- complete with configurations?

[2021-08-23 20:20] Lite5h4dow opened #362 "how would i run something at server level"
this is probably a dumb question, but say I wanted to generate a key at server startup would I need to define a plugin for this or is there just somewhere I can just put a js file to run code at server startup? I want to define a JWT token key at startup and have it persist so I can verify later, so it makes no sense to put this in an API call as It won't persist between calls. is there a clean wa

[2021-08-23 20:28] Lite5h4dow commented on #344
meh, i dont mind. i can version my docker file with the deno version so I'm not too bothered.

[2021-08-23 20:35] Lite5h4dow commented on #362
i just realised i can make a light plugin in `./aleph.config.ts`

[2021-08-23 20:35] #362 closed

[2021-08-23 20:36] Lite5h4dow opened #363 "Export `Plugin` from aleph/types.ts"
writing a small pr for this now

[2021-08-23 21:58] ije commented on #42
@aadamsx will add it later, also need to check out how to compile css for tailwind in deno, currently the compiler records all the static class names in jsx files

[2021-08-23 22:03] ije commented on #363
the types.ts has been rename to `types.d.ts`, pls update your import maps

[2021-08-23 22:05] Lite5h4dow commented on #363
thanks, i also have another question that isn't issue worthy but don't know where to ask, can I ask here? @ije

[2021-08-23 22:06] ije commented on #363
@Lite5h4dow welcome to join our discord server

[2021-08-23 22:16] Lite5h4dow commented on #363
@ije where is it? could i get an invite or link?

[2021-08-23 22:30] ije commented on #155
@kittywantsbacon great job

[2021-08-24 04:26] ije commented on #155
do you think it's ready to merge?

[2021-08-24 04:34] ije commented on #155
@kittywantsbacon do you think `aleph importmap -a react --npm` is better?

[2021-08-24 04:35] ije commented on #358
can not repeat this in beta.2

[2021-08-24 04:35] ije commented on #353
added in beta.1

[2021-08-24 04:35] #353 closed

[2021-08-24 04:36] ije commented on #340
try beta.1 with deno 1.13

[2021-08-24 04:38] ije commented on #325
@borsemayur2  `aleph dev -r` to clean cache may can help

[2021-08-24 04:40] ije commented on #319
@hazae41 I'm wondering in 0.3 beta still has this problem?

[2021-08-24 04:43] ije commented on #300
`srcDir` option has been removed, but you still can put code in `src` directory that works as well

[2021-08-24 04:43] #300 closed

[2021-08-24 04:44] ije commented on #308
i am going to close this since custom `srcDir` option has been removed in beta branch

[2021-08-24 04:44] #308 closed

[2021-08-24 04:46] ije commented on #299
i don't think so, api dir is not required at all

[2021-08-24 04:46] ije commented on #294
i guss this has been fixed in beta branch

[2021-08-24 04:46] #294 closed

[2021-08-24 04:47] ije commented on #270
std server has been removed in beta.1

[2021-08-24 04:47] #270 closed

[2021-08-24 04:50] ije commented on #269
this should be handle in compiler

[2021-08-24 04:52] ije commented on #233
the server accept a signal object to stop the server, pls check https://github.com/alephjs/aleph.js/blob/374c93933c7b992466f0472995707c5e95eb77f6/server/server.ts#L304

[2021-08-24 04:52] #233 closed

[2021-08-24 04:54] ije commented on #223
now the compiler will follow the react version in import map, pls try the beta version, thanks

[2021-08-24 04:54] #223 closed

[2021-08-24 04:55] #218 closed

[2021-08-24 04:56] ije commented on #217
beta version should fixed this since the css loader has been rewrited

[2021-08-24 05:01] ije commented on #317
this has been fixed

[2021-08-24 14:56] hazae41 opened #364 "RFC: getInitialProps/getClientSideProps"
IMHO getInitialProps is very useful but complex to re-implement properly and to bundle properly

What I suggest is `getServerSideProps`, which we already have, combined with a new function named `getClientSideProps`.

This function would generate the props client-side, just like getInitialProps, but without being compatible with the server

- First page load:
  `getServerSideProps` is called
- Whe

[2021-08-24 15:03] hazae41 commented on #364
The problem is that `useDeno` is a hook that only accepts one function

[2021-08-24 15:57] aadamsx commented on #42
@ije great! you get this all working and complied and provide a tailwind demo and I'll take another look at using Aleph!

[2021-08-24 18:46] kittywantsbacon commented on #155
I'm gonna make some more changes and then make a PR later this week.

For the command format I think either would be fine, but it should be consistent. So if we use ```@npm/``` then we should also have ```@skypack/``` and ```@nest/``` or have them all as flags.

[2021-08-25 15:22] aadamsx opened #366 "Discord channel"
Please consider adding a discord channel for this project.  Will help with community building by helping each other with questions/issues.

[2021-08-25 15:52] shadowtime2000 commented on #366
@aadamsx We already  have a [discord server](https://discord.com/invite/pWGdS7sAqD) that is linked in the README.

[2021-08-25 15:52] #366 closed

[2021-08-28 06:34] ije commented on #5
i implemented this forked from @lucacasonato prior works at https://github.com/alephjs/vercel-aleph

[2021-08-28 13:28] AbuHafsa opened #368 "Failed loading react/components/Head.js on Firefox (Ubuntu 20.04 LTS)"
I have this very strange issue where I run
[code]
and then go on Firefox (Ubuntu 20.04 LTS) to launch the page. I receive ` 404 http://localhost:8080/_aleph/-/deno.land/x/aleph@v0.3.0-beta.4/framework/react/components/Head.js` in the console. I tried launching the page on Chrome everything seems to be fine.

I decided to debug a bit further. I found out, when the pre-compiled js files are being lo

[2021-08-28 18:20] ije commented on #368
@AbuHafsa wired since chrome can works fine, try to disable the cache?

[2021-08-29 04:37] AbuHafsa commented on #368
@ije I thought so but I made sure it was disabled and still encountering the same error. Are you able to re-produce it, to make sure it is a common case?

[2021-08-29 05:04] ije commented on #368
@AbuHafsa thanks, i will try later!

[2021-08-29 14:17] talentlessguy commented on #364
there's `ssr` now, I don't think `getServerSideProps` makes sense anymore

for example:

[code]

[2021-08-29 14:20] talentlessguy opened #369 "Cache more in production mode"
At the moment there's static caching but it's not set properly, in a way that stuff still gets requested every time.

`Cache-Control` with `aleph start` and Cloudflare is set `to max-age=14400`

IMO, it should be set to `max-age=14400, immutable` in production, for the best performance in prod.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#revalidation_and_reloading

[2021-08-29 16:44] ije commented on #369
should consider the updating, vercel set `Cache-Control` to `public, max-age=0, must-revalidate`, then revalidate `Etag` or `Last-Modified`

[2021-08-29 16:46] ije commented on #369
and your can change this in `aleph.config.ts`:

[code]

[2021-08-29 16:49] ije commented on #369
ref 3c5637d0ef4dc4d8acd95c556ddc5ce946cff06a

[2021-08-30 01:36] wickedev opened #371 "Is aleph.config.ts rewrites property not support external url yet?"
CRA supports proxies to backends in development mode. how can I make the proxy the same in aleph.js? Next.js seems to support external URLs through rewrites. thank you for awesome project.

https://gist.github.com/wickedev/8dfbc026e2142a5e82810a2d7a7156a9#file-setupproxy-js
https://create-react-app.dev/docs/proxying-api-requests-in-development
https://nextjs.org/docs/api-reference/next.config.js/r

[2021-08-30 05:35] ije commented on #371
we have a plan to improve this, currently we just implement a minimum "rewrites" feature to map pathnames, external URLs will be supported in the future.

There is an example i imagine:

[code]

[2021-08-30 05:58] #371 closed

[2021-08-30 12:44] ije commented on #332
i decide to create new module to support react testing in Deno with esm.sh/react!

[2021-08-30 13:12] ije commented on #332
it looks like:

[code]

use https://deno.land/x/puppeteer@9.0.1 as the dom observer

[2021-08-30 16:33] douglasduteil commented on #332
Can't wait for this https://github.com/alephjs/obscura @ije ;)

[2021-08-30 18:52] ije commented on #332
just tried, and it seem works (WIP)

<img width="700" alt="Screenshot 2021-08-31 at 02 49 44" src="https://user-images.githubusercontent.com/2883484/131389541-fd24afe3-38cc-49d6-84e5-87c306896fac.png">
<img width="731" alt="Screenshot 2021-08-31 at 02 50 03" src="https://user-images.githubusercontent.com/2883484/131389552-5d0f0d4a-cd32-4022-8a86-cab5c5cc81ef.png">

[2021-08-31 20:44] MarkBennett commented on #298
I saw this after following the getting started and running `aleph init`. It turns out I forgot to change into the directory that `aleph init` created. Once I did that the 404 went away and it worked as expected.

Is it possible this is what happened for you as well @hazae41?

[2021-08-31 22:18] hazae41 commented on #298
idk

[2021-09-01 18:21] ije commented on #42
Just added a tailwindcss example in https://github.com/alephjs/aleph.js/tree/master/examples/tailwindcss, that is using the [windicss plugin](https://deno.land/x/aleph_plugin_windicss@v0.0.1)

[2021-09-01 22:20] talentlessguy commented on #352
Is the issue still present with latest beta?

[2021-09-02 04:22] Acen commented on #340
And we're working.

Cheers.

[2021-09-04 07:53] TjeuKayim opened #376 "Enable type checking"
If the ts or tsx source code contains type errors, they are ignored by `aleph dev` and `aleph build`.

### Steps to reproduce

Create this `about.tsx` page that assigns a number to a string type:

[code]

Run `aleph build`. I expected the build to fail, but it only logged `INFO Done in 884ms`

Do I have to run a separate command for type checking?

At least the integration with Visual Studio Code

[2021-09-04 11:35] ije commented on #376
We are using **swc** to transpile code to resolve jsx/import-maps..., that just strips the types, but seems it will support type-check in the future, please check https://github.com/swc-project/swc/issues/571

[2021-09-04 11:36] #369 closed

[2021-09-04 17:27] elycheikhsmail opened #377 "missing example with forms events"
the types for event needs somes examples to be more clear in aleleph/examples section

[2021-09-04 17:31] elycheikhsmail opened #378 "what is missing in alephjs for usage in prod ?"
what is missing in alephjs for usage in prod ? this may help dev to cotrube to aleph dev

[2021-09-04 18:04] hazae41 commented on #378
it works well, but there may be some issues to workaround for particular contexts

[2021-09-04 18:40] elycheikhsmail commented on #378
thanks, can an example ?for  something not work proply in production in some context

[2021-09-04 20:22] aadamsx commented on #378
I would like to know what’s missing as well.

[2021-09-05 03:03] ije commented on #378
I think this has been resolved.
I'm trying to use it in my business project to find out what is missing, what needs to implement, then i will release the 0.3-rc.

[2021-09-05 10:31] c0per commented on #232
I still got this error v0.3.0-beta.10 using Material-ui.

[2021-09-05 10:55] c0per commented on #75
I'm facing the same issue with Material-UI. I replaced "external" to "deps", and it worked. Maybe the "external" hasn't been implemented yet.

[2021-09-05 10:55] ije commented on #232
@c0per try to remove the cache with command `aleph dev -r`

[2021-09-05 10:58] c0per commented on #232
I tried that. It didn't work.
But I did make it work by https://github.com/alephjs/aleph.js/issues/75#issuecomment-913130086.

Is it still because "two reacts" pulled when importing material-ui? The deps option in esm.sh seems to solve that problem.

[2021-09-05 11:00] ije commented on #75
@c0per `?external` has been moved to `?deps`

[2021-09-05 18:53] elycheikhsmail commented on #378
thanks you, please feedback here, or give link to your post in the future

[2021-09-06 14:22] floydjones1 commented on #376
@ije traspiling is different from typechecking. swc works correctly when it just strips typescript code, because that's how it works.

[2021-09-06 19:15] talentlessguy opened #379 "`AppProps` type"
ref: https://alephjs.org/docs/advanced-features/custom-app

I couldn't find `AppProps` anywhere in the repo so I think they should be added, like this:

[code]

[2021-09-07 11:43] #379 closed

[2021-09-10 00:26] kotx commented on #164
This seems to be happening on the latest version as well- but with a different part of the code.
[code]
produces
`Uncaught SyntaxError: Invalid hexadecimal escape sequence`

[2021-09-10 01:13] ije commented on #164
@kotx thanks, i will look into it!

[2021-09-11 04:10] xencodes opened #384 "init command failed to run"
I just installed Deno and trying to play with Aleph but I encountered an error which running the following command

`aleph init`

## Logs

Download https://deno.land/x/aleph@v0.3.0-beta.12/commands/init.ts
Download https://deno.land/x/aleph@v0.3.0-beta.12/server/compress.ts
Download https://deno.land/x/aleph@v0.3.0-beta.12/shared/constants.ts
Download https://deno.land/std@0.106.0/io/util.ts
Downl

[2021-09-11 04:11] #384 closed

[2021-09-11 13:23] elycheikhsmail opened #385 "how make page protected by bareer token with aleph ?"
in fact I don't see in alephjs doc how to extract headers from incoming request

[2021-09-11 14:11] ije commented on #385
@elycheikhsmail you mean in pages?

[2021-09-11 15:12] akaFTS opened #386 "Import JSON as module"
Importing JSON files as modules causes a deno-ts error:

[code]

[code]

Seems to be just a matter of adding the above flag to Aleph's tsconfig.

[2021-09-11 15:31] elycheikhsmail commented on #385
yes

[2021-09-11 17:05] ije commented on #385
#364 there is a discussion about `getServerSideProps` which currently we doesn't support

[2021-09-11 17:41] elycheikhsmail commented on #385
thanks

[2021-09-12 13:11] you-5805 opened #388 "Fail to import remote CSS on production build"
I see similar(?) issues have been posted several times and ended because the beta was expected to fix it, but it seem not to be fixed.

## Versions
aleph.js 0.3.0-beta.12
deno 1.13.2
v8 9.3.345.11
typescript 4.3.5

## Steps to reproduce
1. Create aleph project
[code]
2. Add import statement on app.tsx
[code]
3. Build and Serve
[code]
4. See Browser Console (I have no errors in the shell on any of

[2021-09-12 14:27] shapirodaniel opened #389 "_aleph/index/main.js import throws "invalid hexadecimal escape sequence""
hi aleph! having a bit of trouble sorting out an uncaught syntax error

setup:

1. initialize app with <code>aleph dev</code>
2. navigate to localhost:8080
3. see the following error

[code]

in main.js:

[code]

local environment:
- Microsoft Windows 10 Enterprise Version 10.0.19042 Build 19042
- aleph.js v0.3.0-beta.12
- deno 1.13.2 (release, x86_64-pc-windows-msvc)
- v8 9.3.345.11
- typescript

[2021-09-13 17:22] Lite5h4dow opened #390 "error: Uncaught (in promise) ReferenceError: $RefreshReg$ is not defined"
im getting the following error
[code]

when running the latest version of the beta, however this started happening on 3.0.0 beta.2

the issue is, that the function name in that line, is not at the position it thinks it is in the code.
[code]

line 40 is all the way below this *inside* another function

[code]
none of this is front end code

[2021-09-14 10:14] #385 closed

[2021-09-15 16:10] Lite5h4dow opened #391 "error: Uncaught (in promise) TypeError: TS2801 [ERROR]: This condition will always return true since this 'Promise<boolean>' is always defined."
[code]

[2021-09-16 03:14] borsemayur2 opened #392 "[v0.3.0-beta.12] Getting errors with init command"
I'm getting following errors while using `aleph init` command on WSL

Deno: 1.14.0

![image](https://user-images.githubusercontent.com/47341981/133543490-72918122-a03b-4ea3-92b0-7f4e43d2b566.png)

[2021-09-16 08:21] ije commented on #391
i will release the bugfix later, thanks 🙏

[2021-09-16 14:44] getspooky commented on #392
Duplicated https://github.com/alephjs/aleph.js/issues/391. thanks for reporting this problem.

[2021-09-16 14:44] #392 closed

[2021-09-17 01:19] ije commented on #391
fixed in beta.13, pls upgrade

[2021-09-17 01:22] ije commented on #390
@Lite5h4dow this has been fixed, since aleph.js don't compile api module with the aleph.js compiler now

[2021-09-17 02:46] kotx commented on #391
Hi, thanks for fixing this issue!
Seems like there are still some issues with beta.13 though. I'm getting 177 errors when initializing a new project. They all look something like this:
[code]

[2021-09-17 10:08] getspooky opened #395 "Error:Uncaught (in promise) TypeError: The requested module '../server/compress.ts' does not provide an export named 'deno_x_brotli'"
The error is thrown when i run `deno run --allow-all ./cli.ts init`

[code]

[2021-09-17 15:09] dfang opened #396 "incompatible with formik"
with this [example code](https://formik.org/docs/examples/basic), i got this error

[code]

[2021-09-18 00:48] #391 closed

[2021-09-18 00:56] Lite5h4dow opened #398 "Server somehow miss identifying function"
i did some preliminary debug for you since i found this interesting. im getting the following response from the server after probing a function that used to work fine pre beta.14

[code]

i follow the same syntax but knew this wasnt an error from my end. so i searched the Aleph.js code and found `server/server.ts:247`. surrounding code is as follows.

[code]

so i copied the `isFunction` util from

[2021-09-18 01:04] ije commented on #398
can you pls post your API code?

[2021-09-18 01:04] Lite5h4dow commented on #398
@ije just did, might need a refresh

[2021-09-18 01:13] #390 closed

[2021-09-18 01:19] ije commented on #398
@Lite5h4dow pls use  `export const handler` instead of export default, or the vercel function would not work

[2021-09-18 01:22] Lite5h4dow commented on #398
ok ill modify it, but export default was something i used in nextjs, has export default stopped being the default method?

[2021-09-18 01:23] Lite5h4dow commented on #398
thanks for the clarification on discord.
his reply:
[code]

[2021-09-18 01:31] Lite5h4dow commented on #398
i changed the code and it still returns the same thing

[2021-09-18 01:32] Lite5h4dow commented on #398
this is how it looks now
`api/users/create.ts`
[code]

[2021-09-18 01:33] Lite5h4dow commented on #398
![Screenshot 2021-09-18 at 02 33 16](https://user-images.githubusercontent.com/18059545/133867794-6500de56-7e00-4d75-ba2e-62a8281f5cb6.png)

[2021-09-18 02:03] ije commented on #398
i tried your example, seems it works fine...

<img width="714" alt="Screenshot 2021-09-18 at 10 02 05" src="https://user-images.githubusercontent.com/2883484/133868679-0fb9db7a-445c-433e-b0dd-9915b7e4d2e7.png">

<img width="417" alt="Screenshot 2021-09-18 at 10 02 17" src="https://user-images.githubusercontent.com/2883484/133868684-a8b731e5-c8ea-4b49-861f-59c0f3a4091c.png">

[2021-09-18 02:07] ije commented on #395
i can't repeat it
<img width="729" alt="Screenshot 2021-09-18 at 10 07 18" src="https://user-images.githubusercontent.com/2883484/133868807-1f637524-7329-4d6b-87b5-caed6d485589.png">

[2021-09-18 02:28] ije commented on #386
because deno doesn't support `json` as module ye, check https://github.com/denoland/deno/issues/7623

[2021-09-18 02:31] ije commented on #386
but in your case i guess you can add a json file loader like:
[code]

[2021-09-18 02:39] #389 closed

[2021-09-18 02:41] ije commented on #386
anyway, i added a `json-loader` here: https://github.com/alephjs/aleph.js/blob/master/plugins/json.ts

[2021-09-18 02:43] ije commented on #389
can you please try the **beta.15**? i think it has be fixed

[2021-09-18 11:39] dfang commented on #396
[code]

it works if i change `https://cdn.skypack.dev/formik` to `https://esm.sh/formik` and `https://cdn.skypack.dev/yup` to `https://esm.sh/yup `

[2021-09-18 11:54] ije commented on #396
because aleph is using esm.sh version of react, but https://cdn.skypack.dev/formik depends on react from skypack

[2021-09-18 12:38] getspooky commented on #395
@ije make to switch to `master branch`

[2021-09-18 14:52] akaFTS commented on #386
Thanks. Would you be interested in a YAML loader as well? I can send a PR.

[2021-09-18 23:22] ije commented on #386
cool, can you please create a deno module? like https://github.com/ije/aleph-plugin-windicss, then add it to https://github.com/alephjs/alephjs.org/blob/master/pages/docs/plugins/community-plugins.md, if you're interested, thanks @akaFTS

[2021-09-19 05:01] ije commented on #164
fixed in latest release

[2021-09-19 05:01] #164 closed

[2021-09-20 16:41] ije commented on #364
what if we allow to access the `Req` in `useDeno` hook?, for example:

[code]

in `ssr` options:

[code]

[2021-09-20 16:52] talentlessguy commented on #364
@ije second options makes more sense since it already exposes request parameters

[2021-09-20 17:20] ije commented on #388
this has be fixed in beta.17, please `aleph upgrade`, i recommmand you use the `windicss` is working in Aleph.js with _tree-shaking_: https://deno.land/x/aleph_plugin_windicss@v0.0.2

[2021-09-20 17:20] #388 closed

[2021-09-20 17:21] ije commented on #217
close ref #388

[2021-09-20 17:21] #217 closed

[2021-09-20 17:22] ije commented on #126
close ref #388

[2021-09-20 17:22] #126 closed

[2021-09-20 17:23] ije commented on #134
close ref #388

[2021-09-20 17:23] #134 closed

[2021-09-20 17:24] ije commented on #130
close ref #388

[2021-09-20 17:24] #130 closed

[2021-09-20 17:27] ije commented on #388
also added an example in here: https://github.com/alephjs/aleph.js/tree/master/examples/remote-css

[2021-09-20 18:48] hazae41 commented on #364
The useDeno hook is very clean to use

[2021-09-20 18:49] hazae41 commented on #364
We can put params in req

[2021-09-20 20:52] ije commented on #364
updated, and rename **`revalidate`** to **`ttl`**, what do you think? @hazae41 @talentlessguy

[2021-09-22 05:02] tatemz opened #401 "Can SSR pages access to request?"
How would one go about performing an authenticated backend request using the `ssr` feature for pages? It seems that this would be impossible without access to cookies or other request headers.

Below is an example of a possible additional parameter to the `props` function. Am I off base here?

[code]

[2021-09-22 05:11] ije commented on #401
i am working on it, check https://github.com/alephjs/aleph.js/issues/364

[2021-09-23 15:42] #22 closed

[2021-09-23 16:17] talentlessguy commented on #396
should this be closed? if esm.sh works then problem can be considered as solved

[2021-09-23 16:18] talentlessguy commented on #340
can this be closed? latest 0.3 beta works fine on deno 1.14

[2021-09-24 11:31] #340 closed

[2021-09-24 11:31] #396 closed

[2021-09-24 16:50] ije commented on #364
added in **beta.18**

[2021-09-24 16:50] #364 closed

[2021-09-24 16:50] ije commented on #401
supported in **beta.18**

[2021-09-24 18:50] you-5805 commented on #388
@ije
I solved this by using WindiCSS plugin after the framework upgrade.
Thank you for replying and your awesome plugin!

[2021-09-25 20:58] akaFTS commented on #386
In fact, `deno-ts` still complains when importing a JSON module using the plugin. Any way to fix that?

[2021-09-26 00:02] akaFTS opened #405 ""window" and "e.target" have type issues"
Two very common use cases in React are reporting type issues on Aleph/Deno. The first one is `window.open`:

[code]
[code]

And the other one is "e.target.value" when handling uncontrolled inputs:

[code]

[code]

Not sure if those issues are related to Aleph or Deno itself, but I couldn't find any solutions online.

[2021-09-26 00:15] akaFTS opened #406 "Auto-generated app.tsx has explicit any"
The entrypoint generated by `aleph init` contains some `any` props, and `deno-lint` does not like it:

[code]

Any plans on changing this?

[2021-09-26 01:23] ije commented on #405
check this https://deno.land/manual@v1.14.1/typescript/configuration#targeting-deno-and-the-browser

[2021-09-26 01:44] akaFTS commented on #405
Wouldn't it make sense to add those flags to the tsconfig file inside Aleph? Stuff like reading input values using `e.target.value` are very common in React, so perhaps Aleph should handle appropriate typing for those.

[2021-09-26 02:47] ije commented on #405
i added the config in https://github.com/alephjs/aleph.js/commit/7ec39d8e7a79ec883f80d6c4e1c124617c9ec9bf

[2021-09-26 02:58] ije commented on #406
updated it to

[code]

[2021-09-26 14:26] ije commented on #406
updated the `init` template to remove the `any` types

[2021-09-26 14:26] #406 closed

[2021-09-26 14:26] #401 closed

[2021-09-26 14:27] #405 closed

[2021-09-26 14:27] #398 closed

[2021-09-26 16:35] akaFTS opened #407 "aleph build hangs after finishing"
After the very quick fix of alephjs/esm.sh#181 by @ije (you are a living legend, thanks!), I now noticed that the `aleph build` commands does not exit after finishing, requiring a manual Ctrl+C to go back to terminal. This causes automated CI/CD builds like GitHub Actions to hang forever.

[2021-10-01 14:52] tatemz opened #409 "Support Deno Deploy?"
Aleph applications won't work in Deno Deploy, but it would be a great opportunity to be compatible.

https://github.com/denoland/deploy_feedback/issues/98#issuecomment-932050543

Here's an example of how I wrote a mod.ts to test out Deno Deploy:

[code]

[2021-10-02 18:13] calmery opened #411 "Build fails if `es2021` is specified as `build.target` in aleph.config.ts"
[code]

[code]

This code seems to be the problem.

https://github.com/alephjs/aleph.js/blob/b2811446c13f38ba86c2d9b18ecaf7b6b63735ec/bundler/mod.ts#L234

It works if you modify it as follows

[code]

But it's not smart...

[2021-10-03 00:51] tatemz opened #413 "Unable to use UUID v4 from deno standard library in ssr definition"
The following `ssr` definition fails when building an aleph application

[code]

The following error log is output.

[code]

[2021-10-03 00:52] tatemz commented on #413
Maybe this is not an error specific to https://deno.land/std@0.109.0/uuid/mod.ts. 🤷 I'll keep debugging.

[2021-10-03 16:28] tatemz commented on #252
@vsDizzy  what was your `sourceMapPathOverrides` configuration? I'm curious if this issue is also related to https://github.com/denoland/deno/issues/11874

[2021-10-03 16:38] tatemz commented on #377
Are you looking for React form examples in general? Or are you, more specifically, looking for how to have a strongly typed form handler? Or something different altogether?

I have had no issues with event handling like the example below:

[code]

[2021-10-04 16:04] elycheikhsmail commented on #377
thank you

[2021-10-07 09:17] shreyashsaitwal opened #414 "`aleph start` fails to start the app"
### Description

Running `aleph start` fails with the following output:
[code]

### How to reproduce?

To reproduce the issue, simply create a new Aleph app using `aleph init` and try to start it using `aleph start`.

### Other details

OS: Windows 11 (Build: `22000.168`)
Deno version: `1.14.3`
Aleph version: `v0.3.0-beta.19`

[2021-10-07 19:34] tiptenbrink opened #415 "Import map failing when running uninstalled using deno run ../start.ts"
When running Aleph.js in a Docker container and using a bash file with the start command as entrypoint, it no longer seems to correctly use import maps. I wanted to use Aleph.js uninstalled on the standard deno docker image and used the following command to start the server:

[code]

The server starts fine, but the import map does not work.

Here is the error:

I access the API: `root@f12a79749f84

[2021-10-09 11:38] dfang opened #416 "aleph not support react 18 alpha?"
tried

[code]
or

[code]

in import_map.json,

but {React.version} still prints 17.02

[2021-10-09 12:05] ije commented on #413
@tatemz please try to update the default (es2015) build target to es2018 or higher since the esbuild can't transform the **async generator** expression, i will improve the error outputting

[2021-10-09 12:16] ije commented on #416
i found the bug here: https://github.com/alephjs/aleph.js/blob/ac6ca05e600f72aa741ee952ab2ce1df663ede18/server/config.ts#L196, will fix it asap thanks

[2021-10-09 12:22] ije commented on #409
since deno deploy doesn't support the full file system API, aleph's cache and build system can not work, i am trying to create  fs interface system to support that in #374 , but a bit busy

[2021-10-09 22:16] tiptenbrink commented on #415
Ah that makes sense. I just looked at the [Deployment docs](https://alephjs.org/docs/deployment) and assumed it would work the same. Maybe a good idea to add a caveat there that if using it like that you have to supply the import map manually?

[2021-10-10 04:06] akaFTS commented on #407
Let's keep an eye on that issue to see if it's related.

[2021-10-10 09:15] johnwhitefalcon commented on #44
Hello i have the same problem as this and i havent been able to work out how to solve it. Can you let me know how this was fixed. thanks

[2021-10-11 00:30] tv42 opened #417 "src dir breaks CSS @import"
Following https://github.com/alephjs/aleph.js/tree/master/examples/with-src-dir/src, I am led to believe I can put source code in `src` directory.

This breaks CSS files with @import. The @import is not interpreted, and shows up literally in the result, with warnings about trying to read the imported CSS file in the wrong place.

[code]

[code]

Leaving `style` outside of `src` doesn't really work

[2021-10-11 09:42] #377 closed

[2021-10-11 11:16] tiptenbrink opened #418 "Bundler attemps incorrect download link when running in production"
[code]

This is an error in my current [project](https://github.com/tiptenbrink/statusdeploy/blob/a21402879b086d67eae2cbdf6c0087f90c0dfd53/sd/api/deploy/runs.ts).

**This only happens when running in production mode**, not when using `aleph dev`. It seems like it incorrectly generated the URL to download, because if you look at the index.ts it is simply importing external.ts, there is no such thin

[2021-10-11 20:07] akaFTS opened #419 "Hot reloading broken for CSS Modules"
As the title says, changes in CSS Modules files do not hot reload to the browser in `aleph dev`.  `Cmd + R` is also not enough; you need to kill the process and start again for it to pick up the changes, making CSS Modules pretty much unfeasible to use. This happens both with the standard import and the "JSX Magic" one.

Normal CSS works normally.

[2021-10-12 04:50] ije commented on #418
@tiptenbrink thanks, i will look into it

[2021-10-12 10:48] johnwhitefalcon commented on #44
Hi ije can you let me know if you can think of solution to this (i can send screenshot of the google console if that helps) thanks

[2021-10-12 10:56] ije commented on #44
@johnwhitefalcon  can you pls post the content from http://localhost:3000/_aleph/main.js

[2021-10-13 07:47] shreyashsaitwal commented on #414
Do I need to provide any other info to help triage this issue?

[2021-10-13 14:58] ije commented on #419
@akaFTS thanks, i will figure out

[2021-10-13 16:19] #416 closed

[2021-10-15 23:57] johnwhitefalcon commented on #44
Hi ije can you recommend a resource i can use to understand how to do this "@johnwhitefalcon normally, the routes should include the routes info from pages/ dir, ensure the cwd includes the pages dir with index.tsx at less"   thanks

[2021-10-16 10:40] johnwhitefalcon commented on #44
Hi ije i have tried a for different directories. initially i had my aleph files inside a folder on my desktop and i have moved them to a folder in my C:\ . Inside VScode i have tried running aleph from inside their folder as well as outside the folder where aleph is saved. I always get the not found 404 error. I have also checked that aleph is installed properly and updated the version of aleph. I

[2021-10-16 16:36] akaFTS commented on #419
Can I help you in some way with this issue? It is a full blocker for my ongoing project with Aleph.

[2021-10-19 08:25] johnwhitefalcon commented on #44
Hi ije is there any other way i can solve the not found 404 error with aleph. Will uninstalling aleph and reinstalling it work. What do you think would be the chance that i would get this error if i buy a new computer and install aleph from scratch??   thanks

[2021-10-30 08:55] johnwhitefalcon commented on #44
Hi ije did you have a chance to test this on virtualbox to see why i am getting this error   thanks

[2021-10-30 18:08] akaFTS commented on #386
But I assume Deno also does not have a built-in CSS importer and still deno-ts does not complain when you import those in Aleph. Is there no way to customize it and whitelist some extensions?

Also as Aleph evolves and other third-party loaders are added (i.e. GraphQL or YAML), they will also face the same issue and adding @ts-ignore to everything is very cumbersome.

[2021-10-30 21:26] hazae41 commented on #386
I think that may be because the CSS import doesn't have a name:

[code]

While the JSON does have a name:

[code]

[2021-10-30 22:15] josh-hemphill commented on #5
Is Vue/pluggable-frameworks still a v0.4.0 goal? There's no specific issue for it that I can find, so there's nothing listed under milestones about it either, just passing mentions.

[2021-11-04 02:06] KaminoRyo commented on #17
@ije
I am also Japanese, but I agree with the name change.
There will be fatal problems in the spread and development (marketing) in Japan.
Also, because of the incident in the 90's, the reaction differs depending on the generation. It's a nightmare name for people in their thirties and above.
It's like a Japanese Muslim (almost nonexistent) creating a framework called "Al-Qaida.js".
Do you still

[2021-11-04 07:53] mohsenkhanpour commented on #344
Since with deno, Aleph can be compiled a minimal Alpine + Aleph image would be super fast to deploy, and would be suitable for resource limited servers.

[2021-11-04 07:55] mohsenkhanpour commented on #419
@akaFTS  Have you taken a look into the issue? If you have a workaround, please submit a PR.

[2021-11-04 08:01] mohsenkhanpour commented on #205
When webview is stable in Deno, web apps can be compiled into desktop apps pretty much easily regardless of the front-end framework (React, Vue, etc.)

[2021-11-04 08:04] mohsenkhanpour commented on #49
Closing since this is not really an issue.
Follow the discussion here:
https://github.com/alephjs/aleph.js/discussions/426

[2021-11-04 08:04] #49 closed

[2021-11-04 17:18] akaFTS commented on #419
I just glanced at the code and couldn't find any obvious issue. If @ije or other active contributors are unable to look into this issue in the near future, I'll try to investigate deeper.

[2021-11-06 03:55] TiKevin83 commented on #414
same issue here, can't start a freshly init aleph app and the debug log shows that duplication in the path to the project directory.

[2021-11-07 05:44] sno2 commented on #414
I have pinpointed the error to [~/bundler/mod.ts](https://github.com/alephjs/aleph.js/blob/master/bundler/mod.ts#L290-L304) where we use ESBuild when it is trying to build the vendor files in [~/bundler/mod.ts](https://github.com/alephjs/aleph.js/blob/master/bundler/mod.ts#L80-L84).  It is odd, though, because the input paths are the following when I logged them out in my valid project:

[code]

T

[2021-11-08 06:39] guobin211 opened #427 "init project failed"
Mac init project error，Could not use a template named hello-world. Please check your spelling and try again
![图片](https://user-images.githubusercontent.com/30451385/140695252-2f379957-896c-4e75-affe-5460f1086be1.png)

[2021-11-08 23:37] jlsnow301 commented on #414
same issue, i am on windows, the error shows that the directory is duplicated:

```error: Could not read from file: C:\Users\username\Desktop\Projects\myapp\C:\Users\username\Desktop\Projects\myapp\.aleph\production\vendor.bundle.entry.js   ```

this is a totally fresh install.

[2021-11-12 10:45] talentlessguy opened #428 "Getting "http: response headers already sent" on Deno 1.16.1"
Example code: (`api/wallet.ts`)

[code]

Example request:

[code]

Environment
- Aleph version: 0.3.0-beta.19
- Deno version: 1.16.1
- React version: 17.0.2

[2021-11-13 02:56] akaFTS opened #429 "Is Aleph still moving forward?"
I love Aleph; even though it is in its early stages, I still find it cleaner, faster and more stable than some mature builders like Parcel. However, it's been almost two months with no new releases and only a handful of commits. New bugs are being left unaddressed. Has @ije abandoned the project or is it just temporary? It is hard to invest in adopting a framework without knowing if it still has a

[2021-11-13 06:58] ije commented on #429
@akaFTS since Deno has support `compat` mode, i think we can run nextjs in deno in the future directly, and nextjs now use swc as the compiler too that's very amazing and fast! at alephjs side, i decided to re-design the framework, the new system will be powdered by wasm that can run any edge network, for example deno deply, and it will support any UI frameworks like react/Vue/sevlte...
i almost h

[2021-11-13 16:26] akaFTS commented on #429
I'm looking forward to what you have in mind for the new Aleph! Do you plan on keeping the same API layer, or will there be breaking changes?

[2021-11-14 16:30] hazae41 commented on #428
Hello, thank for submitting this issue.

Can you try to isolate the bug by finding what works in your code and what does not?

[2021-11-17 03:20] volkanunsal opened #430 "Cannot start"
[code]

[2021-11-21 16:05] JoshuaSchlichting opened #431 "Aleph install instructions leave users with "command not found: aleph""
Installed on macOS Big Sur with zsh, using instructions from https://alephjs.org/docs/get-started

Current Deno version:
[code]

Install instructions from https://alephjs.org/docs/get-started as of the timestamp of this post:

[code]

[2021-11-21 16:35] AnInternetTroll commented on #431
How did you install deno?
And can you run `$DENO_INSTALL/bin/aleph -h`?

[2021-11-21 16:49] JoshuaSchlichting commented on #431
Deno was installed via [`brew`](https://brew.sh).

[code]

[2021-11-21 16:49] JoshuaSchlichting commented on #431
Deno was installed via [`brew`](https://brew.sh).

[code]

[2021-11-21 16:59] AnInternetTroll commented on #431
After a very quick peak at their [formula](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/deno.rb) they don't install deno with [the proper script](https://deno.land/x/install/install.sh) nor do they set `DENO_INSTALL` and add `DENO_INSTALL/bin` to `PATH` as the script would instruct you to, so in that case `deno install` will never work with anything, not just aleph (which calls `den

[2021-11-21 17:20] JoshuaSchlichting commented on #431
I ran the aleph install commands inside of a [`denoland/deno:1.16.2`](https://hub.docker.com/r/denoland/deno) container and all is working properly. With that, I think your assessment sounds accurate!

@AnInternetTroll, thank you for your assistance this Saturday morning!

[2021-11-21 17:21] #431 closed

[2021-11-22 08:33] vincenzopalazzo commented on #430
I think here you are only trying to run another version of aleph. try --help to have more info on the commands supported

[2021-11-26 06:53] DTrejo commented on #409
Thanks for Aleph!

---
Here is my solution so far, which works locally but not when deployed, sadly, getting `DEPLOYMENT_FAILED`:

[code]

- commit `dist/` to git

create `main.js` for deno deploy
[code]

[2021-11-26 09:05] ije commented on #409
i am redesigning the framework to support deno deploy, in fact it will support any edge worker for example cloudflear

[2021-12-06 20:31] aricart opened #432 "CORS support"
Hi there thanks for Aleph!

It would be awesome if Aleph supported a simple CORS directive, similar to what the file server in Deno does `--cors` (https://deno.land/std@0.95.0/http/file_server.ts). This would allow Aleph to work right out of the box without having to write a custom server during the dev process.

[2021-12-06 21:29] aricart opened #433 "aleph build doesn't honor deno.json target"
Doing a build to try to bypass the CORS issue, seems to fail:

[code]

The `deno.json` file is configured as
[code]

I noticed that there's a recent unreleased fix towards this, so I attempted a build from master:

`deno install -A --unstable --no-check --location http://localhost/ -n aleph -f https://raw.githubusercontent.com/alephjs/aleph.js/master/cli.ts`

But the error is still present.

[2021-12-07 15:29] aricart commented on #432
After digging through the source a bit - found the wonderful `aleph.config.json` which allows:
[code]

[2021-12-07 15:29] #432 closed

[2021-12-17 11:54] calebeaires commented on #429
Thanks @ije. I am following this movement since the beginning of Aleph! Hope it could be launched soon

[2021-12-23 04:42] samthecodingman commented on #414
For anyone else stumbling across this issue, the problem lies with the plugins defined in [~/bundler/esbuild.ts](https://github.com/alephjs/aleph.js/blob/93ff6f078e3c5f54db6082452e1da12cf7b02026/bundler/esbuild.ts) which are attached to the `esbuild` instance imported into `~/bundler/mod.ts`.

In the plugins they make the assumption that a path must lead with `/` to be absolute, which is accurate

[2021-12-25 08:29] hiraginoyuki commented on #418
I was concerned about the same issue, so I tried to find the cause.
And I think these lines are suspicious (although I'm not sure): https://github.com/alephjs/aleph.js/blob/93ff6f078e3c5f54db6082452e1da12cf7b02026/bundler/mod.ts#L173-L181
I will do further investigations.

[2021-12-30 14:21] Laegel opened #436 "Build fails because {file}.tailwind.css.bundling.js was not found"
Hey guys, thanks for Aleph.js!

I'm using a custom version of @ije 's Windi CSS plugin but it shouldn't have an impact here.

In the generated module `/app/.aleph/production/app.bundling.js`, you can see the first import:
[code]
I don't understand where these `import "./app.tailwind.css.bundling.js";` come from, leaving them empty doesn't prevent the app to be built and displays properly.
My worka

[2022-01-03 08:59] Industrial opened #437 "Flash of Unstyled Content"
Hi!

I'm experiencing a FOUC on my app (https://deno-fbp.vercel.app/) and I am not sure how to solve it.

I'm using MaterialUI and that uses Emotion for styling. The solution with Next.js is to write a custom `_document.tsx` that will collect all the used styles during Server Side Rendering and it will add it to the HTML output in the `<head>` so that it's loaded before the rest of the HTML. This

[2022-01-04 07:50] Xeevis commented on #42
With recently published [TailwindCSS Standalone](https://tailwindcss.com/blog/standalone-cli) it's quite easy to use TailwindCSS with [`Deno.run`](https://deno.land/manual/examples/subprocess) with no Node whatsoever. To be able to use PostCSS plugins there are official modules for both [PostCSS ](https://deno.land/x/postcss) and for example [postcss-import](https://deno.land/x/postcss_import).

P

[2022-01-05 22:09] gurk commented on #386
Deno now supports importing JSON as module.

https://deno.com/blog/v1.17#import-assertions-and-json-modules

Dynamic importing works with Aleph, but local and remote seem to not.

`TypeError: Expected a "JavaScript" module but loaded a "JSON" module.
    at async Aleph.getAPIRoute (https://deno.land/x/aleph@v0.3.0-beta.19/server/aleph.ts:486:29)
    at async Server.handle (https://deno.land/x/alep

[2022-01-26 05:14] denyncrawford opened #438 "Could not read from file vendor.bundle.entry.js"
When I run the build command it shows:

![image](https://user-images.githubusercontent.com/28849055/151107637-127adb27-798b-452f-8ac4-2178a9c74d05.png)
The it fails because it can't read this file:

![image](https://user-images.githubusercontent.com/28849055/151107300-c5f815b2-f8ec-4da4-abe2-10d2736b56b9.png)

Seems like it is formating wrong that path, when I run `aleph build` , seems to write so

[2022-02-04 12:39] TomokiMiyauci commented on #160
@laurogripa I have published [aleph_plugin_mdx](https://deno.land/x/aleph_plugin_mdx@v1.0.0).
This supports MDX 2.

[2022-02-06 10:39] L1ghtingBolt commented on #414
Hey, @samthecodingman , how do I change that in my project? I'm facing this issue too!

[2022-02-13 10:39] 97carmine opened #445 "HTML tag "a" with "mailto" generates incorrect URLs"
"mailto" links are incorrect generated.

Source code:
[code]

Browser HTML:
[code]

aleph --version output:
[code]

[2022-02-13 13:11] ije commented on #445
try to add `target="_blank"`, this will be fixed in future update

[2022-02-13 15:53] NaincyKumariKnoldus commented on #445
Hey @97carmine Can I solve this?

[2022-02-13 16:07] 97carmine commented on #445
As @ije indicated, adding 'target="_blank"' solves the problem even if it is a temporary solution.

@NaincyKumariKnoldus Sure.

[2022-02-13 17:10] NaincyKumariKnoldus commented on #445
But @97carmine I didn't found this <a href="mailto:John Doe<john.doe@example.com>">john.doe@example.com</a>
anywhere in source code. Can you help me?

[2022-02-13 17:26] 97carmine commented on #445
@NaincyKumariKnoldus It is an example, the error I indicate is that the current path is added in the URL of the attribute "href" when generating the label "a" when using "mailto"

[2022-02-21 03:13] Macil opened #446 "Changes to CSS files are reset after refresh"
If you run the hello-world example in dev mode and make an edit to `examples/hello-world/style/index.css` (such as adding `background: blue;` on the main element), then it will apply immediately. But if you refresh the page, the CSS will switch back to how it was when you started the dev server (until you make another change).

If you make any change to the page or any of its React components, the

[2022-02-21 03:17] Macil commented on #419
I investigated this issue a bit and I think there's two parts to it:

1. https://github.com/alephjs/aleph.js/issues/446, which is an issue common to all CSS files.
2. When a CSS module is changed and recompiled, then the classnames in the selectors are re-randomized, but the page and components that import the CSS module aren't re-rendered, so the rendered elements still refer to the old classname

[2022-02-21 16:46] WilliamRagstad commented on #438
I am getting the same issue, please fix as soon as possible.
This is preventing any hosting of apps built on the framework, breaking for both Vercel and Heroku for me.

[2022-02-21 16:51] TomokiMiyauci opened #447 "Dev mode: Content did not match."
When I update a component file imported from page component, it is rendered correctly by HMR.
However, when I reload the browser, the following warning appears in the browser console.

[code]

This warning can be resolved by updating the page component file.

Expected:
When a module file imported from page is updated, the contents of the dev server will also be updated.

[2022-02-21 16:55] TomokiMiyauci commented on #447
#446 It's probably a common problem.

[2022-02-25 14:44] bobwatcherx opened #448 "deploy to vercel "Command deno run -A https://deno.land/x/aleph/cli.ts build exited with 1""
my vercel settings dashboard:

build command : deno run -A https://deno.land/x/aleph/cli.ts build
output : dist
install command : curl -fsSL https://deno.land/x/install/install.sh | DENO_INSTALL=/usr/local sh

but i have error

Error! Command "deno run -A https://deno.land/x/aleph/cli.ts build" exited with 1

[2022-02-28 11:22] tracker1 opened #449 "OpenAPI Support for API endpoints"
It would be nice if there were an ***easy*** way to support publishing [OpenAPI Specification](https://swagger.io/specification/) specifications for api routes.  Possibly via decorators on API route handlers.

`/openapi.json` and `/openapi.yaml` at build time.

[2022-03-01 04:33] TomokiMiyauci commented on #448
You maybe need to fix the version of Deno.

Build command: /vercel/.deno/bin/deno run -A https://deno.land/x/aleph/cli.ts build
Installl command: curl -fsSL https://deno.land/x/install/install.sh | sh -s v1.18.0

[2022-03-01 04:34] TomokiMiyauci commented on #448
@bobwatcherx

[2022-03-01 05:24] bobwatcherx commented on #448
I Will try it .

Pada tanggal Sel, 1 Mar 2022 11.34, Satoshi ***@***.***>
menulis:

[2022-03-11 03:42] chezhe commented on #431
You can also add `~/.deno/bin` to `$PATH`

[2022-03-13 00:48] bobwatcherx commented on #448
**SOLVED , THANKS**

[2022-03-13 00:48] #448 closed

[2022-03-15 21:24] francipvb commented on #438
Hello, same here

[2022-03-23 12:00] TomokiMiyauci commented on #407
Simply import `react-dom` and SSG to reproduce.

it seems to be possible to work around this by using dynamic import.

[2022-03-24 22:07] ledben commented on #438
Hi, is there any solution ?

[2022-03-25 10:50] denyncrawford commented on #438
@ledben I guess there's no intention on fixing this since I think they are refractoring right now.

[2022-03-26 02:06] codehz opened #450 "Cannot use import map for imported libraries"
For example:
This is my library, that required those import_map entries
[code]
it works fine in deno cli, but failed in aleph.js (build, dev), log:
<details>

<pre>
WARN Download https://deno.land/x/mtproto@v0.1.6/transport/codec/mtproto/crypto/aes.ts failed, retrying...
WARN Download https://deno.land/x/mtproto@v0.1.6/transport/codec/mtproto/common/dc.ts failed, retrying...
INFO Download https://

[2022-04-03 13:08] officialgoofer opened #451 "anchor tag to href="/" is broken"
I have just created a project and I added an about.tsx page to test things out. So far in the about page I only have this code:

[code]

Somehow, by just hovering over the `go to home` link, the page styling changes, everything and moves to the centre of the screen.
Taking a look at the inspector, I see that whenever I hover over that link, the main.css file (originally included in index.tsx) gets

[2022-04-12 00:23] stav commented on #431
In my case `~/.deno/bin` was already in my path but `land aleph` did not create the `aleph` script there so I did it and it worked.

    echo 'exec deno run -A "https://deno.land/x/aleph@v0.3.0-beta.19/cli.ts" "$@"' > ~/.deno/bin/aleph
    chmod 755 ~/.deno/bin/aleph

[2022-04-17 23:54] Mike96Angelo opened #453 "Reduce Deno permissions for cli."
Does aleph cli really need all permissions? Instead of installing aleph cli with `-A` it would be better if it listed the minimum permissions needed to function.

[2022-04-21 08:11] chen244 opened #454 "Warning the configuration file "deno.json" contains an entry for "importMap" that is being ignored."
However , the key is in the new deno.json , I hope it will not show the warning

[2022-04-21 08:25] chen244 commented on #454
And how to install old version? I use 0.3.0.. The change is too big..

[2022-04-21 08:27] chen244 commented on #454
And I wonder why
"Failed to add source map for './routes/index.tsx"

[2022-04-21 08:36] chen244 commented on #454
I see, the aleph is just a script.. I can run it myself, but I still wonder why failed to add source map..

[2022-04-22 04:59] heinthanth commented on #454
I think it's issue from Deno. Here it's, https://github.com/denoland/deno/issues/14246.

[2022-04-23 10:13] tomkimsour opened #457 "Warning: Expected server HTML to contain a matching <div> in <div>."
when starting my app with ```land aleph dev```
everything seems to compile just fine but when I open the page in a web browser, I get error 404 and the console shows this message
[code]

[2022-04-23 16:27] ije commented on #457
sorry, i did some break changes in alpha.6, you fix it by change `<ssr-body>` to `` in the `index.html`

[2022-04-23 17:26] ije commented on #457
alpha.8 fixed the 404 error, please try again, thanks!

[2022-04-23 19:04] #457 closed

[2022-04-23 23:21] mohsen1 opened #458 "Module not found "https://deno.land/x/aleph/install.ts""
Can not install using the instructions here:
https://alephjs.org/docs/get-started

[code]

[code]

[2022-04-24 10:46] tomkimsour commented on #458
If I understood well, this file has been removed in 1.0.0-alpha. Note that the documentation is outdated.
But if you want to give it a try you can use [land](https://deno.land/x/land)
[code]
don t forget to import the path variable shown in the terminal and then you can run
[code]

[2022-04-24 10:47] tomkimsour opened #459 "Css fonts are not imported"
Am I the only person who has a problem with fonts ?
I just did this but none of the fonts are used
[code]

[2022-04-24 20:45] #437 closed

[2022-04-25 08:25] ije commented on #459
just have a look, seems it works for me, did you try other fonts? and ensure the file `fonts/PPNeueMontreal-Book.otf` exist in you project dir

[2022-04-25 22:37] tomkimsour commented on #459
Well in the end it was just due to a wrong css. One comment got removed and was interpreted as wrong code so the whole font section got removed.

[2022-04-25 22:38] #459 closed

[2022-04-26 04:08] chen244 opened #460 "The target of build is run"
I run the deno tasks build , and it creates a fold named dist. However , there is no index.html in the fold, even there is a file names main.tsx..there maybe something wrong with the build command?

[2022-04-26 05:13] heinthanth commented on #460
SSG is dropped in the new version! So, we can't generate a static site. Maybe later, the developers will give us some workaround.

[2022-04-26 07:31] ije opened #461 "Roadmap 1.0.0"
Before we release the **1.0.0**, a few more things need to be done:

- [ ] bundle modules when execute `build` command, but keep **ESM** format
- [ ] routes `generate` mode that allows you to run the `server.tsx` without the CLI
- [ ] cache API for SSR/build output
- [ ] better error handling
- [ ] [framework](https://github.com/alephjs/aleph.js/tree/main/framework/vue) support for Vue.js (**if an

[2022-04-26 07:32] #94 closed

[2022-04-26 08:05] ije commented on #460
The goal of the new version is serverless first, the `build` command builds JS serverless platform like deno deploy or Cloudflare that doesn't support dynamic import, also pre-build JS for client(browser). in your deno env, you can run `deno task start` after `build`

[2022-04-26 08:23] chen244 commented on #460
I think SSG is needed.. I want to use aleph.js in tauri and electrion. there ssg is needed..

[2022-04-29 07:49] tomkimsour opened #463 "Deno linter error on unocss presets in server.tsx"
uno-css seems to work fine but deno linter puts some error that I don't understand. Could anyone explain to me what happens here ?
[code]

[2022-04-29 11:23] ije commented on #463
try to remove dir from `deon info`, i will add `reload` flag for next realese

[2022-04-30 20:26] ije commented on #463
i added `--reload` flag in the latest update, you can try `deno task dev --reload`

[2022-04-30 20:26] #463 closed

[2022-05-02 06:15] tomkimsour commented on #463
to what file should I add this ?

[2022-05-03 09:40] linbingquan commented on #458
install aleph cli:

[code]

init vue template:

[code]

init react template:

[code]

[2022-05-07 23:45] linbingquan opened #465 "Suggestion: `framework/vue` support typscript"

[2022-05-08 03:41] ije commented on #465
it supports, but vscode can not work yet

[2022-05-11 11:55] ije opened #467 "[framework/vue] Missing route data when redirect page"
@linbingquan can you please have a look? data from SSR is ok.

https://user-images.githubusercontent.com/2883484/167843623-728d7102-ac55-4606-b290-e5ba91799006.mov

[2022-05-11 18:03] linbingquan commented on #467
https://github.com/alephjs/aleph.js/blob/c32e2c65e1efc81f53dbdf9d3be4b10bb5e9ae7a/framework/vue/router.ts#L57-L63

I found it is execute twice, it make data is `undefined`.

[2022-05-12 08:24] ije commented on #467
thanks 👍

[2022-05-12 08:24] #467 closed

[2022-05-15 10:42] elycheikhsmail opened #469 "each example must has it's config"
I try to run vue example in local but don't know how ? what must be the config file content ? what must be import map ? what command ?...if there deno.json file and import_map.json and command in read me it will we be easy to run this example in local.

[2022-05-15 10:47] elycheikhsmail opened #470 "lite aleph cli"
alephjs cli is already lite but I think only aleph init is needed in this cli, other commands must be from local file in the project for example
deno run manage.js dev instead of aleph dev where manage.js is file generated where aleph init was executed like in django

[2022-05-15 10:52] elycheikhsmail opened #471 "aleph init --template"
I think we need template option for example vue-template react-template ...

[2022-05-15 10:59] elycheikhsmail commented on #465
component in 2 or 3 file like this :
myComponent/
    index.vue
   index.ts or index.ts
I think this will give deno lsp possibility to check "vue" code

[2022-05-15 11:02] elycheikhsmail commented on #453
I think my suggestion in https://github.com/alephjs/aleph.js/issues/470#issue-1236251720 can help there

[2022-05-15 11:05] elycheikhsmail commented on #449
I think this is not specific to alephjs. If there possibility to support openAPI Spec in deno then it will there possibility to use it in alephjs

[2022-05-15 12:24] ije commented on #469
when you execute `cli.ts init` all the config will be added, in the framework repo they share the top config

[2022-05-15 12:27] ije commented on #471
it supports actually, try `cli.ts init --template=vue`

[2022-05-15 12:38] elycheikhsmail commented on #471
Thank you
I will try

[2022-05-15 12:47] #471 closed

[2022-05-15 21:26] elycheikhsmail commented on #469
That means aleph cli init generate react example by default and vue example when --template vue flag passed

[2022-05-15 21:26] #469 closed

[2022-05-15 21:28] elycheikhsmail commented on #470
I think already, I open this issue befor test the recent alephjs version

[2022-05-15 21:28] #470 closed

[2022-05-24 18:07] About7Sharks commented on #458
I received an error for this. But got it to work by also including the `--unstable` flag.

[2022-05-25 04:58] CanRau commented on #409
Guess can be closed now 🤓

[2022-05-25 05:26] #409 closed

[2022-05-25 05:27] ije commented on #409
@CanRau now the problem is to support vercel 🙈

[2022-05-25 05:40] CanRau commented on #409
Haha life 😅

[2022-05-26 14:16] tomkimsour opened #479 "alpha.56 made my pages all blank"
Here are all the logs from the browser console after running my web app
[code]

[code]

[code]

[code]

[code]

[code]

[2022-05-26 14:21] ije commented on #479
seems you got multiple react copies, did you try to disable the cache in the network panel of devtools?

[2022-05-26 14:28] tomkimsour commented on #479
well, that fixed it. But wouldn't that mean it could happen as well if someone else open it in a browser?

It also seems like i have react errors with element that has the same key. This is the problem right ?

[2022-05-26 14:29] #479 closed

[2022-05-26 14:29] tomkimsour commented on #479
the error is just react related

[2022-06-04 17:36] osilkin98 commented on #42
@ije That link is broken when I try to follow it.

[2022-06-04 18:17] osilkin98 opened #483 "Port Override"
I would like to override which port the server runs on, which appears to be `8080` by default.
I can see that it's being set from some `__ALEPH_SERVER` entry with Reflect, but I'd like to be able to override this either through env or as a commandline argument.

[2022-06-04 18:28] osilkin98 commented on #483
Never mind, there is a `port` property which sets this in the `ServerOptions` object in `server.tsx`

[2022-06-04 18:28] #483 closed

[2022-06-08 15:58] aslilac opened #484 "`<Link>`s `to` prop should accept `undefined`/`null`/`""` as values"
In particular, you get a runtime error when passing `""` because it fails a truth-y check. Being able to pass undefined and null, and treating them as `""` would be an additional bonus.

[2022-06-23 11:02] slashwhatever commented on #190
Still broken for me

[code]

[2022-06-24 21:39] elverskog opened #485 "module build error: when this is defined/typed as an arg, function run from call"
I get a **browser** error (pasted at bottom) when running aleph as `deno task dev`, when using [pouchdb_deno](https://github.com/aaronhuggins/pouchdb_deno).

`deno task build`, with that module in place, is a whole different topic (some panic about threadpooling).

Anyways...There's a callback that is supposed to be passed down a chain.
It becomes `undefined` early in the chain, eventually causing

[2022-06-26 23:58] aaronhuggins commented on #485
Relevant TypeScript compiler doc for suing `this` parameter definition.

https://www.typescriptlang.org/docs/handbook/2/functions.html#declaring-this-in-a-function

[2022-06-27 22:02] o-az opened #487 "UnoCSS example doesn't work"
Tried opening the UnoCSS example https://aleph-unocss.deno.dev:

![https://aleph-unocss.deno.dev/](https://user-images.githubusercontent.com/23618431/176043132-15dd2e62-b560-4f7b-a4b4-1057a99d517c.png)

[2022-06-28 01:51] ije commented on #487
fixed, it's error of the icons-preset fetch icon SVG from CDN

[2022-06-28 01:51] #487 closed

[2022-07-02 13:11] oyzhen opened #489 "aleph 1.0.0-alpha.78 cannot build"
My Deno version: `1.23.1`

Project created by `deno run -A https://deno.land/x/aleph@1.0.0-alpha.78/cli.ts init --template react`

While execute `deno task build`, error occurs:

[code]

[2022-07-03 05:12] jwaguirr opened #490 "Unsupported pseudo class or element: nth-child at ./style/app.css:28:35"
When doing :nth child in the css module, I receive this error.

[2022-07-05 18:19] #490 closed

[2022-07-13 19:20] kuhlaid opened #497 "Getting started error"
When running the Getting started command `deno run -A https://deno.land/x/aleph@1.0.0-alpha.88/init.ts --template react` (from https://github.com/alephjs/aleph.js/blob/main/README.md) I get the error

[code]

[2022-07-13 19:30] kuhlaid commented on #497
Required deno update. After deno update the error resolved.

[2022-07-24 03:49] xuybin opened #502 "deno vendor"
deno run -A https://deno.land/x/aleph@1.0.0-alpha.90/init.ts --template react

C:\aleph90> deno vendor .\main.tsx .\server.ts
Vendored 135 modules into vendor/ directory.

C:\aleph90> deno task dev
Warning deno task is unstable and may drastically change in the future
Task dev deno run -A -q server.ts --dev
error: Relative import path "react" not prefixed with / or ./ or ../ and not in import map

[2022-08-10 01:19] #502 closed

[2022-08-14 14:55] ahuigo opened #505 "antd: SSR TypeError: Cannot read properties of null (reading 'useContext')"
I want to use alephjs with antd, but I'm getting some errors that I couldn't solve with Google.

## Version
aleph 1.0.0-beta.1

## Reproduced code
[code]
 Error
[code]

[2022-08-14 21:28] ahuigo commented on #505
There are some compatible problem with antd.

If I have time, I plan to migrate the antd's base component to deno platform:
https://github.com/react-component

[2022-08-15 17:59] ije commented on #505
this is a cache problem, try `deno run -r -A server.ts`

[2022-08-15 19:13] ahuigo commented on #505
Other problems arise.

It looks like `esm.sh` has conversion error which break the generation of `window.__ROUTE_MODULES`

https://esm.sh/v91/antd@4.22.5/es2022/antd.development.bundle.js
[code]
<img width="973" alt="image" src="https://user-images.githubusercontent.com/1781999/184698545-6f6f9af5-f849-4519-8884-0b58809999ce.png">

[2022-08-16 20:04] ahuigo commented on #505
This problem may be caused by server/transformer.ts.

When I debug my code and step into transformer.ts via `deno run -A --inspect --inspect-brk`.

Another error was thrown in this code:
https://github.com/alephjs/aleph-compiler/blob/main/dist/compiler.js#L221
[code]

I don't know why. Here is my system info:
[code]

[2022-08-25 11:08] ahuigo opened #506 "Bug: aleph parseDeps is not compatible with MagicString when processing unicode"
Aleph's `parseDeps` uses bytes as units, while `MagicString` uses unicode characters as units.

This may cause some problem, e.g.
[code]
Another bad case: https://github.com/alephjs/aleph.js/issues/505

[2022-08-25 11:28] #195 closed

[2022-08-29 12:04] ije commented on #506
oh, thanks for the details!! i will look into it

[2022-09-06 19:05] leogildo10 commented on #409
hello there, any soluction to deploy aleph.js to deno deploy?

[2022-09-08 07:02] #506 closed

[2022-09-08 07:04] ije commented on #506
i add a `MagicString` alternative class instead https://github.com/alephjs/aleph.js/commit/d6066a2bdd279c426101c8e98b26ef1bbad6aed6#diff-0edf38bf7f872ff648fee3cb962cd97497d4fb5cdb8bb200651ccd7312a835e9R468

[2022-09-08 07:05] ije commented on #506
since i can't change the swc ast range output

[2022-09-09 14:27] ahuigo commented on #506
It works!

By the way, your folder **.git** is too big, how about cleaning it up?

[2022-09-09 14:27] #505 closed

[2022-09-09 14:48] ahuigo opened #507 "Is it possible to support `import "./external.css"` expression?"
What I mean is that, is it possible to **ignore** this `import "external.css"` expression at hydrate **server side**?

Since this expression can only be used at **browser side**.

<img width="1008" alt="image" src="https://user-images.githubusercontent.com/1781999/189377926-3df7dc02-5443-4888-aef2-128b5141d4bc.png">

[2022-09-16 08:44] ddosakura commented on #507
try `<link />` in `<Head  />`:

[code]

[2022-09-16 10:22] ahuigo commented on #507
@ddosakura  This is not a good way for external package.
Maybe, we should wait Deno to implement it.
https://github.com/denoland/deno/issues/11961

[2022-09-16 13:09] ddosakura opened #508 "Error using tls in development mode"
[code]

`server.ts`:

[code]

log:

[code]

cause by [server/routing.ts#L21](https://github.com/alephjs/aleph.js/blob/1.0.0-beta.6/server/routing.ts#L21):

[code]

[2022-09-17 07:58] #508 closed

[2022-10-01 06:14] MarioIshac opened #510 "Prefix All URLs With Root URL"
See https://maximorlov.com/deploying-to-github-pages-dont-forget-to-fix-your-links/#prefix-all-links for more context, what is the equivalent solution in Aleph.js?

[2022-10-01 08:16] ije commented on #510
currently you can not configure the `basePath` of the router, I'm working on it!

[2022-10-09 23:51] nberlette opened #511 "[docs] [bug] irregular `import` statement in prose on front page of docs"
On the [front page of the Aleph Documentation site](https://alephjs.org/docs), in the first section of prose, is this peculiar import statement right above the title text:

<img width="1407" alt="Screen Shot 2022-10-09 at 4 13 57 PM" src="https://user-images.githubusercontent.com/11234104/194784141-e3bd3abe-3eef-4655-a10d-3875af0647ad.png">

Unfortunately I don't have time today to investigate wha

[2022-10-10 16:27] Abiti-936 opened #512 "Set CORS Headers using Middleware"
I am trying to build a Rest API using Alephjs & Alephjs file based routing is Great, but When I am trying to set CORS headers for all routes, I can't do it using a middleware.

I am try to do it like these:

[code]

I think there should be a way of getting a route response within a middleware?

Thanks.

[2022-10-12 16:08] ije commented on #512
in **1.0.0-beta.20** you can do this!

[2022-10-12 16:08] #512 closed

[2022-10-20 06:49] zhenfeng-zhu opened #513 "deno deploy error"
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/6822558/196876032-f559167d-4a96-4b62-aa85-0c8a593ec1c7.png">

TypeError: Can not modify env vars during execution.
    at Object.setEnv [as set] (deno:deploy/js/10_env.js:11:11)
    at serve (https://deno.land/x/aleph@1.0.0-beta.20/server/mod.ts:375:14)
    at serve (https://deno.land/x/aleph@1.0.0-beta.20/runtime/react/s

[2022-10-20 07:32] ije commented on #513
fixed in beta-21, thanks!

[2022-11-06 17:19] dbmohit commented on #511
is this open? can I work on this

[2022-11-17 07:35] shinspiegel commented on #484
Looking into the source, it was clear that the property isn't optional.
I'm not sure if this would be a good change.

You can validate the `to` prop before creating the element.
I don't know, maybe the owners of the project could give some light on this topic.

[2022-11-18 03:49] liwei511 opened #518 "TypeError: Cannot read properties of undefined (reading 'port')"
bogon:deno-react didi$ deno task dev
Task dev deno run -A dev.ts
Initialized aleph-compiler WebAssembly in 113.03ms.
INFO [dev] Watching for file changes...
error: Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'port')
  port = (server.addrs[0] as Deno.NetAddr).port;
                                           ^
    at serve (https://deno.land/std@0.155.0/http/server.

[2022-11-18 03:50] liwei511 commented on #518
deno 1.28.1 (release, aarch64-apple-darwin)
v8 10.9.194.1
typescript 4.8.3

[2022-11-18 03:50] liwei511 commented on #518
MacOS 13

[2022-11-18 03:51] liwei511 commented on #518
错误位置：https://deno.land/std@0.155.0/http/server.ts?source=#L591

[2022-11-18 03:53] liwei511 commented on #518
when
[code]

[2022-11-18 07:22] #518 closed